i2s flows 1884.json
[{"id":"d917d48.65dd128","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"9a363438.6cb55","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"8b46b35b.4844e","type":"modbus-client","z":"","name":"dataServerI2s","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"c55ac782.5d3528","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"e15565d6.eea108","type":"ui_group","z":"","name":"Default","tab":"c55ac782.5d3528","disp":true,"width":"6","collapse":false},{"id":"371eed8f.080b82","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"80a645c2.1ab548","type":"modbus-read","z":"d917d48.65dd128","name":"JIT201_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":60,"wires":[["71849a92.79eb44"],[]]},{"id":"71849a92.79eb44","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["efb7c5be.9aa8f8"]]},{"id":"2697832c.143c2c","type":"modbus-read","z":"d917d48.65dd128","name":"JIT201_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":140,"wires":[["7507314d.543d8"],[]]},{"id":"7507314d.543d8","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["d12e544f.3265c8"]]},{"id":"3e7daa1.ea9a456","type":"modbus-read","z":"d917d48.65dd128","name":"JIT201_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":220,"wires":[["a0a0efac.dfdd7"],[]]},{"id":"a0a0efac.dfdd7","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["9dd308b7.08c598"]]},{"id":"f5f626ad.6c8e28","type":"modbus-read","z":"d917d48.65dd128","name":"JIT201_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"6","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":180,"y":300,"wires":[["84f0bfa3.c7c7a"],[]]},{"id":"84f0bfa3.c7c7a","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":300,"wires":[["bad1f5ec.9e4c98"]]},{"id":"da518356.d3f47","type":"modbus-read","z":"d917d48.65dd128","name":"JIT201_TOTAL_MONTH","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"8","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":380,"wires":[["baf9b9c8.f65af8"],[]]},{"id":"baf9b9c8.f65af8","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":380,"wires":[["295a6e1d.87a762"]]},{"id":"efb7c5be.9aa8f8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":60,"wires":[["89266470.754c08"]]},{"id":"d12e544f.3265c8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":140,"wires":[["e6c8c201.37a"]]},{"id":"9dd308b7.08c598","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":220,"wires":[["8aba5ad1.e545e"]]},{"id":"bad1f5ec.9e4c98","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":300,"wires":[["bcd06e6d.3785f8"]]},{"id":"295a6e1d.87a762","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":380,"wires":[["c99f0b57.a4855"]]},{"id":"717085bb.d03d6c","type":"modbus-read","z":"d917d48.65dd128","name":"JIT202_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"10","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":500,"wires":[["cb3f9d8d.7d431"],[]]},{"id":"cb3f9d8d.7d431","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":500,"wires":[["358dba9d.7258de"]]},{"id":"b9c9ebce.d596f","type":"modbus-read","z":"d917d48.65dd128","name":"JIT202_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"12","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":580,"wires":[["752db3a9.b388d4"],[]]},{"id":"752db3a9.b388d4","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":580,"wires":[["ce170b0d.0100a8"]]},{"id":"b5e21d62.ede08","type":"modbus-read","z":"d917d48.65dd128","name":"JIT202_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"14","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":660,"wires":[["57b43c19.e40f34"],[]]},{"id":"57b43c19.e40f34","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":660,"wires":[["286df2eb.82e076"]]},{"id":"5257b0f4.fc11a8","type":"modbus-read","z":"d917d48.65dd128","name":"JIT202_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"16","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":740,"wires":[["10d9932f.accabd"],[]]},{"id":"10d9932f.accabd","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":740,"wires":[["847f5fd5.1191b"]]},{"id":"29857cf0.8a38dc","type":"modbus-read","z":"d917d48.65dd128","name":"JIT202_TOTAL_MONTH","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"18","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":820,"wires":[["e5a828f1.89062"],[]]},{"id":"e5a828f1.89062","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":820,"wires":[["e5905652.5933f"]]},{"id":"358dba9d.7258de","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":500,"wires":[["fb0796fd.fe67d8"]]},{"id":"ce170b0d.0100a8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":580,"wires":[["83b4f470.aba4b"]]},{"id":"286df2eb.82e076","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":660,"wires":[["4d28fa49.a2b314"]]},{"id":"847f5fd5.1191b","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":740,"wires":[["78dd1907.745c78"]]},{"id":"e5905652.5933f","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":820,"wires":[["8541010.c25938"]]},{"id":"795443a6.a6d0a4","type":"comment","z":"d917d48.65dd128","name":"SOLAR - INVERSOR 1 JIT201","info":"","x":180,"y":20,"wires":[]},{"id":"99231292.d7d96","type":"comment","z":"d917d48.65dd128","name":"SOLAR - INVERSOR 2 JIT202","info":"","x":180,"y":460,"wires":[]},{"id":"305e5eab.6128f2","type":"modbus-read","z":"d917d48.65dd128","name":"JIT203_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"20","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":940,"wires":[["9a36b942.ee381"],[]]},{"id":"9a36b942.ee381","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":940,"wires":[["3a1914da.816d9c"]]},{"id":"9d177c73.d97e7","type":"modbus-read","z":"d917d48.65dd128","name":"JIT203_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"22","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":1020,"wires":[["a242a83b.cb5c28"],[]]},{"id":"a242a83b.cb5c28","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1020,"wires":[["c6f358c4.9c92b"]]},{"id":"3afd7abb.17ddf6","type":"modbus-read","z":"d917d48.65dd128","name":"JIT203_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"24","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":1100,"wires":[["7216e1ad.efd9b8"],[]]},{"id":"7216e1ad.efd9b8","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1100,"wires":[["a01c7006.2aa108"]]},{"id":"d40e5fc8.43817","type":"modbus-read","z":"d917d48.65dd128","name":"JIT203_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"26","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":1180,"wires":[["b51a7b1f.cf6258"],[]]},{"id":"b51a7b1f.cf6258","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1180,"wires":[["37c8025b.c4c3ae"]]},{"id":"e43dc241.624c8","type":"modbus-read","z":"d917d48.65dd128","name":"JIT203_TOTAL_MONTH","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"28","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":1260,"wires":[["bef55e97.16555"],[]]},{"id":"bef55e97.16555","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1260,"wires":[["9573dade.baf9f8"]]},{"id":"3a1914da.816d9c","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":940,"wires":[["7fbdbd2d.999bc4"]]},{"id":"c6f358c4.9c92b","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1020,"wires":[["ab556d48.0f8a2"]]},{"id":"a01c7006.2aa108","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1100,"wires":[["4060274c.5b741"]]},{"id":"37c8025b.c4c3ae","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1180,"wires":[["f9366d.b8cb999"]]},{"id":"9573dade.baf9f8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1260,"wires":[["1788cfb6.ce2f58"]]},{"id":"2a633f39.01b8b","type":"comment","z":"d917d48.65dd128","name":"SOLAR - INVERSOR 3 JIT203","info":"","x":180,"y":900,"wires":[]},{"id":"bf375f82.c6a9e","type":"modbus-read","z":"d917d48.65dd128","name":"JIT204_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"30","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":1380,"wires":[["53df43ee.3e0aac"],[]]},{"id":"53df43ee.3e0aac","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1380,"wires":[["6527cf1.e2a58b"]]},{"id":"d225eb5b.39a1e8","type":"modbus-read","z":"d917d48.65dd128","name":"JIT204_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"32","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":1460,"wires":[["85b95eae.aa1f9"],[]]},{"id":"85b95eae.aa1f9","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1460,"wires":[["a091ec8b.bd2e98"]]},{"id":"447c9c5.7dcab64","type":"modbus-read","z":"d917d48.65dd128","name":"JIT204_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"34","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":1540,"wires":[["36f08fe7.5533e8"],[]]},{"id":"36f08fe7.5533e8","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1540,"wires":[["208cb805.f3144"]]},{"id":"5111b559.853f0c","type":"modbus-read","z":"d917d48.65dd128","name":"JIT204_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"36","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":1620,"wires":[["c599628.437002"],[]]},{"id":"c599628.437002","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1620,"wires":[["b8621b8f.b31638"]]},{"id":"e9964c74.97c998","type":"modbus-read","z":"d917d48.65dd128","name":"JIT204_TOTAL_MONTH","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"38","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":1700,"wires":[["b8414d26.21ac08"],[]]},{"id":"b8414d26.21ac08","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1700,"wires":[["a4899596.0616d8"]]},{"id":"6527cf1.e2a58b","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1380,"wires":[["888ed25a.3b1f5"]]},{"id":"a091ec8b.bd2e98","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1460,"wires":[["96b85fc8.732668"]]},{"id":"208cb805.f3144","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1540,"wires":[["8ac47764.650ea8"]]},{"id":"b8621b8f.b31638","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1620,"wires":[["b91fe674.7d5c38"]]},{"id":"a4899596.0616d8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1700,"wires":[["fbe981bf.783bc"]]},{"id":"5528c6b7.140688","type":"comment","z":"d917d48.65dd128","name":"SOLAR - INVERSOR 4 JIT204","info":"","x":180,"y":1340,"wires":[]},{"id":"862dc3ed.cea4e","type":"modbus-read","z":"d917d48.65dd128","name":"JIT205_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"40","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":1820,"wires":[["da60da57.a636c8"],[]]},{"id":"da60da57.a636c8","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1820,"wires":[["84f8790.5402a08"]]},{"id":"4a67108f.7c0708","type":"modbus-read","z":"d917d48.65dd128","name":"JIT205_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"42","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":1900,"wires":[["2fa764e1.b8e364"],[]]},{"id":"2fa764e1.b8e364","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1900,"wires":[["bac775a0.b7f7e"]]},{"id":"21bb0077.c48228","type":"modbus-read","z":"d917d48.65dd128","name":"JIT205_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"44","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":1980,"wires":[["3ec3408c.b26a68"],[]]},{"id":"3ec3408c.b26a68","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":1980,"wires":[["66de173d.ad99"]]},{"id":"63b73ac1.87918c","type":"modbus-read","z":"d917d48.65dd128","name":"JIT205_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"46","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":2060,"wires":[["d79b616c.280018"],[]]},{"id":"d79b616c.280018","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2060,"wires":[["f96e089f.6a1748"]]},{"id":"d0fb0792.acec68","type":"modbus-read","z":"d917d48.65dd128","name":"JIT205_TOTAL_MONTH","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"48","quantity":"2","rate":"10","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":2140,"wires":[["308a0fe2.d7dbb"],[]]},{"id":"308a0fe2.d7dbb","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2140,"wires":[["f1d798bc.8829b8"]]},{"id":"84f8790.5402a08","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1820,"wires":[["dd0ec562.173308"]]},{"id":"bac775a0.b7f7e","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1900,"wires":[["696a7c2d.582884"]]},{"id":"66de173d.ad99","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":1980,"wires":[["e5c48238.ba9038"]]},{"id":"f96e089f.6a1748","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2060,"wires":[["175c3ff2.88758"]]},{"id":"f1d798bc.8829b8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2140,"wires":[["54682aa6.b812bc"]]},{"id":"b0be62c6.df04b8","type":"comment","z":"d917d48.65dd128","name":"SOLAR - INVERSOR 5 JIT205","info":"","x":180,"y":1780,"wires":[]},{"id":"7bf1ae3c.88bad","type":"modbus-read","z":"d917d48.65dd128","name":"JIT211_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"50","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":2300,"wires":[["9142afdf.e870d"],[]]},{"id":"9142afdf.e870d","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2300,"wires":[["e1a9d1e2.4bbe4"]]},{"id":"4b1a0944.07e1a8","type":"modbus-read","z":"d917d48.65dd128","name":"JIT211_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"52","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":2380,"wires":[["c25f0630.4d3c18"],[]]},{"id":"c25f0630.4d3c18","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2380,"wires":[["2e03cc43.c9d164"]]},{"id":"10b96334.e7983d","type":"modbus-read","z":"d917d48.65dd128","name":"JIT211_MONTH_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"54","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":2460,"wires":[["97628866.7489b8"],[]]},{"id":"97628866.7489b8","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2460,"wires":[["b28282fa.9f6e8"]]},{"id":"2984abd5.8d9064","type":"modbus-read","z":"d917d48.65dd128","name":"JIT211_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"56","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":2540,"wires":[["4c7427e5.d84228"],[]]},{"id":"4c7427e5.d84228","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2540,"wires":[["453b37b4.2f3388"]]},{"id":"fe6e9d37.3dd93","type":"modbus-read","z":"d917d48.65dd128","name":"JIT211_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"58","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":2620,"wires":[["eed1f0b9.a754c"],[]]},{"id":"eed1f0b9.a754c","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2620,"wires":[["aea886b2.73e7d8"]]},{"id":"e1a9d1e2.4bbe4","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2300,"wires":[["e5241130.c6fcc8"]]},{"id":"2e03cc43.c9d164","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2380,"wires":[["57e6cd89.960ed4"]]},{"id":"b28282fa.9f6e8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2460,"wires":[["cc7ef7e.8035988"]]},{"id":"453b37b4.2f3388","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2540,"wires":[["141a04e6.77ea0b"]]},{"id":"aea886b2.73e7d8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2620,"wires":[["49ad99ea.d53be"]]},{"id":"c0f46be8.718c78","type":"comment","z":"d917d48.65dd128","name":"EÓLICO - INVERSOR G1 JIT211","info":"","x":190,"y":2260,"wires":[]},{"id":"704d1e2a.3c034","type":"modbus-read","z":"d917d48.65dd128","name":"JIT212_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"60","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":2740,"wires":[["b96769c7.e15fd"],[]]},{"id":"b96769c7.e15fd","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2740,"wires":[["e5a2052.555b1f8"]]},{"id":"9532f890.d08768","type":"modbus-read","z":"d917d48.65dd128","name":"JIT212_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"62","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":2820,"wires":[["bfdf80c3.a702"],[]]},{"id":"bfdf80c3.a702","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2820,"wires":[["299548bf.061e4"]]},{"id":"63535a99.82a674","type":"modbus-read","z":"d917d48.65dd128","name":"JIT212_MONTH_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"64","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":2900,"wires":[["82ada24c.e7dff"],[]]},{"id":"82ada24c.e7dff","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2900,"wires":[["626331fe.3dd1f"]]},{"id":"d91f22c0.b9cb1","type":"modbus-read","z":"d917d48.65dd128","name":"JIT212_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"66","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":2980,"wires":[["7e54e74a.f2168"],[]]},{"id":"7e54e74a.f2168","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":2980,"wires":[["a2ad522e.95157"]]},{"id":"40c8f42f.bd1994","type":"modbus-read","z":"d917d48.65dd128","name":"JIT212_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"68","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":3060,"wires":[["97f35256.da0bd"],[]]},{"id":"97f35256.da0bd","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":3060,"wires":[["48bcfbff.14216c"]]},{"id":"e5a2052.555b1f8","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2740,"wires":[["6379bb85.7eee0c"]]},{"id":"299548bf.061e4","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2820,"wires":[["8feb914c.946f88"]]},{"id":"626331fe.3dd1f","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2900,"wires":[["70dcffd8.e9913"]]},{"id":"a2ad522e.95157","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":2980,"wires":[["9f643cc9.b6f07"]]},{"id":"48bcfbff.14216c","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3060,"wires":[["596381c8.edf42"]]},{"id":"7fc32022.0c827","type":"comment","z":"d917d48.65dd128","name":"EÓLICO - INVERSOR G2 JIT212","info":"","x":190,"y":2700,"wires":[]},{"id":"c111d106.a543c8","type":"modbus-read","z":"d917d48.65dd128","name":"JIT213_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"70","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":3180,"wires":[["826d4d4b.d36a28"],[]]},{"id":"826d4d4b.d36a28","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":3180,"wires":[["7d8dbe18.bf1b28"]]},{"id":"3f5c2366.760c74","type":"modbus-read","z":"d917d48.65dd128","name":"JIT213_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"72","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":3260,"wires":[["97edfcf8.030e68"],[]]},{"id":"97edfcf8.030e68","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":3260,"wires":[["eeb29813.99f878"]]},{"id":"7361ca71.b99814","type":"modbus-read","z":"d917d48.65dd128","name":"JIT213_MONTH_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"74","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":3340,"wires":[["58d6373b.21d29"],[]]},{"id":"58d6373b.21d29","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":3340,"wires":[["662bf98b.f78cb"]]},{"id":"9bf1c5a1.07bc28","type":"modbus-read","z":"d917d48.65dd128","name":"JIT213_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"76","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":3420,"wires":[["ec5caa48.0c2e98"],[]]},{"id":"ec5caa48.0c2e98","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":3420,"wires":[["7d252bfe.d03724"]]},{"id":"2324bbaa.4a5294","type":"modbus-read","z":"d917d48.65dd128","name":"JIT213_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"78","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":170,"y":3500,"wires":[["4862be8f.83c76"],[]]},{"id":"4862be8f.83c76","type":"function","z":"d917d48.65dd128","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":3500,"wires":[["4a0723c5.5bc244"]]},{"id":"7d8dbe18.bf1b28","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3180,"wires":[["b2a8f186.cdd608"]]},{"id":"eeb29813.99f878","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3260,"wires":[["be511936.b194a8"]]},{"id":"662bf98b.f78cb","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3340,"wires":[["2434a9f9.47d266"]]},{"id":"7d252bfe.d03724","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3420,"wires":[["7c66e97c.07aa4"]]},{"id":"4a0723c5.5bc244","type":"function","z":"d917d48.65dd128","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3500,"wires":[["561ec745.b51b78"]]},{"id":"4b89a8a8.eaf88","type":"comment","z":"d917d48.65dd128","name":"EÓLICO - INVERSOR G3 JIT213","info":"","x":190,"y":3140,"wires":[]},{"id":"89266470.754c08","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":60,"wires":[["58b3fe34.a36e68"]]},{"id":"8a6bd19d.aa63","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":260,"wires":[["920d2fca.1016b"]]},{"id":"4bd62fc5.3f4c88","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":180,"wires":[["920d2fca.1016b"]]},{"id":"920d2fca.1016b","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":220,"wires":[["210d6872.279b2"]]},{"id":"210d6872.279b2","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":300,"wires":[["f81734bf.08c73"]]},{"id":"6d84ddcf.061ec4","type":"delay","z":"d917d48.65dd128","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":260,"wires":[["8a6bd19d.aa63"]]},{"id":"f43a5179.c3ddb","type":"moment","z":"d917d48.65dd128","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1480,"y":180,"wires":[["4bd62fc5.3f4c88"]]},{"id":"adff5bf6.0136a","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":180,"wires":[["f43a5179.c3ddb"]]},{"id":"e6c8c201.37a","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":140,"wires":[["58b3fe34.a36e68"]]},{"id":"58b3fe34.a36e68","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":220,"wires":[["adff5bf6.0136a","6d84ddcf.061ec4"]]},{"id":"8aba5ad1.e545e","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":220,"wires":[["58b3fe34.a36e68"]]},{"id":"bcd06e6d.3785f8","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":300,"wires":[["58b3fe34.a36e68"]]},{"id":"c99f0b57.a4855","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":380,"wires":[["58b3fe34.a36e68"]]},{"id":"fb0796fd.fe67d8","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":500,"wires":[["17e7588a.e40047"]]},{"id":"16f06b67.8b087d","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":700,"wires":[["4b5b35c4.c9fcb4"]]},{"id":"9ea54725.9a6848","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":620,"wires":[["4b5b35c4.c9fcb4"]]},{"id":"4b5b35c4.c9fcb4","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":660,"wires":[["d1fafcaa.ae53e"]]},{"id":"d1fafcaa.ae53e","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":740,"wires":[["ddb98f59.aa0488"]]},{"id":"69b51967.6f6fd8","type":"delay","z":"d917d48.65dd128","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":700,"wires":[["16f06b67.8b087d"]]},{"id":"39825948.413c4e","type":"moment","z":"d917d48.65dd128","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1480,"y":620,"wires":[["9ea54725.9a6848"]]},{"id":"20569289.1f7c86","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":620,"wires":[["39825948.413c4e"]]},{"id":"83b4f470.aba4b","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":580,"wires":[["17e7588a.e40047"]]},{"id":"17e7588a.e40047","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":660,"wires":[["20569289.1f7c86","69b51967.6f6fd8"]]},{"id":"4d28fa49.a2b314","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":660,"wires":[["17e7588a.e40047"]]},{"id":"78dd1907.745c78","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":740,"wires":[["17e7588a.e40047"]]},{"id":"8541010.c25938","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":820,"wires":[["17e7588a.e40047"]]},{"id":"7fbdbd2d.999bc4","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":940,"wires":[["4f140bdc.bdd84c"]]},{"id":"b59c1147.1090e8","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":1140,"wires":[["9252f5dd.9ea058"]]},{"id":"5535dc69.99d4dc","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":1060,"wires":[["9252f5dd.9ea058"]]},{"id":"9252f5dd.9ea058","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":1100,"wires":[["59dcadd.9e03ed4"]]},{"id":"59dcadd.9e03ed4","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":1180,"wires":[["c4f5bd43.2127d"]]},{"id":"854fd821.dda6","type":"delay","z":"d917d48.65dd128","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":1140,"wires":[["b59c1147.1090e8"]]},{"id":"f9d91d6.99ac76","type":"moment","z":"d917d48.65dd128","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1480,"y":1060,"wires":[["5535dc69.99d4dc"]]},{"id":"56d62419.94bacc","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1060,"wires":[["f9d91d6.99ac76"]]},{"id":"ab556d48.0f8a2","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1020,"wires":[["4f140bdc.bdd84c"]]},{"id":"4f140bdc.bdd84c","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":1100,"wires":[["56d62419.94bacc","854fd821.dda6"]]},{"id":"4060274c.5b741","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1100,"wires":[["4f140bdc.bdd84c"]]},{"id":"f9366d.b8cb999","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1180,"wires":[["4f140bdc.bdd84c"]]},{"id":"1788cfb6.ce2f58","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1260,"wires":[["4f140bdc.bdd84c"]]},{"id":"888ed25a.3b1f5","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1380,"wires":[["fcd00766.01946"]]},{"id":"f8e62b3b.d118c8","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":1580,"wires":[["a513fa8b.b00e38"]]},{"id":"43a244b6.67d184","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":1500,"wires":[["a513fa8b.b00e38"]]},{"id":"a513fa8b.b00e38","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":1540,"wires":[["c5ba77fe.dcde28"]]},{"id":"c5ba77fe.dcde28","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":1620,"wires":[["1fce22e4.64f005"]]},{"id":"66045a85.ad4cd4","type":"delay","z":"d917d48.65dd128","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":1580,"wires":[["f8e62b3b.d118c8"]]},{"id":"a0304f66.a3959","type":"moment","z":"d917d48.65dd128","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1480,"y":1500,"wires":[["43a244b6.67d184"]]},{"id":"f4741eaf.a136f","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1500,"wires":[["a0304f66.a3959"]]},{"id":"96b85fc8.732668","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1460,"wires":[["fcd00766.01946"]]},{"id":"fcd00766.01946","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":1540,"wires":[["f4741eaf.a136f","66045a85.ad4cd4"]]},{"id":"8ac47764.650ea8","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1540,"wires":[["fcd00766.01946"]]},{"id":"b91fe674.7d5c38","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1620,"wires":[["fcd00766.01946"]]},{"id":"fbe981bf.783bc","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1700,"wires":[["fcd00766.01946"]]},{"id":"dd0ec562.173308","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1820,"wires":[["7677db4b.748f34"]]},{"id":"696ef64b.0406b","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2020,"wires":[["6f904ac9.5e598c"]]},{"id":"fc9b712a.4c908","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":1940,"wires":[["6f904ac9.5e598c"]]},{"id":"6f904ac9.5e598c","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":1980,"wires":[["fdc7201d.d076f"]]},{"id":"fdc7201d.d076f","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":2060,"wires":[["cc4685f0.4c8c5"]]},{"id":"3098b26e.8c48a6","type":"delay","z":"d917d48.65dd128","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":2020,"wires":[["696ef64b.0406b"]]},{"id":"447894de.098174","type":"moment","z":"d917d48.65dd128","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1480,"y":1940,"wires":[["fc9b712a.4c908"]]},{"id":"5d1c474e.3497e","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":1940,"wires":[["447894de.098174"]]},{"id":"696a7c2d.582884","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1900,"wires":[["7677db4b.748f34"]]},{"id":"7677db4b.748f34","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":1980,"wires":[["5d1c474e.3497e","3098b26e.8c48a6"]]},{"id":"e5c48238.ba9038","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":1980,"wires":[["7677db4b.748f34"]]},{"id":"175c3ff2.88758","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2060,"wires":[["7677db4b.748f34"]]},{"id":"54682aa6.b812bc","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2140,"wires":[["7677db4b.748f34"]]},{"id":"e5241130.c6fcc8","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2300,"wires":[["18190bc0.3049f4"]]},{"id":"21b751e3.0be556","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2500,"wires":[["b0eb4f40.fde3d8"]]},{"id":"d6b17ebf.15c0d8","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":2420,"wires":[["b0eb4f40.fde3d8"]]},{"id":"b0eb4f40.fde3d8","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":2460,"wires":[["3847b117.eab916"]]},{"id":"3847b117.eab916","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":2540,"wires":[["64657fa4.45d5c"]]},{"id":"68c5043f.85441c","type":"delay","z":"d917d48.65dd128","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":2500,"wires":[["21b751e3.0be556"]]},{"id":"c6b177be.7e57f","type":"moment","z":"d917d48.65dd128","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1480,"y":2420,"wires":[["d6b17ebf.15c0d8"]]},{"id":"3e5aae67.886522","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":2420,"wires":[["c6b177be.7e57f"]]},{"id":"57e6cd89.960ed4","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2380,"wires":[["18190bc0.3049f4"]]},{"id":"18190bc0.3049f4","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":2460,"wires":[["3e5aae67.886522","68c5043f.85441c"]]},{"id":"cc7ef7e.8035988","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2460,"wires":[["18190bc0.3049f4"]]},{"id":"141a04e6.77ea0b","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2540,"wires":[["18190bc0.3049f4"]]},{"id":"49ad99ea.d53be","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2620,"wires":[["18190bc0.3049f4"]]},{"id":"6379bb85.7eee0c","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2740,"wires":[["55b9b0f5.6d4c"]]},{"id":"ddf46fd4.165f58","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":2940,"wires":[["75cbe5aa.189e4c"]]},{"id":"bf310788.9127b","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":2860,"wires":[["75cbe5aa.189e4c"]]},{"id":"75cbe5aa.189e4c","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":2900,"wires":[["f46a0a70.3b403"]]},{"id":"f46a0a70.3b403","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":2980,"wires":[["cff700cc.8a9e68"]]},{"id":"b3a77038.589978","type":"delay","z":"d917d48.65dd128","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":2940,"wires":[["ddf46fd4.165f58"]]},{"id":"655b7c37.7af93c","type":"moment","z":"d917d48.65dd128","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1480,"y":2860,"wires":[["bf310788.9127b"]]},{"id":"d0c7394d.130cf8","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":2860,"wires":[["655b7c37.7af93c"]]},{"id":"8feb914c.946f88","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2820,"wires":[["55b9b0f5.6d4c"]]},{"id":"55b9b0f5.6d4c","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":2900,"wires":[["d0c7394d.130cf8","b3a77038.589978"]]},{"id":"70dcffd8.e9913","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2900,"wires":[["55b9b0f5.6d4c"]]},{"id":"9f643cc9.b6f07","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":2980,"wires":[["55b9b0f5.6d4c"]]},{"id":"596381c8.edf42","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":3060,"wires":[["55b9b0f5.6d4c"]]},{"id":"b2a8f186.cdd608","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":3180,"wires":[["847ce1b5.3d9128"]]},{"id":"47e56f4.652991","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":3380,"wires":[["818c81ae.4c0c6"]]},{"id":"104a815b.4312cf","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1690,"y":3300,"wires":[["818c81ae.4c0c6"]]},{"id":"818c81ae.4c0c6","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1870,"y":3340,"wires":[["99e4ec72.b564a"]]},{"id":"99e4ec72.b564a","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1820,"y":3420,"wires":[["1d35f910.fb76ef"]]},{"id":"f91731e4.f650b","type":"delay","z":"d917d48.65dd128","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1240,"y":3380,"wires":[["47e56f4.652991"]]},{"id":"24bf5365.fd9d8c","type":"moment","z":"d917d48.65dd128","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1480,"y":3300,"wires":[["104a815b.4312cf"]]},{"id":"170b5c3d.dd05c4","type":"change","z":"d917d48.65dd128","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1250,"y":3300,"wires":[["24bf5365.fd9d8c"]]},{"id":"be511936.b194a8","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":3260,"wires":[["847ce1b5.3d9128"]]},{"id":"847ce1b5.3d9128","type":"join","z":"d917d48.65dd128","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":3340,"wires":[["170b5c3d.dd05c4","f91731e4.f650b"]]},{"id":"2434a9f9.47d266","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":3340,"wires":[["847ce1b5.3d9128"]]},{"id":"7c66e97c.07aa4","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":3420,"wires":[["847ce1b5.3d9128"]]},{"id":"561ec745.b51b78","type":"aggregator","z":"d917d48.65dd128","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":850,"y":3500,"wires":[["847ce1b5.3d9128"]]},{"id":"7bee5c30.73a41c","type":"file","z":"d917d48.65dd128","name":"","filename":"/home/daniela/SOLAR_JIT201.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2110,"y":380,"wires":[[]]},{"id":"25fc1d8b.d3813a","type":"file","z":"d917d48.65dd128","name":"","filename":"/home/daniela/SOLAR_JIT202.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2150,"y":760,"wires":[[]]},{"id":"235cfaf1.9a821e","type":"file","z":"d917d48.65dd128","name":"","filename":"/home/daniela/SOLAR_JIT203.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2130,"y":1220,"wires":[[]]},{"id":"3603220e.1f223e","type":"file","z":"d917d48.65dd128","name":"","filename":"/home/daniela/SOLAR_JIT204.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2110,"y":1660,"wires":[[]]},{"id":"23ae84ea.2139dc","type":"file","z":"d917d48.65dd128","name":"","filename":"/home/daniela/SOLAR_JIT205.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2150,"y":2080,"wires":[[]]},{"id":"14b2f79d.d903e","type":"file","z":"d917d48.65dd128","name":"","filename":"/home/daniela/EOLICO_JIT211.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2150,"y":2580,"wires":[[]]},{"id":"89a2d427.02ffb","type":"file","z":"d917d48.65dd128","name":"","filename":"/home/daniela/EOLICO_JIT212.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2150,"y":3000,"wires":[[]]},{"id":"b85c8e8.f6a0f7","type":"file","z":"d917d48.65dd128","name":"","filename":"/home/daniela/EOLICO_JIT213.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2150,"y":3440,"wires":[[]]},{"id":"ac1c5809.496c68","type":"modbus-read","z":"9a363438.6cb55","name":"JIT301_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"100","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":100,"y":60,"wires":[["b4b81201.be2218"],[]]},{"id":"b4b81201.be2218","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":60,"wires":[["166403d7.beaba4"]]},{"id":"d44997a.ec1a468","type":"modbus-read","z":"9a363438.6cb55","name":"JIT301_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"102","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":140,"wires":[["594d2940.3eed68"],[]]},{"id":"594d2940.3eed68","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":140,"wires":[["e94b388c.f324e"]]},{"id":"8bb96f85.1639","type":"modbus-read","z":"9a363438.6cb55","name":"JIT301_MONTH_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"104","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140,"y":220,"wires":[["d1da9fd8.8e87a"],[]]},{"id":"d1da9fd8.8e87a","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":220,"wires":[["ba1d94cf.0639a"]]},{"id":"87efcd5a.747d38","type":"modbus-read","z":"9a363438.6cb55","name":"JIT301_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"106","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":150,"y":300,"wires":[["992c1980.ffc668"],[]]},{"id":"992c1980.ffc668","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":300,"wires":[["17fd99fd.4b1236"]]},{"id":"528f8013.998788","type":"modbus-read","z":"9a363438.6cb55","name":"JIT301_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"108","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140,"y":380,"wires":[["7c0c4c9f.fc5b8c"],[]]},{"id":"7c0c4c9f.fc5b8c","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["67cb573.604ca28"]]},{"id":"166403d7.beaba4","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":60,"wires":[["2cbf7492.4d8414"]]},{"id":"e94b388c.f324e","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":140,"wires":[["9634a5b6.474bb"]]},{"id":"ba1d94cf.0639a","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":220,"wires":[["b107c713.8c5288"]]},{"id":"17fd99fd.4b1236","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":300,"wires":[["13dcd542.1752ab"]]},{"id":"67cb573.604ca28","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":380,"wires":[["f00e53f6.c238f"]]},{"id":"f13303cf.60abe8","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES ENERGIA - BLOCO A/JIT301-JIT303","info":"","x":230,"y":20,"wires":[]},{"id":"2cbf7492.4d8414","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":810,"y":60,"wires":[["60418778.d9789"]]},{"id":"e33a4bc1.7f229","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1530,"y":260,"wires":[["6c77302e.613ac8"]]},{"id":"6f01b56a.d1dff4","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1650,"y":180,"wires":[["6c77302e.613ac8"]]},{"id":"6c77302e.613ac8","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1830,"y":220,"wires":[["30933eee.b150ba"]]},{"id":"30933eee.b150ba","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":300,"wires":[["fc0d67bc.9fb2b"]]},{"id":"ca1127c0.785638","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1210,"y":260,"wires":[["e33a4bc1.7f229"]]},{"id":"d26ba576.efec1","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1440,"y":180,"wires":[["6f01b56a.d1dff4"]]},{"id":"a6ef10e1.6bd848","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":180,"wires":[["d26ba576.efec1"]]},{"id":"9634a5b6.474bb","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":810,"y":140,"wires":[["60418778.d9789"]]},{"id":"60418778.d9789","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1030,"y":220,"wires":[["a6ef10e1.6bd848","ca1127c0.785638"]]},{"id":"b107c713.8c5288","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":810,"y":220,"wires":[["60418778.d9789"]]},{"id":"13dcd542.1752ab","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":810,"y":300,"wires":[["60418778.d9789"]]},{"id":"f00e53f6.c238f","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":810,"y":380,"wires":[["60418778.d9789"]]},{"id":"7ca7787d.c01a6","type":"modbus-read","z":"9a363438.6cb55","name":"JIT304_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"110","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":100,"y":520,"wires":[["9354e02b.f3737"],[]]},{"id":"9354e02b.f3737","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":520,"wires":[["30b58f27.7d29e"]]},{"id":"53041fa8.d01868","type":"modbus-read","z":"9a363438.6cb55","name":"JIT304_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"112","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":600,"wires":[["547fb72e.26dae"],[]]},{"id":"547fb72e.26dae","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":600,"wires":[["9b6d3f2f.b1ff9"]]},{"id":"d518efe9.b5659","type":"modbus-read","z":"9a363438.6cb55","name":"JIT304_MONTH_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"114","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140,"y":680,"wires":[["9abf0c58.421aa"],[]]},{"id":"9abf0c58.421aa","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":680,"wires":[["df270d4b.156af8"]]},{"id":"d23138a6.4aded","type":"modbus-read","z":"9a363438.6cb55","name":"JIT304_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"116","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":160,"y":760,"wires":[["dd8c2be.f5946d8"],[]]},{"id":"dd8c2be.f5946d8","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":760,"wires":[["6ad0f8c3.d4e7c"]]},{"id":"1208a036.7e7d58","type":"modbus-read","z":"9a363438.6cb55","name":"JIT304_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"118","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":140,"y":840,"wires":[["a5abaa1f.b0439"],[]]},{"id":"a5abaa1f.b0439","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":410,"y":840,"wires":[["cfe63059.79b9f"]]},{"id":"30b58f27.7d29e","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":520,"wires":[["a058f4c0.1b4798"]]},{"id":"9b6d3f2f.b1ff9","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":600,"wires":[["36287782.1ffeb8"]]},{"id":"df270d4b.156af8","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":680,"wires":[["f27266ac.c24dd8"]]},{"id":"6ad0f8c3.d4e7c","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":760,"wires":[["983d2a66.f5f978"]]},{"id":"cfe63059.79b9f","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":840,"wires":[["3b2dc6d.20683ba"]]},{"id":"831c3666.fb273","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES ENERGIA - BLOCO B/JIT304-JIT309","info":"","x":240,"y":480,"wires":[]},{"id":"a058f4c0.1b4798","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":800,"y":520,"wires":[["6626b9e7.ef1fe8"]]},{"id":"681154b5.032a24","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":720,"wires":[["f862456b.5d3bc8"]]},{"id":"260e4d57.7124a2","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1640,"y":640,"wires":[["f862456b.5d3bc8"]]},{"id":"f862456b.5d3bc8","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1820,"y":680,"wires":[["33644e22.671f0a"]]},{"id":"33644e22.671f0a","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1770,"y":760,"wires":[["f455333e.5a97e"]]},{"id":"f3cd5980.fc23f8","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1200,"y":720,"wires":[["681154b5.032a24"]]},{"id":"906515cf.308e1","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1430,"y":640,"wires":[["260e4d57.7124a2"]]},{"id":"dd03ec3c.4265b","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1200,"y":640,"wires":[["906515cf.308e1"]]},{"id":"36287782.1ffeb8","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":800,"y":600,"wires":[["6626b9e7.ef1fe8"]]},{"id":"6626b9e7.ef1fe8","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1020,"y":680,"wires":[["dd03ec3c.4265b","f3cd5980.fc23f8"]]},{"id":"f27266ac.c24dd8","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":800,"y":680,"wires":[["6626b9e7.ef1fe8"]]},{"id":"983d2a66.f5f978","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":800,"y":760,"wires":[["6626b9e7.ef1fe8"]]},{"id":"3b2dc6d.20683ba","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":800,"y":840,"wires":[["6626b9e7.ef1fe8"]]},{"id":"3a6a4888.5ff69","type":"modbus-read","z":"9a363438.6cb55","name":"JIT310_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"120","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":90,"y":980,"wires":[["8472919.477f47"],[]]},{"id":"8472919.477f47","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":980,"wires":[["97ed2c81.e3bdb8"]]},{"id":"1186d944.1d84df","type":"modbus-read","z":"9a363438.6cb55","name":"JIT310_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"122","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":1060,"wires":[["84569106.7d3ac"],[]]},{"id":"84569106.7d3ac","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1060,"wires":[["8e7ae647.9011c"]]},{"id":"d0b276d7.61a19","type":"modbus-read","z":"9a363438.6cb55","name":"JIT310_MONTH_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"124","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":1140,"wires":[["a9640582.299a18"],[]]},{"id":"a9640582.299a18","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1140,"wires":[["b4885bd2.df4718"]]},{"id":"6d74cca6.c3c3c4","type":"modbus-read","z":"9a363438.6cb55","name":"JIT310_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"126","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":1220,"wires":[["55a4873.f682878"],[]]},{"id":"55a4873.f682878","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1220,"wires":[["82762db3.1a322"]]},{"id":"4f370f3e.e91e5","type":"modbus-read","z":"9a363438.6cb55","name":"JIT310_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"128","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":1300,"wires":[["8546fcec.fa2a8"],[]]},{"id":"8546fcec.fa2a8","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1300,"wires":[["b5c8bf68.ccbcb8"]]},{"id":"97ed2c81.e3bdb8","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":980,"wires":[["40bf8fb7.4a4b08"]]},{"id":"8e7ae647.9011c","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1060,"wires":[["6ca9cf35.0067e"]]},{"id":"b4885bd2.df4718","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1140,"wires":[["c10ed79f.829ab8"]]},{"id":"82762db3.1a322","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1220,"wires":[["eca74594.49002"]]},{"id":"b5c8bf68.ccbcb8","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1300,"wires":[["197fb621.5f7ce2"]]},{"id":"4a9ac75f.4cd14","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES ENERGIA - BLOCO C/JIT310-JIT312","info":"","x":250,"y":940,"wires":[]},{"id":"40bf8fb7.4a4b08","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":980,"wires":[["497dae1a.72e988"]]},{"id":"c839879f.767618","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1180,"wires":[["14dde2cc.a58c75"]]},{"id":"ab394df1.9557d8","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1100,"wires":[["14dde2cc.a58c75"]]},{"id":"14dde2cc.a58c75","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":1140,"wires":[["702214c7.275404"]]},{"id":"702214c7.275404","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1220,"wires":[["4774283a.addeb"]]},{"id":"d78a347d.d4de38","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1180,"wires":[["c839879f.767618"]]},{"id":"d5fae30c.56864","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1420,"y":1100,"wires":[["ab394df1.9557d8"]]},{"id":"bc7c2332.8ac728","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1100,"wires":[["d5fae30c.56864"]]},{"id":"6ca9cf35.0067e","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1060,"wires":[["497dae1a.72e988"]]},{"id":"497dae1a.72e988","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":1140,"wires":[["bc7c2332.8ac728","d78a347d.d4de38"]]},{"id":"c10ed79f.829ab8","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1140,"wires":[["497dae1a.72e988"]]},{"id":"eca74594.49002","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1220,"wires":[["497dae1a.72e988"]]},{"id":"197fb621.5f7ce2","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1300,"wires":[["497dae1a.72e988"]]},{"id":"76d30a11.4384ec","type":"modbus-read","z":"9a363438.6cb55","name":"JIT318_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"130","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":90,"y":1440,"wires":[["6e760a4e.e9ab7c"],[]]},{"id":"6e760a4e.e9ab7c","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1440,"wires":[["7b9c5d1e.029494"]]},{"id":"112304a9.1e3943","type":"modbus-read","z":"9a363438.6cb55","name":"JIT318_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"132","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":1520,"wires":[["9d63260c.6e32a8"],[]]},{"id":"9d63260c.6e32a8","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1520,"wires":[["838db7fa.270bc8"]]},{"id":"1ffec234.fccaf6","type":"modbus-read","z":"9a363438.6cb55","name":"JIT318_MONTH_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"134","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":1600,"wires":[["bd86619b.1ee4b"],[]]},{"id":"bd86619b.1ee4b","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1600,"wires":[["75b2ac72.3c754c"]]},{"id":"882c7aeb.436258","type":"modbus-read","z":"9a363438.6cb55","name":"JIT318_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"136","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":1680,"wires":[["ee0f614e.bbf788"],[]]},{"id":"ee0f614e.bbf788","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1680,"wires":[["e7da725f.ce3038"]]},{"id":"175f642f.253d9c","type":"modbus-read","z":"9a363438.6cb55","name":"JIT318_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"138","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":1760,"wires":[["462b6d60.7f923c"],[]]},{"id":"462b6d60.7f923c","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1760,"wires":[["4863e86c.05bdf8"]]},{"id":"7b9c5d1e.029494","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1440,"wires":[["1163a8be.175967"]]},{"id":"838db7fa.270bc8","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1520,"wires":[["afb400dd.4efb78"]]},{"id":"75b2ac72.3c754c","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1600,"wires":[["ee09da9f.6f323"]]},{"id":"e7da725f.ce3038","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1680,"wires":[["3cbd5f9f.8d26d8"]]},{"id":"4863e86c.05bdf8","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1760,"wires":[["7ffead40.90359c"]]},{"id":"ae13e541.bea89","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES ENERGIA - OFICINA-EXTERNO/JIT318-JIT312","info":"","x":280,"y":1400,"wires":[]},{"id":"1163a8be.175967","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1440,"wires":[["2f73bcfc.763d74"]]},{"id":"6c6801.472b38","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":1640,"wires":[["cb6b0899.3e455"]]},{"id":"cf0cd022.6f52c","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":1560,"wires":[["cb6b0899.3e455"]]},{"id":"cb6b0899.3e455","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":1600,"wires":[["ea0d069d.8e797"]]},{"id":"ea0d069d.8e797","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":1680,"wires":[["d8962e2c.46c718"]]},{"id":"ecc13303.f6adc","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":1640,"wires":[["6c6801.472b38"]]},{"id":"72a822fb.673a4c","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1420,"y":1560,"wires":[["cf0cd022.6f52c"]]},{"id":"9f970ec1.c6d3b","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":1560,"wires":[["72a822fb.673a4c"]]},{"id":"afb400dd.4efb78","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1520,"wires":[["2f73bcfc.763d74"]]},{"id":"2f73bcfc.763d74","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":1600,"wires":[["9f970ec1.c6d3b","ecc13303.f6adc"]]},{"id":"ee09da9f.6f323","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1600,"wires":[["2f73bcfc.763d74"]]},{"id":"3cbd5f9f.8d26d8","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1680,"wires":[["2f73bcfc.763d74"]]},{"id":"7ffead40.90359c","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1760,"wires":[["2f73bcfc.763d74"]]},{"id":"7310a468.ffd36c","type":"modbus-read","z":"9a363438.6cb55","name":"JIT313_PAC","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"140","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":90,"y":1900,"wires":[["54ff25e4.1bd774"],[]]},{"id":"54ff25e4.1bd774","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1900,"wires":[["1d24bdd8.38ebfa"]]},{"id":"973ae4ec.403f88","type":"modbus-read","z":"9a363438.6cb55","name":"JIT313_DAY_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"142","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":120,"y":1980,"wires":[["3020b414.9863a4"],[]]},{"id":"3020b414.9863a4","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":1980,"wires":[["51d17374.fb6504"]]},{"id":"4316e52.49b2e1c","type":"modbus-read","z":"9a363438.6cb55","name":"JIT313_MONTH_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"144","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":2060,"wires":[["def2e604.d0b208"],[]]},{"id":"def2e604.d0b208","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2060,"wires":[["1f587f88.0f7ec"]]},{"id":"f105f534.dbf95","type":"modbus-read","z":"9a363438.6cb55","name":"JIT313_TOTAL_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"146","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":2140,"wires":[["11dc2476.eec43c"],[]]},{"id":"11dc2476.eec43c","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2140,"wires":[["8e94b325.14fd18"]]},{"id":"8b588957.dbe018","type":"modbus-read","z":"9a363438.6cb55","name":"JIT313_YEAR_ENERGY","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"148","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":2220,"wires":[["3c61a326.2cafb4"],[]]},{"id":"3c61a326.2cafb4","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2220,"wires":[["a98f3a78.7643e8"]]},{"id":"1d24bdd8.38ebfa","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1900,"wires":[["27bfa9bb.b5c8ce"]]},{"id":"51d17374.fb6504","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1980,"wires":[["e4c85de5.74bfb8"]]},{"id":"1f587f88.0f7ec","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2060,"wires":[["d52c2fea.1a20b8"]]},{"id":"8e94b325.14fd18","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2140,"wires":[["aab1453c.43a74"]]},{"id":"a98f3a78.7643e8","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2220,"wires":[["bc1bf251.41f308"]]},{"id":"afe5b4be.ee43e8","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES ENERGIA - GUARITA/JIT313-JIT314","info":"","x":250,"y":1860,"wires":[]},{"id":"27bfa9bb.b5c8ce","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1900,"wires":[["c8d6ce3d.0190f"]]},{"id":"4b7a5d9f.94c674","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1510,"y":2100,"wires":[["f6025cd4.b24ff8"]]},{"id":"f0edca14.1c2f68","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1630,"y":2020,"wires":[["f6025cd4.b24ff8"]]},{"id":"f6025cd4.b24ff8","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1810,"y":2060,"wires":[["12320e3f.ca54da"]]},{"id":"12320e3f.ca54da","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1760,"y":2140,"wires":[["676108f9.d55bf"]]},{"id":"d01c4ad6.1cc11","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1190,"y":2100,"wires":[["4b7a5d9f.94c674"]]},{"id":"9e2e8946.a19848","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1420,"y":2020,"wires":[["f0edca14.1c2f68"]]},{"id":"2111bd8d.93a752","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1190,"y":2020,"wires":[["9e2e8946.a19848"]]},{"id":"e4c85de5.74bfb8","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":1980,"wires":[["c8d6ce3d.0190f"]]},{"id":"c8d6ce3d.0190f","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"5","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":2060,"wires":[["2111bd8d.93a752","d01c4ad6.1cc11"]]},{"id":"d52c2fea.1a20b8","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2060,"wires":[["c8d6ce3d.0190f"]]},{"id":"aab1453c.43a74","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2140,"wires":[["c8d6ce3d.0190f"]]},{"id":"bc1bf251.41f308","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2220,"wires":[["c8d6ce3d.0190f"]]},{"id":"6f7196db.a88168","type":"modbus-read","z":"9a363438.6cb55","name":"BA_TOTAL_FLOW","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"202","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":100,"y":2540,"wires":[["abaddb38.1751e8"],[]]},{"id":"abaddb38.1751e8","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2540,"wires":[["87983fe1.40fad8"]]},{"id":"87983fe1.40fad8","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2540,"wires":[["91046582.ed4d98"]]},{"id":"3e53fe03.01c482","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES DE ÁGUA - BLOCO A (FIT101 - FIT102 - FIT103)","info":"","x":230,"y":2300,"wires":[]},{"id":"c663ea97.226938","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":2540,"wires":[["94f06140.a4649"]]},{"id":"894965e9.bd926","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":2460,"wires":[["94f06140.a4649"]]},{"id":"94f06140.a4649","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1960,"y":2500,"wires":[["2f187c94.0d804c"]]},{"id":"2f187c94.0d804c","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":2580,"wires":[["bda1e532.1a8ad8"]]},{"id":"baf790e0.63cf4","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":2540,"wires":[["c663ea97.226938"]]},{"id":"4538b47c.b36dbc","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1570,"y":2460,"wires":[["894965e9.bd926"]]},{"id":"1ba050ee.cca28f","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":2460,"wires":[["4538b47c.b36dbc"]]},{"id":"91046582.ed4d98","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2540,"wires":[["9c92b8c2.2300f"]]},{"id":"fa535f02.9753f8","type":"modbus-read","z":"9a363438.6cb55","name":"BC_TOTAL_FLOW","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"210","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":100,"y":3040,"wires":[["aff77eb3.047188"],[]]},{"id":"aff77eb3.047188","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":3040,"wires":[["3237df77.500f38"]]},{"id":"3237df77.500f38","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":3040,"wires":[["a6643d5b.da2a78"]]},{"id":"a6643d5b.da2a78","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":810,"y":3040,"wires":[["147a0d7a.df9263"]]},{"id":"3043ba3b.f1232e","type":"modbus-read","z":"9a363438.6cb55","name":"GUARITA_TOTAL_FLOW","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"214","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":130,"y":3260,"wires":[["3e4c1e72.aa9062"],[]]},{"id":"3e4c1e72.aa9062","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":3260,"wires":[["f1be3341.369248"]]},{"id":"f1be3341.369248","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":3260,"wires":[["6bc6db0d.5c1064"]]},{"id":"6bc6db0d.5c1064","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":810,"y":3260,"wires":[["2f7570a6.5c2d48"]]},{"id":"db341fef.b3db2","type":"modbus-read","z":"9a363438.6cb55","name":"FIT101_V_INSTANT","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"200","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"1","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":2360,"wires":[["f5003855.db8938"],[]]},{"id":"f5003855.db8938","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2360,"wires":[["2f309f8.476c5e"]]},{"id":"2f309f8.476c5e","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2360,"wires":[["e6bd2604.b7d678"]]},{"id":"e6bd2604.b7d678","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2360,"wires":[["9ad355fd.effa5"]]},{"id":"e694d4f8.aa076","type":"modbus-read","z":"9a363438.6cb55","name":"FIT102_V_INSTANT","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"204","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":2420,"wires":[["ccf77747.e08c9"],[]]},{"id":"ccf77747.e08c9","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2420,"wires":[["60330256.8e6c94"]]},{"id":"60330256.8e6c94","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2420,"wires":[["af004087.0a754"]]},{"id":"af004087.0a754","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2420,"wires":[["9ad355fd.effa5"]]},{"id":"83443fd6.254c58","type":"modbus-read","z":"9a363438.6cb55","name":"FIT103_V_INSTANT","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"208","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":2480,"wires":[["8585da28.7d8828"],[]]},{"id":"8585da28.7d8828","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2480,"wires":[["1726ce8c.e2c369"]]},{"id":"1726ce8c.e2c369","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2480,"wires":[["6ea55dfc.90d7bc"]]},{"id":"6ea55dfc.90d7bc","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2480,"wires":[["9ad355fd.effa5"]]},{"id":"9ad355fd.effa5","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":980,"y":2380,"wires":[["307f636e.008ddc"]]},{"id":"307f636e.008ddc","type":"calculator","z":"9a363438.6cb55","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":1010,"y":2480,"wires":[["9c92b8c2.2300f"]]},{"id":"9c92b8c2.2300f","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1160,"y":2500,"wires":[["1ba050ee.cca28f","baf790e0.63cf4"]]},{"id":"15797d0.a224783","type":"modbus-read","z":"9a363438.6cb55","name":"FIT102_V_INSTANT","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"204","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":2680,"wires":[["661a63c.306949c"],[]]},{"id":"661a63c.306949c","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2680,"wires":[["eaef5ea.09068a"]]},{"id":"eaef5ea.09068a","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2680,"wires":[["e53f8b9b.c64f28"]]},{"id":"e53f8b9b.c64f28","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2680,"wires":[["b93b9d1f.4150d"]]},{"id":"cb30a000.c5df9","type":"modbus-read","z":"9a363438.6cb55","name":"BB_TOTAL_FLOW","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"206","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":80,"y":2800,"wires":[["b84aa3fb.7fce3"],[]]},{"id":"b84aa3fb.7fce3","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":390,"y":2800,"wires":[["ef8adf58.6151d8"]]},{"id":"ef8adf58.6151d8","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2800,"wires":[["323b8a77.709296"]]},{"id":"323b8a77.709296","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2800,"wires":[["baa3f096.f218a"]]},{"id":"b93b9d1f.4150d","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":960,"y":2680,"wires":[["cced0f98.4cb9c8"]]},{"id":"cced0f98.4cb9c8","type":"calculator","z":"9a363438.6cb55","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"sub","constant":"","x":1030,"y":2740,"wires":[["baa3f096.f218a"]]},{"id":"e4ca06f6.59a11","type":"modbus-read","z":"9a363438.6cb55","name":"FIT104_V_INSTANT","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"212","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":2740,"wires":[["d311ca61.c233"],[]]},{"id":"d311ca61.c233","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2740,"wires":[["5c499aeb.0b800c"]]},{"id":"5c499aeb.0b800c","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2740,"wires":[["9abcaff9.f1ae38"]]},{"id":"9abcaff9.f1ae38","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2740,"wires":[["b93b9d1f.4150d"]]},{"id":"baa3f096.f218a","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1160,"y":2780,"wires":[["9b2d10ee.6c41e","fc46ed5d.bd9b1"]]},{"id":"26f23e62.061b4a","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1660,"y":2820,"wires":[["acec04bb.da6568"]]},{"id":"97563040.d666d","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1780,"y":2740,"wires":[["acec04bb.da6568"]]},{"id":"acec04bb.da6568","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1960,"y":2780,"wires":[["f5b9a67e.b6ba98"]]},{"id":"f5b9a67e.b6ba98","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1910,"y":2860,"wires":[["a1fc9204.5186c8"]]},{"id":"fc46ed5d.bd9b1","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1340,"y":2820,"wires":[["26f23e62.061b4a"]]},{"id":"c7314606.e5b858","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1570,"y":2740,"wires":[["97563040.d666d"]]},{"id":"9b2d10ee.6c41e","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1340,"y":2740,"wires":[["c7314606.e5b858"]]},{"id":"cf978be3.c296b","type":"modbus-read","z":"9a363438.6cb55","name":"FIT103_V_INSTANT","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"208","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":2980,"wires":[["bd495544.5529e8"],[]]},{"id":"bd495544.5529e8","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":400,"y":2980,"wires":[["f926e71c.fb003"]]},{"id":"f926e71c.fb003","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":2980,"wires":[["9f122633.0a566"]]},{"id":"9f122633.0a566","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":790,"y":2980,"wires":[["147a0d7a.df9263"]]},{"id":"147a0d7a.df9263","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":960,"y":3000,"wires":[["3c3bcb62.04cb44","8550a4d5.5b42c8"]]},{"id":"6fde32ba.451234","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1480,"y":3060,"wires":[["873e2d43.f7c3"]]},{"id":"9ca26500.55f618","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1600,"y":2980,"wires":[["873e2d43.f7c3"]]},{"id":"873e2d43.f7c3","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1780,"y":3020,"wires":[["6ddd61bb.0561f8"]]},{"id":"6ddd61bb.0561f8","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1730,"y":3100,"wires":[["d41d4d84.b4b838"]]},{"id":"8550a4d5.5b42c8","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1160,"y":3060,"wires":[["6fde32ba.451234"]]},{"id":"6983ad90.dfa504","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1390,"y":2980,"wires":[["9ca26500.55f618"]]},{"id":"3c3bcb62.04cb44","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1160,"y":2980,"wires":[["6983ad90.dfa504"]]},{"id":"897197fd.f069b8","type":"modbus-read","z":"9a363438.6cb55","name":"FIT104_V_INSTANT","topic":"","showStatusActivities":false,"logIOActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"212","quantity":"2","rate":"5","rateUnit":"m","delayOnStart":false,"startDelayTime":"","server":"8b46b35b.4844e","useIOFile":false,"ioFile":"","useIOForPayload":false,"x":110,"y":3200,"wires":[["fd6bc533.748818"],[]]},{"id":"fd6bc533.748818","type":"function","z":"9a363438.6cb55","name":"Convert array word to int32","func":"// Create new Buffer based on array bytes\nconst buf = Buffer.from(msg.responseBuffer.buffer);\n\n// Represent these bytes as 32-bit unsigned int\nconst value = buf.readUInt32BE();\n\n// save the value\nmsg.payload = value;\n\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":3200,"wires":[["6efb42cb.884bbc"]]},{"id":"6efb42cb.884bbc","type":"function","z":"9a363438.6cb55","name":"div 1000","func":"msg.payload = msg.payload / 1000;\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":3200,"wires":[["fa8e3d0c.d9a378"]]},{"id":"fa8e3d0c.d9a378","type":"aggregator","z":"9a363438.6cb55","name":"","topic":"","intervalCount":"10","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":810,"y":3200,"wires":[["2f7570a6.5c2d48"]]},{"id":"2f7570a6.5c2d48","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":960,"y":3220,"wires":[["863df485.c43228","de1141e6.370ba"]]},{"id":"adf61992.fbb0d","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1500,"y":3280,"wires":[["baa2d6c1.8950c8"]]},{"id":"8fc00a26.4b1b98","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"part","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1620,"y":3200,"wires":[["baa2d6c1.8950c8"]]},{"id":"baa2d6c1.8950c8","type":"join","z":"9a363438.6cb55","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"part","joiner":";","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1800,"y":3240,"wires":[["f718eaa5.0aa17"]]},{"id":"f718eaa5.0aa17","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":".","fromt":"str","to":",","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1750,"y":3320,"wires":[["c28ca42c.387a08"]]},{"id":"de1141e6.370ba","type":"delay","z":"9a363438.6cb55","name":"","pauseType":"delay","timeout":"200","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":1180,"y":3280,"wires":[["adf61992.fbb0d"]]},{"id":"97121709.f74788","type":"moment","z":"9a363438.6cb55","name":"","topic":"","input":"","inputType":"msg","inTz":"America/Sao_Paulo","adjAmount":"0","adjType":"hours","adjDir":"subtract","format":"DD-MM-YYYY;dd;HH:mm:ss","locale":"POSIX","output":"","outputType":"msg","outTz":"America/Sao_Paulo","x":1410,"y":3200,"wires":[["8fc00a26.4b1b98"]]},{"id":"863df485.c43228","type":"change","z":"9a363438.6cb55","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"$now()\t","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1180,"y":3200,"wires":[["97121709.f74788"]]},{"id":"792a879c.016d78","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES DE ÁGUA - BLOCO B (FIT102 - FIT104)","info":"","x":200,"y":2640,"wires":[]},{"id":"9c4986a3.9d01f8","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES DE ÁGUA - BLOCO C (FIT102 - FIT104)","info":"","x":220,"y":2920,"wires":[]},{"id":"4d678606.0f19","type":"comment","z":"9a363438.6cb55","name":"MEDIDORES DE ÁGUA - GUARITA (FIT102 - FIT104)","info":"","x":200,"y":3140,"wires":[]},{"id":"1487d98.50954a7","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/MEDIDORES_BLOCOA_JIT301.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2040,"y":340,"wires":[[]]},{"id":"b5673b72.58f578","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/MEDIDORES_BLOCOC_JIT310.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2060,"y":1240,"wires":[[]]},{"id":"7688f8c0.d54b","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/MEDIDORES_OFICINA_JIT318.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2100,"y":1700,"wires":[[]]},{"id":"f809af41.84e42","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/MEDIDORES_GUARITA_JIT313.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2040,"y":2140,"wires":[[]]},{"id":"de9a33ce.af4a5","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/AGUA_BLOCOA.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2150,"y":2600,"wires":[[]]},{"id":"6d2f321.e56a1cc","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/AGUA_BLOCOC.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2070,"y":3080,"wires":[[]]},{"id":"11c38125.144c0f","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/AGUA_GUARITA.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2030,"y":3320,"wires":[[]]},{"id":"98d9e9aa.fac348","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/AGUA_BLOCOB.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2170,"y":2880,"wires":[[]]},{"id":"1648c8e7.617f07","type":"file","z":"9a363438.6cb55","name":"Save to file","filename":"/home/daniela/MEDIDORES_BLOCOB_JIT304.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","x":2080,"y":800,"wires":[[]]},{"id":"f81734bf.08c73","type":"fs-ops-access","z":"d917d48.65dd128","name":"","path":"/home/daniela","pathType":"str","filename":"SOLAR_JIT201.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1770,"y":460,"wires":[["7bee5c30.73a41c"],["826c1ad0.6d5878"]]},{"id":"826c1ad0.6d5878","type":"function","z":"d917d48.65dd128","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;YEAR ENERGY (kWh);PAC (kW);DAY ENERGY (kWh);TOTAL ENERGY (kWh);TOTAL MONTH (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":460,"wires":[["7bee5c30.73a41c"]]},{"id":"ddb98f59.aa0488","type":"fs-ops-access","z":"d917d48.65dd128","name":"","path":"/home/daniela","pathType":"str","filename":"SOLAR_JIT202.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1770,"y":840,"wires":[["25fc1d8b.d3813a"],["6e2ed6a6.442518"]]},{"id":"6e2ed6a6.442518","type":"function","z":"d917d48.65dd128","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;YEAR ENERGY (kWh);PAC (kW);DAY ENERGY (kWh);TOTAL ENERGY (kWh);TOTAL MONTH (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":840,"wires":[["25fc1d8b.d3813a"]]},{"id":"c4f5bd43.2127d","type":"fs-ops-access","z":"d917d48.65dd128","name":"","path":"/home/daniela","pathType":"str","filename":"SOLAR_JIT203.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1750,"y":1300,"wires":[["235cfaf1.9a821e"],["7a7fac18.b66cd4"]]},{"id":"7a7fac18.b66cd4","type":"function","z":"d917d48.65dd128","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;YEAR ENERGY (kWh);PAC (kW);DAY ENERGY (kWh);TOTAL ENERGY (kWh);TOTAL MONTH (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":1300,"wires":[["235cfaf1.9a821e"]]},{"id":"1fce22e4.64f005","type":"fs-ops-access","z":"d917d48.65dd128","name":"","path":"/home/daniela","pathType":"str","filename":"SOLAR_JIT204.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1770,"y":1740,"wires":[["3603220e.1f223e"],["9b28500f.93b188"]]},{"id":"9b28500f.93b188","type":"function","z":"d917d48.65dd128","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;YEAR ENERGY (kWh);PAC (kW);DAY ENERGY (kWh);TOTAL ENERGY (kWh);TOTAL MONTH (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":1740,"wires":[["3603220e.1f223e"]]},{"id":"cc4685f0.4c8c5","type":"fs-ops-access","z":"d917d48.65dd128","name":"","path":"/home/daniela","pathType":"str","filename":"SOLAR_JIT205.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1750,"y":2160,"wires":[["23ae84ea.2139dc"],["392bf5c4.ec4de2"]]},{"id":"392bf5c4.ec4de2","type":"function","z":"d917d48.65dd128","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;YEAR ENERGY (kWh);PAC (kW);DAY ENERGY (kWh);TOTAL ENERGY (kWh);TOTAL MONTH (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":2160,"wires":[["23ae84ea.2139dc"]]},{"id":"64657fa4.45d5c","type":"fs-ops-access","z":"d917d48.65dd128","name":"","path":"/home/daniela","pathType":"str","filename":"EOLICO_JIT211.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1770,"y":2680,"wires":[["14b2f79d.d903e"],["a2dd42f.fa9b84"]]},{"id":"a2dd42f.fa9b84","type":"function","z":"d917d48.65dd128","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;PAC (kW);DAY ENERGY (kWh);MONTH ENERGY (kWh);TOTAL ENERGY (kWh);YEAR ENERGY (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":2680,"wires":[["14b2f79d.d903e"]]},{"id":"cff700cc.8a9e68","type":"fs-ops-access","z":"d917d48.65dd128","name":"","path":"/home/daniela","pathType":"str","filename":"EOLICO_JIT212.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1770,"y":3080,"wires":[["89a2d427.02ffb"],["6fc1e772.0dd558"]]},{"id":"6fc1e772.0dd558","type":"function","z":"d917d48.65dd128","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;PAC (kW);DAY ENERGY (kWh);MONTH ENERGY (kWh);TOTAL ENERGY (kWh);YEAR ENERGY (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":3080,"wires":[["89a2d427.02ffb"]]},{"id":"1d35f910.fb76ef","type":"fs-ops-access","z":"d917d48.65dd128","name":"","path":"/home/daniela","pathType":"str","filename":"EOLICO_JIT213.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1790,"y":3520,"wires":[["b85c8e8.f6a0f7"],["66bdb6a4.64bf18"]]},{"id":"66bdb6a4.64bf18","type":"function","z":"d917d48.65dd128","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;PAC (kW);DAY ENERGY (kWh);MONTH ENERGY (kWh);TOTAL ENERGY (kWh);YEAR ENERGY (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":3520,"wires":[["b85c8e8.f6a0f7"]]},{"id":"fc0d67bc.9fb2b","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"MEDIDORES_BLOCOA_JIT301.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1710,"y":440,"wires":[["1487d98.50954a7"],["bf348a2e.6f3a68"]]},{"id":"bf348a2e.6f3a68","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;PAC (kW);DAY ENERGY (kWh);MONTH ENERGY (kWh);TOTAL ENERGY (kWh);YEAR ENERGY (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1910,"y":440,"wires":[["1487d98.50954a7"]]},{"id":"f455333e.5a97e","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"MEDIDORES_BLOCOB_JIT304.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1730,"y":880,"wires":[["1648c8e7.617f07"],["9d9a4324.29e2f8"]]},{"id":"9d9a4324.29e2f8","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;PAC (kW);DAY ENERGY (kWh);MONTH ENERGY (kWh);TOTAL ENERGY (kWh);YEAR ENERGY (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1930,"y":880,"wires":[["1648c8e7.617f07"]]},{"id":"4774283a.addeb","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"MEDIDORES_BLOCOC_JIT310.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1770,"y":1320,"wires":[["b5673b72.58f578"],["452ccc58.467294"]]},{"id":"452ccc58.467294","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;PAC (kW);DAY ENERGY (kWh);MONTH ENERGY (kWh);TOTAL ENERGY (kWh);YEAR ENERGY (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":1320,"wires":[["b5673b72.58f578"]]},{"id":"d8962e2c.46c718","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"MEDIDORES_OFICINA_JIT318.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1770,"y":1800,"wires":[["7688f8c0.d54b"],["c8ba2dae.6319c8"]]},{"id":"c8ba2dae.6319c8","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;PAC (kW);DAY ENERGY (kWh);MONTH ENERGY (kWh);TOTAL ENERGY (kWh);YEAR ENERGY (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":1800,"wires":[["7688f8c0.d54b"]]},{"id":"676108f9.d55bf","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"MEDIDORES_GUARITA_JIT313.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1750,"y":2240,"wires":[["f809af41.84e42"],["96667721.7ca9f8"]]},{"id":"96667721.7ca9f8","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;PAC (kW);DAY ENERGY (kWh);MONTH ENERGY (kWh);TOTAL ENERGY (kWh);YEAR ENERGY (kWh)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1950,"y":2240,"wires":[["f809af41.84e42"]]},{"id":"bda1e532.1a8ad8","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"AGUA_BLOCOA.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1850,"y":2680,"wires":[["de9a33ce.af4a5"],["b1cdbbef.860cf"]]},{"id":"b1cdbbef.860cf","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;INSTANT FLOW (m3/h); TOTAL FLOW (m3)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":2680,"wires":[["de9a33ce.af4a5"]]},{"id":"a1fc9204.5186c8","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"AGUA_BLOCOB.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1850,"y":2940,"wires":[["98d9e9aa.fac348"],["75341ff5.25f658"]]},{"id":"75341ff5.25f658","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;INSTANT FLOW (m3/h); TOTAL FLOW (m3)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":2050,"y":2940,"wires":[["98d9e9aa.fac348"]]},{"id":"d41d4d84.b4b838","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"AGUA_BLOCOC.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1790,"y":3160,"wires":[["6d2f321.e56a1cc"],["5787f242.b276ec"]]},{"id":"5787f242.b276ec","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;INSTANT FLOW (m3/h); TOTAL FLOW (m3)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1990,"y":3160,"wires":[["6d2f321.e56a1cc"]]},{"id":"c28ca42c.387a08","type":"fs-ops-access","z":"9a363438.6cb55","name":"","path":"/home/daniela","pathType":"str","filename":"AGUA_GUARITA.csv","filenameType":"str","read":false,"write":true,"throwerror":false,"x":1770,"y":3400,"wires":[["11c38125.144c0f"],["49df7d61.c4c4b4"]]},{"id":"49df7d61.c4c4b4","type":"function","z":"9a363438.6cb55","name":"header","func":"msg.payload = \"DD-MM-YYYY;DAY;TIME;INSTANT FLOW (m3/h); TOTAL FLOW (m3)\" +\"\\n\"+ msg.payload;\nmsg.error = null;\nreturn msg;","outputs":1,"noerr":0,"x":1970,"y":3400,"wires":[["11c38125.144c0f"]]}]