i2s flows 1882.json
[{"id":"3202e2a5.ae47b6","type":"tab","label":"Extrator água","disabled":false,"info":""},{"id":"ca4ddfc7.2ffd38","type":"tab","label":"Extrator Energia Bloco A","disabled":false,"info":""},{"id":"3cec9a84.52ef0e","type":"tab","label":"Extrator Energia Bloco B1-2","disabled":false,"info":""},{"id":"b37e4748.464b78","type":"tab","label":"Extrator Energia Bloco C","disabled":false,"info":""},{"id":"61486151.57501","type":"tab","label":"Extrator Energia Oficina e área externa","disabled":false,"info":""},{"id":"6410e80.35a9418","type":"tab","label":"Extrator Energia Guarita","disabled":false,"info":""},{"id":"6ca9b00a.29aaf8","type":"tab","label":"ExtratorFroniusEnergia","disabled":false,"info":""},{"id":"a951fdb0.6a03","type":"tab","label":"ExtratorFroniusInsolacao","disabled":false,"info":""},{"id":"37d95d23.d58c2a","type":"mqtt-broker","z":"","name":"10.80.0.80","broker":"10.80.0.80","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"ab73987b.afbef8","type":"modbus-client","z":"","name":"","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":false,"tcpHost":"127.0.0.1","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":"1","commandDelay":"1","clientTimeout":"1000","reconnectTimeout":"2000"},{"id":"f2d65bae.4ee11","type":"ui_tab","z":"","name":"Água","icon":"dashboard","disabled":false,"hidden":false},{"id":"2cc82df3.f5086a","type":"ui_group","z":"","name":"BLOCO A","tab":"f2d65bae.4ee11","disp":true,"width":"6","collapse":true},{"id":"96b2dc37.de1ea8","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"11afd4f7.547063","type":"ui_group","z":"","name":"BLOCO B","tab":"f2d65bae.4ee11","order":2,"disp":true,"width":"6","collapse":true},{"id":"e926725.a0bff9","type":"ui_group","z":"","name":"BLOCO C","tab":"f2d65bae.4ee11","order":3,"disp":true,"width":"6","collapse":true},{"id":"24300415.2b910c","type":"ui_group","z":"","name":"GUARITA","tab":"f2d65bae.4ee11","order":4,"disp":true,"width":"6","collapse":true},{"id":"c9f7ee2d.ab759","type":"ui_group","z":"","name":"ETA","tab":"f2d65bae.4ee11","order":5,"disp":true,"width":"6","collapse":true},{"id":"b8fd439.a05a74","type":"mqtt-broker","z":"","name":"eneltec","broker":"data.eneltec.com.br","port":"15015","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bcd04f86.47dea","type":"comment","z":"3202e2a5.ae47b6","name":"comentário dos medidores","info":"#LOCALIZAÇÃO DOS MEDIDORES\n#FIT101 - SAÍDA DA CAIXA DE ÁGUA LOCALIZADA SOBRE O BLOCO A\n#FIT102 - SAÍDA DA CAIXA DE ÁGUA LOCALIZADA SOBRE O BLOCO B\n#FIT103 - SAÍDA DA CAIXA DE ÁGUA LOCALIZADA SOBRE O BLOCO C\n#FIT104 - ENTRADA DE AǴUA PARA A GUARITA\n#FIT105 - ENTRADA DE ÁGUA PARA O TRANQUE DE ARMAZENAMENTO DA ESTAÇÃO DE TRATAMENTO DE ÁGUA \n#fit é o valor do medidor de vazão. O flow é a vazão instantânea e volume é a totalizada\n#observe que o volume é calculado em função das medições\n","x":170,"y":20,"wires":[]},{"id":"173ceda6.ffdec2","type":"mqtt in","z":"3202e2a5.ae47b6","name":"FIT105 ETA ID 7aadb700","topic":"7aadb700/","qos":"0","datatype":"json","broker":"b8fd439.a05a74","x":130,"y":1300,"wires":[["88c4935a.5e99f8"]]},{"id":"48afcf17.742e7","type":"mqtt in","z":"3202e2a5.ae47b6","name":"FIT103 BLOCO C ID 39abb700","topic":"39abb700/","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":150,"y":700,"wires":[["7cf31da3.1d072c"]]},{"id":"16d9dfac.7f733","type":"mqtt in","z":"3202e2a5.ae47b6","name":"FIT102 BLOCO B ID 8eadb700","topic":"8eadb700/","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":140,"y":400,"wires":[["79dac6c6.bf52e8"]]},{"id":"1432caac.dc4955","type":"mqtt in","z":"3202e2a5.ae47b6","name":"FIT101 BLOCO A ID b5aab700","topic":"b5aab700/","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":140,"y":100,"wires":[["7bf26a56.0ce9bc"]]},{"id":"18f7e286.487d1d","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":100,"wires":[["d8455435.354948"]]},{"id":"8ab11fb9.815898","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["dab890e0.35f95"]]},{"id":"d8455435.354948","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 200MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"200","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":100,"wires":[[],[]]},{"id":"dab890e0.35f95","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 201MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"201","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":160,"wires":[[],[]]},{"id":"a2f3204e.4203c8","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 202MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"202","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":220,"wires":[[],[]]},{"id":"642b7e46.625298","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 203MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"203","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":280,"wires":[[],[]]},{"id":"572c7ef3.a617b8","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 204MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"204","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":400,"wires":[[],[]]},{"id":"93560218.8e9968","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 205MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"205","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":460,"wires":[[],[]]},{"id":"b394ea71.fb2ee","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 206MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"206","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":520,"wires":[[],[]]},{"id":"b2a078b.f974308","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 207MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"207","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":580,"wires":[[],[]]},{"id":"3ee1dc64.3bd574","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 208MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"208","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":700,"wires":[[],[]]},{"id":"e5b5c365.dbe0e8","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 209MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"209","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":760,"wires":[[],[]]},{"id":"60182b27.1eab34","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 210MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"210","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":820,"wires":[[],[]]},{"id":"28939da.7762c62","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 211MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"211","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":880,"wires":[[],[]]},{"id":"90b8c054.1013b8","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 212MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"212","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":1000,"wires":[[],[]]},{"id":"bda5fd76.24ca2","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 213MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"213","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":1060,"wires":[[],[]]},{"id":"fd0c630c.588ef","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 214MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"214","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":1120,"wires":[[],[]]},{"id":"4302f58c.0e2afc","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 215MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"215","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":1180,"wires":[[],[]]},{"id":"bdcda9b2.26e198","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 216MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"216","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":1300,"wires":[[],[]]},{"id":"3eced91a.997e6e","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 217MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"217","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":1360,"wires":[[],[]]},{"id":"6d943d4b.3b942c","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte alta 218MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"218","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":1420,"wires":[[],[]]},{"id":"f1171390.fb721","type":"modbus-write","z":"3202e2a5.ae47b6","name":"vazão volume parte baixa 219MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"219","quantity":"1","server":"ab73987b.afbef8","x":1110,"y":1480,"wires":[[],[]]},{"id":"a0eea9cd.a7ba28","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":220,"wires":[["a2f3204e.4203c8"]]},{"id":"c1b091b9.f1aaa","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":280,"wires":[["642b7e46.625298"]]},{"id":"57620eb4.6573a","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":400,"wires":[["572c7ef3.a617b8"]]},{"id":"fad7509a.520d68","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":460,"wires":[["93560218.8e9968"]]},{"id":"4aac2abe.409fe4","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":520,"wires":[["b394ea71.fb2ee"]]},{"id":"19e2f236.18f31e","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":580,"wires":[["b2a078b.f974308"]]},{"id":"30331faa.050d18","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":700,"wires":[["3ee1dc64.3bd574"]]},{"id":"37c2f356.030ff4","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":760,"wires":[["e5b5c365.dbe0e8"]]},{"id":"d3e7951a.0152e","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":820,"wires":[["60182b27.1eab34"]]},{"id":"550be27.108849c","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":880,"wires":[["28939da.7762c62"]]},{"id":"ba7f857d.8e25a8","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1000,"wires":[["90b8c054.1013b8"]]},{"id":"9986d3a3.d40b1","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1060,"wires":[["bda5fd76.24ca2"]]},{"id":"1db949de.038846","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1120,"wires":[["fd0c630c.588ef"]]},{"id":"d8c127cd.67fe28","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1180,"wires":[["4302f58c.0e2afc"]]},{"id":"ae30a667.0b491","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1300,"wires":[["bdcda9b2.26e198"]]},{"id":"cd048cfb.f42228","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1360,"wires":[["3eced91a.997e6e"]]},{"id":"e4d8667a.b3ea88","type":"function","z":"3202e2a5.ae47b6","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":880,"y":1420,"wires":[["6d943d4b.3b942c"]]},{"id":"963123bd.f7a1b8","type":"function","z":"3202e2a5.ae47b6","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":1480,"wires":[["f1171390.fb721"]]},{"id":"45d9ce50.a8f6c","type":"function","z":"3202e2a5.ae47b6","name":"volume","func":"msg.payload = parseFloat(msg.payload.payload.volume);\nreturn msg;","outputs":1,"noerr":0,"x":160,"y":180,"wires":[["a89db446.305168"]]},{"id":"eea36562.8acfc","type":"function","z":"3202e2a5.ae47b6","name":"flow","func":"msg.payload = parseFloat(msg.payload.payload.flow);\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":100,"wires":[["18f7e286.487d1d","8ab11fb9.815898","b3507fa7.4f84f"]]},{"id":"4dc71d45.637874","type":"function","z":"3202e2a5.ae47b6","name":"volume","func":"msg.payload = parseFloat(msg.payload.payload.volume);\nreturn msg;","outputs":1,"noerr":0,"x":200,"y":480,"wires":[["55c0e6d9.7dae18","51ebba84.5f90d4"]]},{"id":"723ec144.ea5178","type":"function","z":"3202e2a5.ae47b6","name":"flow","func":"msg.payload = parseFloat(msg.payload.payload.flow);\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":400,"wires":[["57620eb4.6573a","fad7509a.520d68","c1b53690.4d11d8"]]},{"id":"769934f6.b81abc","type":"function","z":"3202e2a5.ae47b6","name":"volume","func":"msg.payload = parseFloat(msg.payload.payload.volume);\nreturn msg;","outputs":1,"noerr":0,"x":360,"y":740,"wires":[["8a9ba331.3b5ec","d3e7951a.0152e","550be27.108849c","e126d202.0d9e58"]]},{"id":"af3bf131.020d58","type":"function","z":"3202e2a5.ae47b6","name":"flow","func":"msg.payload = parseFloat(msg.payload.payload.flow);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":700,"wires":[["30331faa.050d18","37c2f356.030ff4","4f2610ed.eff2c8"]]},{"id":"8f880496.a14748","type":"function","z":"3202e2a5.ae47b6","name":"volume","func":"msg.payload = parseFloat(msg.payload.payload.volume);\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":1080,"wires":[["8a680e56.4635","1db949de.038846","726aefc1.591108","d8c127cd.67fe28"]]},{"id":"2f62e80d.611488","type":"function","z":"3202e2a5.ae47b6","name":"flow","func":"msg.payload = parseFloat(msg.payload.payload.flow);\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":1000,"wires":[["ba7f857d.8e25a8","9986d3a3.d40b1","af0871ac.70f7e8"]]},{"id":"79b9cfa2.f67d68","type":"function","z":"3202e2a5.ae47b6","name":"volume","func":"msg.payload = parseFloat(msg.payload.payload.volume);\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":1360,"wires":[["e4d8667a.b3ea88","963123bd.f7a1b8","ea422130.0601b"]]},{"id":"46497845.a90ea","type":"function","z":"3202e2a5.ae47b6","name":"flow","func":"msg.payload = parseFloat(msg.payload.payload.flow);\nreturn msg;","outputs":1,"noerr":0,"x":450,"y":1300,"wires":[["ae30a667.0b491","cd048cfb.f42228","16fafccd.45115b"]]},{"id":"55c0e6d9.7dae18","type":"change","z":"3202e2a5.ae47b6","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":480,"wires":[["7b5b29d1.6b7738"]]},{"id":"8a9ba331.3b5ec","type":"change","z":"3202e2a5.ae47b6","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":540,"wires":[["7b5b29d1.6b7738"]]},{"id":"7b5b29d1.6b7738","type":"join","z":"3202e2a5.ae47b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":530,"y":500,"wires":[["65bcee81.1f4b9"]]},{"id":"65bcee81.1f4b9","type":"change","z":"3202e2a5.ae47b6","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":160,"y":240,"wires":[["68fe6d5f.3b82ec"]]},{"id":"a89db446.305168","type":"change","z":"3202e2a5.ae47b6","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":180,"wires":[["ddf4b965.8ec6c"]]},{"id":"68fe6d5f.3b82ec","type":"change","z":"3202e2a5.ae47b6","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":240,"wires":[["ddf4b965.8ec6c"]]},{"id":"ddf4b965.8ec6c","type":"join","z":"3202e2a5.ae47b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":490,"y":200,"wires":[["c6f5215d.e86d08"]]},{"id":"c6f5215d.e86d08","type":"function","z":"3202e2a5.ae47b6","name":"diff array","func":"msg.payload = (msg.payload[0] - msg.payload[1]);\nreturn msg;","outputs":1,"noerr":0,"x":580,"y":140,"wires":[["78aebc52.ec4af4"]]},{"id":"78aebc52.ec4af4","type":"change","z":"3202e2a5.ae47b6","name":"$abs(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$abs(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":260,"wires":[["a0eea9cd.a7ba28","c1b091b9.f1aaa","1226e6e1.476bc1"]]},{"id":"8218c1de.963d48","type":"change","z":"3202e2a5.ae47b6","name":"$abs(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$abs(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":540,"wires":[["4aac2abe.409fe4","19e2f236.18f31e","b219524.68550b"]]},{"id":"2ebe91d8.7446a6","type":"function","z":"3202e2a5.ae47b6","name":"diff array","func":"msg.payload = (msg.payload[0] - msg.payload[1]);\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":580,"wires":[["8218c1de.963d48"]]},{"id":"51ebba84.5f90d4","type":"change","z":"3202e2a5.ae47b6","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":800,"wires":[["fb274dcd.be3f18"]]},{"id":"8a680e56.4635","type":"change","z":"3202e2a5.ae47b6","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":860,"wires":[["fb274dcd.be3f18"]]},{"id":"fb274dcd.be3f18","type":"join","z":"3202e2a5.ae47b6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":510,"y":820,"wires":[["2ebe91d8.7446a6"]]},{"id":"b3507fa7.4f84f","type":"ui_gauge","z":"3202e2a5.ae47b6","name":"","group":"2cc82df3.f5086a","order":0,"width":0,"height":0,"gtype":"gage","title":"FI101","label":"m3/h","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":40,"wires":[]},{"id":"1226e6e1.476bc1","type":"ui_text","z":"3202e2a5.ae47b6","group":"2cc82df3.f5086a","order":1,"width":0,"height":0,"name":"","label":"FQ BLOCO A","format":"{{msg.payload}} m3","layout":"row-spread","x":930,"y":40,"wires":[]},{"id":"c1b53690.4d11d8","type":"ui_gauge","z":"3202e2a5.ae47b6","name":"","group":"11afd4f7.547063","order":0,"width":0,"height":0,"gtype":"gage","title":"FI102","label":"m3/h","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":750,"y":340,"wires":[]},{"id":"b219524.68550b","type":"ui_text","z":"3202e2a5.ae47b6","group":"11afd4f7.547063","order":1,"width":0,"height":0,"name":"","label":"FQ BLOCO B","format":"{{msg.payload}} m3","layout":"row-spread","x":970,"y":340,"wires":[]},{"id":"4f2610ed.eff2c8","type":"ui_gauge","z":"3202e2a5.ae47b6","name":"","group":"e926725.a0bff9","order":0,"width":0,"height":0,"gtype":"gage","title":"FI103","label":"m3/h","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":730,"y":640,"wires":[]},{"id":"e126d202.0d9e58","type":"ui_text","z":"3202e2a5.ae47b6","group":"e926725.a0bff9","order":1,"width":0,"height":0,"name":"","label":"FQ BLOCO C","format":"{{msg.payload}} m3","layout":"row-spread","x":950,"y":640,"wires":[]},{"id":"af0871ac.70f7e8","type":"ui_gauge","z":"3202e2a5.ae47b6","name":"","group":"24300415.2b910c","order":0,"width":0,"height":0,"gtype":"gage","title":"FI104","label":"m3/h","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":710,"y":940,"wires":[]},{"id":"726aefc1.591108","type":"ui_text","z":"3202e2a5.ae47b6","group":"24300415.2b910c","order":1,"width":0,"height":0,"name":"","label":"FQ GUARITA","format":"{{msg.payload}} m3","layout":"row-spread","x":930,"y":940,"wires":[]},{"id":"16fafccd.45115b","type":"ui_gauge","z":"3202e2a5.ae47b6","name":"","group":"c9f7ee2d.ab759","order":0,"width":0,"height":0,"gtype":"gage","title":"FI105","label":"m3/h","format":"{{value}}","min":0,"max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":690,"y":1240,"wires":[]},{"id":"ea422130.0601b","type":"ui_text","z":"3202e2a5.ae47b6","group":"c9f7ee2d.ab759","order":1,"width":0,"height":0,"name":"","label":"FQ ETA","format":"{{msg.payload}} m3","layout":"row-spread","x":890,"y":1240,"wires":[]},{"id":"ad300ed1.ed44a","type":"mqtt in","z":"ca4ddfc7.2ffd38","name":"JT301 BLOCO A","topic":"BLOCOA/JT301","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":110,"y":100,"wires":[["428de4fd.ddad5c","459d0364.525bcc","d4f8e1b0.e54e48","cba79299.919808","df7619d1.bdafd"]]},{"id":"b8ed0d18.1b3d4","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte alta 102MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"216","quantity":"1","server":"ab73987b.afbef8","x":1320,"y":240,"wires":[[],[]]},{"id":"f3d04881.9db1d","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte baixa 103MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"103","quantity":"1","server":"ab73987b.afbef8","x":1330,"y":300,"wires":[[],[]]},{"id":"b987d9ab.2495d8","type":"function","z":"ca4ddfc7.2ffd38","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":240,"wires":[["b8ed0d18.1b3d4"]]},{"id":"adbdb1b1.6b2ae8","type":"function","z":"ca4ddfc7.2ffd38","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":300,"wires":[["f3d04881.9db1d"]]},{"id":"3f2e47d4.3f53a","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":220,"wires":[["fdd3c46d.6683d8"]]},{"id":"465d5dcf.7a3dd4","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":340,"wires":[["d8ee5fdc.c98e18"]]},{"id":"b88510de.6b814","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":460,"wires":[["16378d7d.db8e53"]]},{"id":"efedb3e2.6bd628","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":580,"wires":[["51bc69b8.b661d"]]},{"id":"c227acf3.a2f868","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte alta 100MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"100","quantity":"1","server":"ab73987b.afbef8","x":1320,"y":120,"wires":[[],[]]},{"id":"4381ad7b.4f5d04","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte baixa 101MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"101","quantity":"1","server":"ab73987b.afbef8","x":1330,"y":180,"wires":[[],[]]},{"id":"a334b17.e38c65","type":"function","z":"ca4ddfc7.2ffd38","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":120,"wires":[["c227acf3.a2f868"]]},{"id":"3473d0c.55158b","type":"function","z":"ca4ddfc7.2ffd38","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":180,"wires":[["4381ad7b.4f5d04"]]},{"id":"73c4aa19.ad3244","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":100,"wires":[["59e52380.27497c"]]},{"id":"15b0caf1.520c45","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte alta 104MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"104","quantity":"1","server":"ab73987b.afbef8","x":1320,"y":360,"wires":[[],[]]},{"id":"8a0d7792.ef0098","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte baixa 105MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"105","quantity":"1","server":"ab73987b.afbef8","x":1330,"y":420,"wires":[[],[]]},{"id":"c41d9f7.49cace","type":"function","z":"ca4ddfc7.2ffd38","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":360,"wires":[["15b0caf1.520c45"]]},{"id":"c90a36a1.a3ba3","type":"function","z":"ca4ddfc7.2ffd38","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":420,"wires":[["8a0d7792.ef0098"]]},{"id":"befb6c5b.253f2","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte alta 106MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"106","quantity":"1","server":"ab73987b.afbef8","x":1320,"y":480,"wires":[[],[]]},{"id":"272bf6ff.e24252","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte baixa 107MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"107","quantity":"1","server":"ab73987b.afbef8","x":1330,"y":540,"wires":[[],[]]},{"id":"4ac14526.d606b4","type":"function","z":"ca4ddfc7.2ffd38","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":480,"wires":[["befb6c5b.253f2"]]},{"id":"a3c9a443.b73b4","type":"function","z":"ca4ddfc7.2ffd38","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1150,"y":540,"wires":[["272bf6ff.e24252"]]},{"id":"fd57747a.cc2198","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte alta 108MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"108","quantity":"1","server":"ab73987b.afbef8","x":1320,"y":600,"wires":[[],[]]},{"id":"80572a34.46047","type":"modbus-write","z":"ca4ddfc7.2ffd38","name":"parte baixa 109MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"109","quantity":"1","server":"ab73987b.afbef8","x":1330,"y":660,"wires":[[],[]]},{"id":"419e9da7.85f94c","type":"function","z":"ca4ddfc7.2ffd38","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":600,"wires":[["fd57747a.cc2198"]]},{"id":"1ea01d7a.7c702b","type":"function","z":"ca4ddfc7.2ffd38","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1140,"y":660,"wires":[["80572a34.46047"]]},{"id":"24efe892.d56878","type":"mqtt in","z":"3202e2a5.ae47b6","name":"FIT104 GUARITA ID 4faab700","topic":"4faab700/","qos":"0","datatype":"json","broker":"b8fd439.a05a74","x":150,"y":1000,"wires":[["45d9dffd.9fa578"]]},{"id":"59e52380.27497c","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":100,"wires":[["fdd81196.57fdd"]]},{"id":"95bc788a.de6158","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":140,"wires":[["fdd81196.57fdd"]]},{"id":"fdd81196.57fdd","type":"join","z":"ca4ddfc7.2ffd38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":140,"wires":[["f3f19d2a.f10078"]]},{"id":"f3f19d2a.f10078","type":"change","z":"ca4ddfc7.2ffd38","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":180,"wires":[["a334b17.e38c65","3473d0c.55158b"]]},{"id":"c8fc48e9.99cc5","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":180,"wires":[["fdd81196.57fdd"]]},{"id":"fdd3c46d.6683d8","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":220,"wires":[["6898f92f.67d07"]]},{"id":"9d84a38f.81e208","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":260,"wires":[["6898f92f.67d07"]]},{"id":"6898f92f.67d07","type":"join","z":"ca4ddfc7.2ffd38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":260,"wires":[["73beae14.57056"]]},{"id":"73beae14.57056","type":"change","z":"ca4ddfc7.2ffd38","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":300,"wires":[["b987d9ab.2495d8","adbdb1b1.6b2ae8"]]},{"id":"741248e5.64818","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":300,"wires":[["6898f92f.67d07"]]},{"id":"d8ee5fdc.c98e18","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":340,"wires":[["e84c1385.171d08"]]},{"id":"d55ad4a5.bd974","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":380,"wires":[["e84c1385.171d08"]]},{"id":"e84c1385.171d08","type":"join","z":"ca4ddfc7.2ffd38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":380,"wires":[["4490c00f.7635e8"]]},{"id":"4490c00f.7635e8","type":"change","z":"ca4ddfc7.2ffd38","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":420,"wires":[["c41d9f7.49cace","c90a36a1.a3ba3"]]},{"id":"1eee5ced.bf3413","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":420,"wires":[["e84c1385.171d08"]]},{"id":"16378d7d.db8e53","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":460,"wires":[["e94bf64b.ff4968"]]},{"id":"3e92fd3f.3cce0a","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":500,"wires":[["e94bf64b.ff4968"]]},{"id":"e94bf64b.ff4968","type":"join","z":"ca4ddfc7.2ffd38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":500,"wires":[["4ac58914.16579"]]},{"id":"4ac58914.16579","type":"change","z":"ca4ddfc7.2ffd38","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":540,"wires":[["4ac14526.d606b4","a3c9a443.b73b4"]]},{"id":"9bc34c1d.3182b","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":540,"wires":[["e94bf64b.ff4968"]]},{"id":"51bc69b8.b661d","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":580,"wires":[["2fe1056.2aea07a"]]},{"id":"f6c82fb0.12f4f","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":620,"wires":[["2fe1056.2aea07a"]]},{"id":"2fe1056.2aea07a","type":"join","z":"ca4ddfc7.2ffd38","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":890,"y":620,"wires":[["35cf839b.3440cc"]]},{"id":"35cf839b.3440cc","type":"change","z":"ca4ddfc7.2ffd38","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":660,"wires":[["419e9da7.85f94c","1ea01d7a.7c702b"]]},{"id":"1c183152.3c6257","type":"change","z":"ca4ddfc7.2ffd38","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":660,"wires":[["2fe1056.2aea07a"]]},{"id":"162039f6.ef68a6","type":"mqtt in","z":"ca4ddfc7.2ffd38","name":"JT302 BLOCO A","topic":"BLOCOA/JT302","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":100,"y":140,"wires":[["7eb702a6.050ddc","7bfb6a57.07dc34","7a60d78f.aa4078","8a85fbd1.27ed48","d248aa3c.60a66"]]},{"id":"d4a82748.92243","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":260,"wires":[["9d84a38f.81e208"]]},{"id":"7aa6a4eb.d5fae4","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":380,"wires":[["d55ad4a5.bd974"]]},{"id":"43567446.803c94","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":500,"wires":[["3e92fd3f.3cce0a"]]},{"id":"574e3b87.68cb6c","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":620,"wires":[["f6c82fb0.12f4f"]]},{"id":"344fb2a4.1c34ae","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":140,"wires":[["95bc788a.de6158"]]},{"id":"a01464c5.2d2d68","type":"mqtt in","z":"ca4ddfc7.2ffd38","name":"JT303 BLOCO A","topic":"BLOCOA/JT303","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":100,"y":180,"wires":[["7c58519.788103","86dffa58.dedd68","cd59c61f.d332e8","70567cb8.e38924","d9f95675.867618"]]},{"id":"ddf1ff0d.4756","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":300,"wires":[["741248e5.64818"]]},{"id":"9ff73426.b1b55","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":420,"wires":[["1eee5ced.bf3413"]]},{"id":"fa9c26f1.8d5ba8","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":540,"wires":[["9bc34c1d.3182b"]]},{"id":"4ecadb96.ff821c","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":660,"wires":[["1c183152.3c6257"]]},{"id":"b9db1b51.416e2","type":"function","z":"ca4ddfc7.2ffd38","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":180,"wires":[["c8fc48e9.99cc5"]]},{"id":"1cf721db.4e60ee","type":"mqtt in","z":"3cec9a84.52ef0e","name":"JT304 BLOCO B-1","topic":"BLOCOB/JT304","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":130,"y":100,"wires":[["7a540427.43a434","d83031d8.11349","bfd46e72.6c0db","1a5ca225.d63766","23bb631b.431864"]]},{"id":"7bed5f81.ef0e3","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte alta 112MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"112","quantity":"1","server":"ab73987b.afbef8","x":1440,"y":420,"wires":[[],[]]},{"id":"81da45cd.fe35b8","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte baixa 113MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"113","quantity":"1","server":"ab73987b.afbef8","x":1450,"y":480,"wires":[[],[]]},{"id":"1c6007cd.926168","type":"function","z":"3cec9a84.52ef0e","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":420,"wires":[["7bed5f81.ef0e3"]]},{"id":"b5919250.a1ab8","type":"function","z":"3cec9a84.52ef0e","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1270,"y":480,"wires":[["81da45cd.fe35b8"]]},{"id":"1f9edf6d.be9d61","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":367,"wires":[["2d44622.4dad89e"]]},{"id":"8984cc47.8e242","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":660,"wires":[["2bdf301a.638f"]]},{"id":"ef96caf3.298f18","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":941,"wires":[["1c0b3131.2cbf7f"]]},{"id":"92508be8.f32c48","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1200,"wires":[["5391bb4b.4d3f04"]]},{"id":"e753f535.43c1d8","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte alta 110MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"110","quantity":"1","server":"ab73987b.afbef8","x":1420,"y":180,"wires":[[],[]]},{"id":"ec1d5732.500948","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte baixa 111MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"111","quantity":"1","server":"ab73987b.afbef8","x":1430,"y":240,"wires":[[],[]]},{"id":"2c5f214.13e51de","type":"function","z":"3cec9a84.52ef0e","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1240,"y":180,"wires":[["e753f535.43c1d8"]]},{"id":"3892f9ad.5bc4c6","type":"function","z":"3cec9a84.52ef0e","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":240,"wires":[["ec1d5732.500948"]]},{"id":"9cb0d14e.32ded","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":100,"wires":[["f81e3f44.4f55d"]]},{"id":"2949391b.ad3e56","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte alta 114MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"114","quantity":"1","server":"ab73987b.afbef8","x":1430,"y":673,"wires":[[],[]]},{"id":"4be079fc.e7b638","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte baixa 115MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"115","quantity":"1","server":"ab73987b.afbef8","x":1440,"y":733,"wires":[[],[]]},{"id":"719d9e26.f8416","type":"function","z":"3cec9a84.52ef0e","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":673,"wires":[["2949391b.ad3e56"]]},{"id":"d1c7d3d7.a28a8","type":"function","z":"3cec9a84.52ef0e","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1260,"y":733,"wires":[["4be079fc.e7b638"]]},{"id":"31f19b24.251bf4","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte alta 116MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"116","quantity":"1","server":"ab73987b.afbef8","x":1441,"y":961,"wires":[[],[]]},{"id":"b98b1cb3.c0bd8","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte baixa 117MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"117","quantity":"1","server":"ab73987b.afbef8","x":1451,"y":1021,"wires":[[],[]]},{"id":"aa946246.32af2","type":"function","z":"3cec9a84.52ef0e","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1261,"y":961,"wires":[["31f19b24.251bf4"]]},{"id":"22cc2a64.83ee36","type":"function","z":"3cec9a84.52ef0e","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1271,"y":1021,"wires":[["b98b1cb3.c0bd8"]]},{"id":"dad750c.dd449b","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte alta 118MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"118","quantity":"1","server":"ab73987b.afbef8","x":1441,"y":1220,"wires":[[],[]]},{"id":"7eecf4a3.9c8bfc","type":"modbus-write","z":"3cec9a84.52ef0e","name":"parte baixa 119MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"119","quantity":"1","server":"ab73987b.afbef8","x":1451,"y":1280,"wires":[[],[]]},{"id":"78b2e618.6e0918","type":"function","z":"3cec9a84.52ef0e","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1261,"y":1220,"wires":[["dad750c.dd449b"]]},{"id":"228f4e4a.803042","type":"function","z":"3cec9a84.52ef0e","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1261,"y":1280,"wires":[["7eecf4a3.9c8bfc"]]},{"id":"f81e3f44.4f55d","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":100,"wires":[["d6ec9360.4e135"]]},{"id":"9ee0e089.4519","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":140,"wires":[["d6ec9360.4e135"]]},{"id":"d6ec9360.4e135","type":"join","z":"3cec9a84.52ef0e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":990,"y":200,"wires":[["7abcf065.e6928"]]},{"id":"7abcf065.e6928","type":"change","z":"3cec9a84.52ef0e","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1060,"y":240,"wires":[["2c5f214.13e51de","3892f9ad.5bc4c6"]]},{"id":"68c0ff89.b8d47","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":180,"wires":[["d6ec9360.4e135"]]},{"id":"2d44622.4dad89e","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":367,"wires":[["14ba5c6e.262124"]]},{"id":"20f36696.aee0fa","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":407,"wires":[["14ba5c6e.262124"]]},{"id":"14ba5c6e.262124","type":"join","z":"3cec9a84.52ef0e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":440,"wires":[["4de7daf4.100c74"]]},{"id":"4de7daf4.100c74","type":"change","z":"3cec9a84.52ef0e","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1080,"y":480,"wires":[["1c6007cd.926168","b5919250.a1ab8"]]},{"id":"6aff4e67.dac93","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":800,"y":447,"wires":[["14ba5c6e.262124"]]},{"id":"2bdf301a.638f","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":660,"wires":[["6a3cb2be.5cd82c"]]},{"id":"1f0012bd.21989d","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":700,"wires":[["6a3cb2be.5cd82c"]]},{"id":"6a3cb2be.5cd82c","type":"join","z":"3cec9a84.52ef0e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1000,"y":693,"wires":[["a0fd6bab.e2e4e8"]]},{"id":"a0fd6bab.e2e4e8","type":"change","z":"3cec9a84.52ef0e","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1070,"y":733,"wires":[["719d9e26.f8416","d1c7d3d7.a28a8"]]},{"id":"24d27ddd.02b082","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":740,"wires":[["6a3cb2be.5cd82c"]]},{"id":"1c0b3131.2cbf7f","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":941,"wires":[["2c51459b.1f9dfa"]]},{"id":"fd7ff38b.4fc62","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":981,"wires":[["2c51459b.1f9dfa"]]},{"id":"2c51459b.1f9dfa","type":"join","z":"3cec9a84.52ef0e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1011,"y":981,"wires":[["35e341ca.655b3e"]]},{"id":"35e341ca.655b3e","type":"change","z":"3cec9a84.52ef0e","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1081,"y":1021,"wires":[["aa946246.32af2","22cc2a64.83ee36"]]},{"id":"c322e9b5.5e9f78","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1021,"wires":[["2c51459b.1f9dfa"]]},{"id":"5391bb4b.4d3f04","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1200,"wires":[["b1c5e374.5c9f3"]]},{"id":"cf895135.ff551","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1240,"wires":[["b1c5e374.5c9f3"]]},{"id":"b1c5e374.5c9f3","type":"join","z":"3cec9a84.52ef0e","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1011,"y":1240,"wires":[["4ed13e61.ec951"]]},{"id":"4ed13e61.ec951","type":"change","z":"3cec9a84.52ef0e","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1081,"y":1280,"wires":[["78b2e618.6e0918","228f4e4a.803042"]]},{"id":"1593a7d5.f87708","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1280,"wires":[["b1c5e374.5c9f3"]]},{"id":"16ef329c.441ddd","type":"mqtt in","z":"3cec9a84.52ef0e","name":"JT305 BLOCO B-1","topic":"BLOCOB/JT305","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":130,"y":140,"wires":[["9353129f.6499b8","c0c109a1.347fc","4ebaf07d.99e708","9d474d44.66542","8877fbc0.fc1fe"]]},{"id":"dca0c1e.5f67c4","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":407,"wires":[["20f36696.aee0fa"]]},{"id":"9b776901.093cb8","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":700,"wires":[["1f0012bd.21989d"]]},{"id":"fbc358db.012a18","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":981,"wires":[["fd7ff38b.4fc62"]]},{"id":"b346e9a8.328948","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1240,"wires":[["cf895135.ff551"]]},{"id":"68221241.e6ec8c","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":140,"wires":[["9ee0e089.4519"]]},{"id":"a0ab28f7.fed248","type":"mqtt in","z":"3cec9a84.52ef0e","name":"JT306 BLOCO B-1","topic":"BLOCOB/JT306","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":130,"y":180,"wires":[["ec47d144.b30f98","d383b4a9.975748","d97ffa12.8f43a8","7734d58c.dda83c","e6960d99.13477"]]},{"id":"95fd74bb.525748","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":447,"wires":[["6aff4e67.dac93"]]},{"id":"16ea0c48.61aaf4","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":740,"wires":[["24d27ddd.02b082"]]},{"id":"fa1384f2.0f6778","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1021,"wires":[["c322e9b5.5e9f78"]]},{"id":"bbe4c4ae.7e8fe8","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1280,"wires":[["1593a7d5.f87708"]]},{"id":"8ca15d9b.1fd8c","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":180,"wires":[["68c0ff89.b8d47"]]},{"id":"bc15ebe9.490e18","type":"mqtt in","z":"3cec9a84.52ef0e","name":"JT307 BLOCO B-2","topic":"BLOCOB/JT307","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":130,"y":220,"wires":[["490ffcaf.40638c","6357185c.9721e","b908c17.eca554","34de50eb.ce5c58","c0d196af.eae1d8"]]},{"id":"77ce98dc.fb0258","type":"mqtt in","z":"3cec9a84.52ef0e","name":"JT308 BLOCO B-2","topic":"BLOCOB/JT308","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":130,"y":260,"wires":[["ca902965.19cea8","2551a00a.e526c8","da953c61.5bf73","885b5b98.ba6448","8dcbb2f7.32c7f"]]},{"id":"5dbb7a3.a2f0b84","type":"mqtt in","z":"3cec9a84.52ef0e","name":"JT309 BLOCO B-2","topic":"BLOCOB/JT309","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":130,"y":300,"wires":[["b7a94742.484478","f0ee48ff.7cf9e8","a35b8056.8c9bd8","e85e559b.a7fcf","a4cb7d04.a4d438"]]},{"id":"346ecb72.576f74","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":220,"wires":[["8c74c4a0.abd5f8"]]},{"id":"48321a8f.e99374","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":300,"wires":[["5242a7d1.60a4a8"]]},{"id":"8803ed37.24543","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":260,"wires":[["366f4ddc.b3d3e2"]]},{"id":"8c74c4a0.abd5f8","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":220,"wires":[["d6ec9360.4e135"]]},{"id":"366f4ddc.b3d3e2","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":260,"wires":[["d6ec9360.4e135"]]},{"id":"5242a7d1.60a4a8","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":300,"wires":[["d6ec9360.4e135"]]},{"id":"46f3e517.8367ac","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":485,"wires":[["ec1bafe1.47e48"]]},{"id":"ec1bafe1.47e48","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":797,"y":485,"wires":[["14ba5c6e.262124"]]},{"id":"7c61e9ad.978a38","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":797,"y":525,"wires":[["14ba5c6e.262124"]]},{"id":"fc609ed8.38c0c","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":797,"y":565,"wires":[["14ba5c6e.262124"]]},{"id":"cd8d909b.4bc21","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":525,"wires":[["7c61e9ad.978a38"]]},{"id":"106f7243.f45a0e","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":607,"y":565,"wires":[["fc609ed8.38c0c"]]},{"id":"b12bcb18.5c4cb8","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":775,"wires":[["756bbf78.5fbb1"]]},{"id":"756bbf78.5fbb1","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":775,"wires":[["6a3cb2be.5cd82c"]]},{"id":"dd989a33.d38028","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":815,"wires":[["6a3cb2be.5cd82c"]]},{"id":"5cc23fe9.05db8","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":855,"wires":[["6a3cb2be.5cd82c"]]},{"id":"bcd3387b.56e6f8","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":815,"wires":[["dd989a33.d38028"]]},{"id":"de342e7c.6c7f6","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":855,"wires":[["5cc23fe9.05db8"]]},{"id":"80eeaaf7.29def8","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1058,"wires":[["b99e29f1.ca7158"]]},{"id":"b99e29f1.ca7158","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1058,"wires":[["2c51459b.1f9dfa"]]},{"id":"c56e9ff8.76923","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1098,"wires":[["2c51459b.1f9dfa"]]},{"id":"61944c3b.67f4a4","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":1138,"wires":[["2c51459b.1f9dfa"]]},{"id":"471d65c8.88ab5c","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1098,"wires":[["c56e9ff8.76923"]]},{"id":"286a9c1e.9ee2c4","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":1138,"wires":[["61944c3b.67f4a4"]]},{"id":"1ba7f940.a13347","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":1325,"wires":[["5a5600d4.0f85f"]]},{"id":"5a5600d4.0f85f","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":792,"y":1325,"wires":[["b1c5e374.5c9f3"]]},{"id":"b4e959ea.7c1878","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":792,"y":1365,"wires":[["b1c5e374.5c9f3"]]},{"id":"a0387a9d.6e7128","type":"change","z":"3cec9a84.52ef0e","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":792,"y":1405,"wires":[["b1c5e374.5c9f3"]]},{"id":"cd45ffb3.5c67","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":1365,"wires":[["b4e959ea.7c1878"]]},{"id":"1b5666ed.3c5429","type":"function","z":"3cec9a84.52ef0e","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":602,"y":1405,"wires":[["a0387a9d.6e7128"]]},{"id":"108fbdad.c2b412","type":"mqtt in","z":"b37e4748.464b78","name":"","topic":"BLOCOC/JT310","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":110,"y":120,"wires":[["e1c0db6e.652f28","9d7e5f11.1e6ad","c17efe03.d26638","a2c25f9a.de65d","d1dd91d6.142f48"]]},{"id":"ac7c576e.6dbfb8","type":"modbus-write","z":"b37e4748.464b78","name":"parte alta 122MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"122","quantity":"1","server":"ab73987b.afbef8","x":1327,"y":260,"wires":[[],[]]},{"id":"70b26599.12efac","type":"modbus-write","z":"b37e4748.464b78","name":"parte baixa 123MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"123","quantity":"1","server":"ab73987b.afbef8","x":1337,"y":320,"wires":[[],[]]},{"id":"f3253c5f.e39c6","type":"function","z":"b37e4748.464b78","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1147,"y":260,"wires":[["ac7c576e.6dbfb8"]]},{"id":"b105c265.74aee","type":"function","z":"b37e4748.464b78","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1157,"y":320,"wires":[["70b26599.12efac"]]},{"id":"7f109c7a.e17654","type":"function","z":"b37e4748.464b78","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":240,"wires":[["63ce47be.ef7c38"]]},{"id":"5bcbb12c.61449","type":"function","z":"b37e4748.464b78","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":360,"wires":[["6477457f.d3d52c"]]},{"id":"5bab88ff.85c418","type":"function","z":"b37e4748.464b78","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":480,"wires":[["2affbc4e.958d64"]]},{"id":"f9ef0bf3.2474f8","type":"function","z":"b37e4748.464b78","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":600,"wires":[["a16d94ab.4db068"]]},{"id":"c24932c0.59787","type":"modbus-write","z":"b37e4748.464b78","name":"parte alta 120MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"120","quantity":"1","server":"ab73987b.afbef8","x":1327,"y":140,"wires":[[],[]]},{"id":"7f46479.9c8ceb8","type":"modbus-write","z":"b37e4748.464b78","name":"parte baixa 121MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"121","quantity":"1","server":"ab73987b.afbef8","x":1337,"y":200,"wires":[[],[]]},{"id":"763d8167.8b2c8","type":"function","z":"b37e4748.464b78","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1147,"y":140,"wires":[["c24932c0.59787"]]},{"id":"9828e1d4.2a4f8","type":"function","z":"b37e4748.464b78","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1157,"y":200,"wires":[["7f46479.9c8ceb8"]]},{"id":"adbb2487.aeab08","type":"function","z":"b37e4748.464b78","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":120,"wires":[["357d1730.5f9348"]]},{"id":"844d85b6.028418","type":"modbus-write","z":"b37e4748.464b78","name":"parte alta 124MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"124","quantity":"1","server":"ab73987b.afbef8","x":1327,"y":380,"wires":[[],[]]},{"id":"8039056c.b9ed58","type":"modbus-write","z":"b37e4748.464b78","name":"parte baixa 125MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"125","quantity":"1","server":"ab73987b.afbef8","x":1337,"y":440,"wires":[[],[]]},{"id":"be40a974.aa16b8","type":"function","z":"b37e4748.464b78","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1147,"y":380,"wires":[["844d85b6.028418"]]},{"id":"ffd1c63.f961b38","type":"function","z":"b37e4748.464b78","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1157,"y":440,"wires":[["8039056c.b9ed58"]]},{"id":"b068f803.f9c298","type":"modbus-write","z":"b37e4748.464b78","name":"parte alta 126MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"126","quantity":"1","server":"ab73987b.afbef8","x":1327,"y":500,"wires":[[],[]]},{"id":"60e47fbf.82a3f","type":"modbus-write","z":"b37e4748.464b78","name":"parte baixa 127MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"127","quantity":"1","server":"ab73987b.afbef8","x":1337,"y":560,"wires":[[],[]]},{"id":"42aa0925.0b2378","type":"function","z":"b37e4748.464b78","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1147,"y":500,"wires":[["b068f803.f9c298"]]},{"id":"bf95ef3b.f77b3","type":"function","z":"b37e4748.464b78","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1157,"y":560,"wires":[["60e47fbf.82a3f"]]},{"id":"8bf660ee.07fa2","type":"modbus-write","z":"b37e4748.464b78","name":"parte alta 128MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"128","quantity":"1","server":"ab73987b.afbef8","x":1327,"y":620,"wires":[[],[]]},{"id":"10201849.76faf8","type":"modbus-write","z":"b37e4748.464b78","name":"parte baixa 129MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"129","quantity":"1","server":"ab73987b.afbef8","x":1337,"y":680,"wires":[[],[]]},{"id":"1d7e110e.32ca6f","type":"function","z":"b37e4748.464b78","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1147,"y":620,"wires":[["8bf660ee.07fa2"]]},{"id":"bfc9df65.6fd73","type":"function","z":"b37e4748.464b78","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1147,"y":680,"wires":[["10201849.76faf8"]]},{"id":"357d1730.5f9348","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":120,"wires":[["1a265761.0da459"]]},{"id":"9f48f02c.59b17","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":160,"wires":[["1a265761.0da459"]]},{"id":"1a265761.0da459","type":"join","z":"b37e4748.464b78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":897,"y":160,"wires":[["7d78c9f0.aedf48"]]},{"id":"7d78c9f0.aedf48","type":"change","z":"b37e4748.464b78","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":200,"wires":[["763d8167.8b2c8","9828e1d4.2a4f8"]]},{"id":"c19f754d.c21158","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":200,"wires":[["1a265761.0da459"]]},{"id":"63ce47be.ef7c38","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":240,"wires":[["6d1985a4.b05d2c"]]},{"id":"dcd926fd.33b148","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":280,"wires":[["6d1985a4.b05d2c"]]},{"id":"6d1985a4.b05d2c","type":"join","z":"b37e4748.464b78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":897,"y":280,"wires":[["4ee95dff.046354"]]},{"id":"4ee95dff.046354","type":"change","z":"b37e4748.464b78","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":320,"wires":[["f3253c5f.e39c6","b105c265.74aee"]]},{"id":"9502536e.50336","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":320,"wires":[["6d1985a4.b05d2c"]]},{"id":"6477457f.d3d52c","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":360,"wires":[["f5340e63.15cb8"]]},{"id":"a0c656a3.c5a9c8","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":400,"wires":[["f5340e63.15cb8"]]},{"id":"f5340e63.15cb8","type":"join","z":"b37e4748.464b78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":897,"y":400,"wires":[["dc397513.b9d4a8"]]},{"id":"dc397513.b9d4a8","type":"change","z":"b37e4748.464b78","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":440,"wires":[["be40a974.aa16b8","ffd1c63.f961b38"]]},{"id":"d02689f2.87a5d8","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":440,"wires":[["f5340e63.15cb8"]]},{"id":"2affbc4e.958d64","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":480,"wires":[["c98a6ba5.10dc98"]]},{"id":"3118e998.5229a6","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":520,"wires":[["c98a6ba5.10dc98"]]},{"id":"c98a6ba5.10dc98","type":"join","z":"b37e4748.464b78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":897,"y":520,"wires":[["9d073e3.7b4adc"]]},{"id":"9d073e3.7b4adc","type":"change","z":"b37e4748.464b78","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":560,"wires":[["42aa0925.0b2378","bf95ef3b.f77b3"]]},{"id":"fdca127b.230a1","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":560,"wires":[["c98a6ba5.10dc98"]]},{"id":"a16d94ab.4db068","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":600,"wires":[["7f5cbeb9.8d8"]]},{"id":"82b755bc.9f42c8","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":640,"wires":[["7f5cbeb9.8d8"]]},{"id":"7f5cbeb9.8d8","type":"join","z":"b37e4748.464b78","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":897,"y":640,"wires":[["bdcfaa80.8aaf28"]]},{"id":"bdcfaa80.8aaf28","type":"change","z":"b37e4748.464b78","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":967,"y":680,"wires":[["1d7e110e.32ca6f","bfc9df65.6fd73"]]},{"id":"b25246e1.d01528","type":"change","z":"b37e4748.464b78","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":757,"y":680,"wires":[["7f5cbeb9.8d8"]]},{"id":"bd82cf64.80c6f","type":"mqtt in","z":"b37e4748.464b78","name":"","topic":"BLOCOC/JT311","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":110,"y":160,"wires":[["ef7380d9.41c918","762a9e68.0bd5d8","d4c0d53f.b07c6","cdeddca6.d9364","eb4fee1a.2008"]]},{"id":"27645052.4257d","type":"function","z":"b37e4748.464b78","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":280,"wires":[["dcd926fd.33b148"]]},{"id":"3ec8f149.1d7d0e","type":"function","z":"b37e4748.464b78","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":400,"wires":[["a0c656a3.c5a9c8"]]},{"id":"7d41feca.5d641","type":"function","z":"b37e4748.464b78","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":520,"wires":[["3118e998.5229a6"]]},{"id":"cd5a371d.d8d848","type":"function","z":"b37e4748.464b78","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":640,"wires":[["82b755bc.9f42c8"]]},{"id":"4f9b27ff.b1d0f8","type":"function","z":"b37e4748.464b78","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":160,"wires":[["9f48f02c.59b17"]]},{"id":"a1ec3e46.b8f36","type":"mqtt in","z":"b37e4748.464b78","name":"","topic":"BLOCOC/JT312","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":110,"y":200,"wires":[["593e9fe9.d3a498","62816912.2236f","1547237b.96f83d","fbec5fa8.7759e","6307367.a747948"]]},{"id":"ec8c1a06.0a5d38","type":"function","z":"b37e4748.464b78","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":320,"wires":[["9502536e.50336"]]},{"id":"24dba8d4.527888","type":"function","z":"b37e4748.464b78","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":440,"wires":[["d02689f2.87a5d8"]]},{"id":"ee87004d.b3267","type":"function","z":"b37e4748.464b78","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":560,"wires":[["fdca127b.230a1"]]},{"id":"3833f3e5.a648dc","type":"function","z":"b37e4748.464b78","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":680,"wires":[["b25246e1.d01528"]]},{"id":"5a95b118.e7be1","type":"function","z":"b37e4748.464b78","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":567,"y":200,"wires":[["c19f754d.c21158"]]},{"id":"428de4fd.ddad5c","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":100,"wires":[["73c4aa19.ad3244"]]},{"id":"7eb702a6.050ddc","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":140,"wires":[["344fb2a4.1c34ae"]]},{"id":"7c58519.788103","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":180,"wires":[["b9db1b51.416e2"]]},{"id":"459d0364.525bcc","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":220,"wires":[["3f2e47d4.3f53a"]]},{"id":"7bfb6a57.07dc34","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":260,"wires":[["d4a82748.92243"]]},{"id":"86dffa58.dedd68","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":300,"wires":[["ddf1ff0d.4756"]]},{"id":"d4f8e1b0.e54e48","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":340,"wires":[["465d5dcf.7a3dd4"]]},{"id":"7a60d78f.aa4078","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":380,"wires":[["7aa6a4eb.d5fae4"]]},{"id":"cd59c61f.d332e8","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":420,"wires":[["9ff73426.b1b55"]]},{"id":"cba79299.919808","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":460,"wires":[["b88510de.6b814"]]},{"id":"8a85fbd1.27ed48","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":500,"wires":[["43567446.803c94"]]},{"id":"70567cb8.e38924","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":540,"wires":[["fa9c26f1.8d5ba8"]]},{"id":"df7619d1.bdafd","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":580,"wires":[["efedb3e2.6bd628"]]},{"id":"d248aa3c.60a66","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":620,"wires":[["574e3b87.68cb6c"]]},{"id":"d9f95675.867618","type":"delay","z":"ca4ddfc7.2ffd38","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":390,"y":660,"wires":[["4ecadb96.ff821c"]]},{"id":"7a540427.43a434","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":100,"wires":[["9cb0d14e.32ded"]]},{"id":"9353129f.6499b8","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":140,"wires":[["68221241.e6ec8c"]]},{"id":"ec47d144.b30f98","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":180,"wires":[["8ca15d9b.1fd8c"]]},{"id":"490ffcaf.40638c","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":220,"wires":[["346ecb72.576f74"]]},{"id":"ca902965.19cea8","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":260,"wires":[["8803ed37.24543"]]},{"id":"b7a94742.484478","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":300,"wires":[["48321a8f.e99374"]]},{"id":"d83031d8.11349","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":367,"wires":[["1f9edf6d.be9d61"]]},{"id":"c0c109a1.347fc","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":407,"wires":[["dca0c1e.5f67c4"]]},{"id":"d383b4a9.975748","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":447,"wires":[["95fd74bb.525748"]]},{"id":"6357185c.9721e","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":487,"wires":[["46f3e517.8367ac"]]},{"id":"2551a00a.e526c8","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":527,"wires":[["cd8d909b.4bc21"]]},{"id":"f0ee48ff.7cf9e8","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":567,"wires":[["106f7243.f45a0e"]]},{"id":"bfd46e72.6c0db","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":660,"wires":[["8984cc47.8e242"]]},{"id":"4ebaf07d.99e708","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":700,"wires":[["9b776901.093cb8"]]},{"id":"d97ffa12.8f43a8","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":740,"wires":[["16ea0c48.61aaf4"]]},{"id":"b908c17.eca554","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":780,"wires":[["b12bcb18.5c4cb8"]]},{"id":"da953c61.5bf73","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":820,"wires":[["bcd3387b.56e6f8"]]},{"id":"a35b8056.8c9bd8","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":860,"wires":[["de342e7c.6c7f6"]]},{"id":"1a5ca225.d63766","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":940,"wires":[["ef96caf3.298f18"]]},{"id":"9d474d44.66542","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":980,"wires":[["fbc358db.012a18"]]},{"id":"7734d58c.dda83c","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1020,"wires":[["fa1384f2.0f6778"]]},{"id":"34de50eb.ce5c58","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1060,"wires":[["80eeaaf7.29def8"]]},{"id":"885b5b98.ba6448","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1100,"wires":[["471d65c8.88ab5c"]]},{"id":"e85e559b.a7fcf","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1140,"wires":[["286a9c1e.9ee2c4"]]},{"id":"23bb631b.431864","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1200,"wires":[["92508be8.f32c48"]]},{"id":"8877fbc0.fc1fe","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1240,"wires":[["b346e9a8.328948"]]},{"id":"e6960d99.13477","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1280,"wires":[["bbe4c4ae.7e8fe8"]]},{"id":"c0d196af.eae1d8","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1320,"wires":[["1ba7f940.a13347"]]},{"id":"8dcbb2f7.32c7f","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1360,"wires":[["cd45ffb3.5c67"]]},{"id":"a4cb7d04.a4d438","type":"delay","z":"3cec9a84.52ef0e","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":1400,"wires":[["1b5666ed.3c5429"]]},{"id":"e1c0db6e.652f28","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":120,"wires":[["adbb2487.aeab08"]]},{"id":"ef7380d9.41c918","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":160,"wires":[["4f9b27ff.b1d0f8"]]},{"id":"593e9fe9.d3a498","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":200,"wires":[["5a95b118.e7be1"]]},{"id":"9d7e5f11.1e6ad","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":240,"wires":[["7f109c7a.e17654"]]},{"id":"762a9e68.0bd5d8","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":280,"wires":[["27645052.4257d"]]},{"id":"62816912.2236f","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":320,"wires":[["ec8c1a06.0a5d38"]]},{"id":"c17efe03.d26638","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":360,"wires":[["5bcbb12c.61449"]]},{"id":"d4c0d53f.b07c6","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":400,"wires":[["3ec8f149.1d7d0e"]]},{"id":"1547237b.96f83d","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":440,"wires":[["24dba8d4.527888"]]},{"id":"a2c25f9a.de65d","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":480,"wires":[["5bab88ff.85c418"]]},{"id":"cdeddca6.d9364","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":520,"wires":[["7d41feca.5d641"]]},{"id":"fbec5fa8.7759e","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":560,"wires":[["ee87004d.b3267"]]},{"id":"d1dd91d6.142f48","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":600,"wires":[["f9ef0bf3.2474f8"]]},{"id":"eb4fee1a.2008","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":640,"wires":[["cd5a371d.d8d848"]]},{"id":"6307367.a747948","type":"delay","z":"b37e4748.464b78","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":397,"y":680,"wires":[["3833f3e5.a648dc"]]},{"id":"7bf26a56.0ce9bc","type":"delay","z":"3202e2a5.ae47b6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":400,"y":100,"wires":[["eea36562.8acfc","45d9ce50.a8f6c"]]},{"id":"79dac6c6.bf52e8","type":"delay","z":"3202e2a5.ae47b6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":400,"wires":[["723ec144.ea5178","4dc71d45.637874"]]},{"id":"7cf31da3.1d072c","type":"delay","z":"3202e2a5.ae47b6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":420,"y":700,"wires":[["af3bf131.020d58","769934f6.b81abc"]]},{"id":"45d9dffd.9fa578","type":"delay","z":"3202e2a5.ae47b6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":460,"y":980,"wires":[["2f62e80d.611488","8f880496.a14748"]]},{"id":"88c4935a.5e99f8","type":"delay","z":"3202e2a5.ae47b6","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"15","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":320,"y":1220,"wires":[["46497845.a90ea","79b9cfa2.f67d68"]]},{"id":"ab8ca143.eeb7d8","type":"json","z":"6ca9b00a.29aaf8","name":"","property":"payload","action":"","pretty":true,"x":490,"y":180,"wires":[["38be5e03.2958b2","33bf7953.fd5426","fc48af7c.c7b098","88386a02.c68018"]]},{"id":"332e16b6.0f91ba","type":"http request","z":"6ca9b00a.29aaf8","name":"10.80.0.88 ID 1","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.88/solar_api/v1/GetInverterRealtimeData.cgi?Scope=Device&DeviceId=1&DataCollection=CommonInverterData","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":180,"wires":[["ab8ca143.eeb7d8"]]},{"id":"e98dcee0.ab87a8","type":"inject","z":"6ca9b00a.29aaf8","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1120,"wires":[["332e16b6.0f91ba","786926c4.f190f8","39d35767.173768","bb3c1495.26fdd8","eef04855.36f3a8"]]},{"id":"3120abe8.80a38c","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 4MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"4","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":420,"wires":[[],[]]},{"id":"8b16c12e.2f8c2","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 5MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"5","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":480,"wires":[[],[]]},{"id":"88a3b54f.80a918","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":420,"wires":[["3120abe8.80a38c"]]},{"id":"8b23468b.f4dee8","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":480,"wires":[["8b16c12e.2f8c2"]]},{"id":"38be5e03.2958b2","type":"function","z":"6ca9b00a.29aaf8","name":"DAY_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.DAY_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":420,"wires":[["88a3b54f.80a918","8b23468b.f4dee8"]]},{"id":"33bf7953.fd5426","type":"function","z":"6ca9b00a.29aaf8","name":"TOTAL_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.TOTAL_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":540,"wires":[["559512d3.49ac54","e0638086.dd27d"]]},{"id":"fc48af7c.c7b098","type":"function","z":"6ca9b00a.29aaf8","name":"YEAR_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.YEAR_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":180,"wires":[["3ce81de4.1d385a","30de4f07.c6c9e8"]]},{"id":"50c86827.2a8548","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 6MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"6","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":540,"wires":[[],[]]},{"id":"91957d4c.401b18","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 7MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"7","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":600,"wires":[[],[]]},{"id":"559512d3.49ac54","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":540,"wires":[["50c86827.2a8548"]]},{"id":"e0638086.dd27d","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":600,"wires":[["91957d4c.401b18"]]},{"id":"e2c9b542.9914a8","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 0MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"0","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":180,"wires":[[],[]]},{"id":"be92df66.ab397","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 1MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"1","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":240,"wires":[[],[]]},{"id":"3ce81de4.1d385a","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":180,"wires":[["e2c9b542.9914a8"]]},{"id":"30de4f07.c6c9e8","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":240,"wires":[["be92df66.ab397"]]},{"id":"88386a02.c68018","type":"function","z":"6ca9b00a.29aaf8","name":"PAC","func":"msg.payload = parseFloat(msg.payload.Body.Data.PAC.Value);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["d3d1ebf0.96f208","e794e78d.20ab5"]]},{"id":"e18c5221.04267","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 2MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"2","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":300,"wires":[[],[]]},{"id":"e6062ffa.b6bed","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 3MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"3","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":360,"wires":[[],[]]},{"id":"d3d1ebf0.96f208","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":300,"wires":[["e18c5221.04267"]]},{"id":"e794e78d.20ab5","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":360,"wires":[["e6062ffa.b6bed"]]},{"id":"4cd2d1f8.49cd2","type":"json","z":"6ca9b00a.29aaf8","name":"","property":"payload","action":"","pretty":true,"x":490,"y":680,"wires":[["96e076e0.b65998","c8f5c7e7.759098","d0dff71d.c3f248","13c95328.e6cd5d"]]},{"id":"786926c4.f190f8","type":"http request","z":"6ca9b00a.29aaf8","name":"10.80.0.88 ID 2","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.88/solar_api/v1/GetInverterRealtimeData.cgi?Scope=Device&DeviceId=2&DataCollection=CommonInverterData","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":680,"wires":[["4cd2d1f8.49cd2"]]},{"id":"fcabce24.f646","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 14MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"14","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":920,"wires":[[],[]]},{"id":"374d02bb.82f0ce","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 15MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"15","quantity":"1","server":"ab73987b.afbef8","x":1250,"y":980,"wires":[[],[]]},{"id":"4b4c7702.0a7048","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":920,"wires":[["fcabce24.f646"]]},{"id":"ad8aefa3.69bd2","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":980,"wires":[["374d02bb.82f0ce"]]},{"id":"96e076e0.b65998","type":"function","z":"6ca9b00a.29aaf8","name":"DAY_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.DAY_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":920,"wires":[["4b4c7702.0a7048","ad8aefa3.69bd2"]]},{"id":"c8f5c7e7.759098","type":"function","z":"6ca9b00a.29aaf8","name":"TOTAL_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.TOTAL_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":1040,"wires":[["10b49243.0c726e","83a9a3bb.ce08d"]]},{"id":"d0dff71d.c3f248","type":"function","z":"6ca9b00a.29aaf8","name":"YEAR_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.YEAR_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":695,"y":680,"wires":[["8d89f367.5f9a8","dbdab03.412935"]]},{"id":"7f0fdece.ccb44","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 16MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"16","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":1040,"wires":[[],[]]},{"id":"4eb5c7c3.7cbdf8","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 17MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"17","quantity":"1","server":"ab73987b.afbef8","x":1250,"y":1100,"wires":[[],[]]},{"id":"10b49243.0c726e","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":1040,"wires":[["7f0fdece.ccb44"]]},{"id":"83a9a3bb.ce08d","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":1100,"wires":[["4eb5c7c3.7cbdf8"]]},{"id":"3fec135a.a2e9fc","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 10MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"10","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":680,"wires":[[],[]]},{"id":"1136d7b.abf3f28","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 11MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"11","quantity":"1","server":"ab73987b.afbef8","x":1250,"y":740,"wires":[[],[]]},{"id":"8d89f367.5f9a8","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":680,"wires":[["3fec135a.a2e9fc"]]},{"id":"dbdab03.412935","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":740,"wires":[["1136d7b.abf3f28"]]},{"id":"13c95328.e6cd5d","type":"function","z":"6ca9b00a.29aaf8","name":"PAC","func":"msg.payload = parseFloat(msg.payload.Body.Data.PAC.Value);\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":800,"wires":[["32c8b083.57eab","5362908a.098d2"]]},{"id":"14870fa9.d337a","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 12MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"12","quantity":"1","server":"ab73987b.afbef8","x":1240,"y":800,"wires":[[],[]]},{"id":"670adf41.f9967","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 13MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"13","quantity":"1","server":"ab73987b.afbef8","x":1250,"y":860,"wires":[[],[]]},{"id":"32c8b083.57eab","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":980,"y":800,"wires":[["14870fa9.d337a"]]},{"id":"5362908a.098d2","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":990,"y":860,"wires":[["670adf41.f9967"]]},{"id":"7571c2f.38cb63c","type":"json","z":"6ca9b00a.29aaf8","name":"","property":"payload","action":"","pretty":true,"x":510,"y":1200,"wires":[["18e266b0.483149","ee5c9345.5dcea","79c4231f.7b96fc","905e7260.f361e"]]},{"id":"39d35767.173768","type":"http request","z":"6ca9b00a.29aaf8","name":"10.80.0.88 ID 3","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.88/solar_api/v1/GetInverterRealtimeData.cgi?Scope=Device&DeviceId=3&DataCollection=CommonInverterData","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":1200,"wires":[["7571c2f.38cb63c"]]},{"id":"318f1fb7.6f9d8","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 24MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"24","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":1440,"wires":[[],[]]},{"id":"481d8755.f46758","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 25MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"25","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":1500,"wires":[[],[]]},{"id":"1b4a0ec6.960be1","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1440,"wires":[["318f1fb7.6f9d8"]]},{"id":"5418c60f.4ab398","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1500,"wires":[["481d8755.f46758"]]},{"id":"18e266b0.483149","type":"function","z":"6ca9b00a.29aaf8","name":"DAY_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.DAY_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1440,"wires":[["1b4a0ec6.960be1","5418c60f.4ab398"]]},{"id":"ee5c9345.5dcea","type":"function","z":"6ca9b00a.29aaf8","name":"TOTAL_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.TOTAL_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1560,"wires":[["def9a792.51aeb8","3a1623c4.b0db7c"]]},{"id":"79c4231f.7b96fc","type":"function","z":"6ca9b00a.29aaf8","name":"YEAR_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.YEAR_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1200,"wires":[["383d7b89.322f94","9822b9e9.bb0488"]]},{"id":"53fae589.70411c","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 26MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"26","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":1560,"wires":[[],[]]},{"id":"51a9144.ce213ec","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 27MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"27","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":1620,"wires":[[],[]]},{"id":"def9a792.51aeb8","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1560,"wires":[["53fae589.70411c"]]},{"id":"3a1623c4.b0db7c","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1620,"wires":[["51a9144.ce213ec"]]},{"id":"a8be5498.fa8708","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 20MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"20","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":1200,"wires":[[],[]]},{"id":"54b6678c.e7fce8","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 21MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"21","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":1260,"wires":[[],[]]},{"id":"383d7b89.322f94","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1200,"wires":[["a8be5498.fa8708"]]},{"id":"9822b9e9.bb0488","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1260,"wires":[["54b6678c.e7fce8"]]},{"id":"905e7260.f361e","type":"function","z":"6ca9b00a.29aaf8","name":"PAC","func":"msg.payload = parseFloat(msg.payload.Body.Data.PAC.Value);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1320,"wires":[["4310848.f644e7c","84fd7773.b71d48"]]},{"id":"1e9e4db4.e2f812","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 22MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"22","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":1320,"wires":[[],[]]},{"id":"39526ce6.dfd314","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 23MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"23","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":1380,"wires":[[],[]]},{"id":"4310848.f644e7c","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1320,"wires":[["1e9e4db4.e2f812"]]},{"id":"84fd7773.b71d48","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1380,"wires":[["39526ce6.dfd314"]]},{"id":"ebb4a290.36e94","type":"json","z":"6ca9b00a.29aaf8","name":"","property":"payload","action":"","pretty":true,"x":510,"y":1720,"wires":[["43ad2b58.f45aa4","ff9d8cfc.cfa9b","fa19888c.58c888","3d55a8df.15d668"]]},{"id":"bb3c1495.26fdd8","type":"http request","z":"6ca9b00a.29aaf8","name":"10.80.0.88 ID 4","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.88/solar_api/v1/GetInverterRealtimeData.cgi?Scope=Device&DeviceId=4&DataCollection=CommonInverterData","tls":"","persist":false,"proxy":"","authType":"","x":340,"y":1720,"wires":[["ebb4a290.36e94"]]},{"id":"6d67626b.5eb7dc","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 34MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"34","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":1960,"wires":[[],[]]},{"id":"99d7962f.81f488","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 35MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"35","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":2020,"wires":[[],[]]},{"id":"2de61bb3.7f44f4","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1960,"wires":[["6d67626b.5eb7dc"]]},{"id":"c25744ed.0acf78","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2020,"wires":[["99d7962f.81f488"]]},{"id":"43ad2b58.f45aa4","type":"function","z":"6ca9b00a.29aaf8","name":"DAY_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.DAY_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1960,"wires":[["2de61bb3.7f44f4","c25744ed.0acf78"]]},{"id":"ff9d8cfc.cfa9b","type":"function","z":"6ca9b00a.29aaf8","name":"TOTAL_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.TOTAL_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":2080,"wires":[["ccfab3b4.543ba","357a51e5.61cdee"]]},{"id":"fa19888c.58c888","type":"function","z":"6ca9b00a.29aaf8","name":"YEAR_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.YEAR_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":1720,"wires":[["3366f149.dd777e","611ae6b9.a605f8"]]},{"id":"1d210632.2ce06a","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 36MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"36","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":2080,"wires":[[],[]]},{"id":"bcb25da.dbe6ca","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 37MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"37","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":2140,"wires":[[],[]]},{"id":"ccfab3b4.543ba","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2080,"wires":[["1d210632.2ce06a"]]},{"id":"357a51e5.61cdee","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2140,"wires":[["bcb25da.dbe6ca"]]},{"id":"99114cc1.8a936","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 30MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"30","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":1720,"wires":[[],[]]},{"id":"eff9946.1aa5468","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 31MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"31","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":1780,"wires":[[],[]]},{"id":"3366f149.dd777e","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1720,"wires":[["99114cc1.8a936"]]},{"id":"611ae6b9.a605f8","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1780,"wires":[["eff9946.1aa5468"]]},{"id":"3d55a8df.15d668","type":"function","z":"6ca9b00a.29aaf8","name":"PAC","func":"msg.payload = parseFloat(msg.payload.Body.Data.PAC.Value);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1840,"wires":[["be7869e3.62fa48","7e04c496.2edadc"]]},{"id":"c5422f8e.15ca6","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 32MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"32","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":1840,"wires":[[],[]]},{"id":"8aaad8e2.9a69a8","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 33MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"33","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":1900,"wires":[[],[]]},{"id":"be7869e3.62fa48","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":1840,"wires":[["c5422f8e.15ca6"]]},{"id":"7e04c496.2edadc","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":1900,"wires":[["8aaad8e2.9a69a8"]]},{"id":"11a17737.a15b19","type":"json","z":"6ca9b00a.29aaf8","name":"","property":"payload","action":"","pretty":true,"x":510,"y":2220,"wires":[["5b907c79.003134","bf81cef9.5d2b8","a9eee69c.545d88","13df29cb.65eee6"]]},{"id":"eef04855.36f3a8","type":"http request","z":"6ca9b00a.29aaf8","name":"10.80.0.84 ID 1","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.84/solar_api/v1/GetInverterRealtimeData.cgi?Scope=Device&DeviceId=1&DataCollection=CommonInverterData","tls":"","persist":false,"proxy":"","authType":"","x":360,"y":2220,"wires":[["11a17737.a15b19"]]},{"id":"37655822.830e88","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 44MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"44","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":2460,"wires":[[],[]]},{"id":"b98d608f.876e5","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 45MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"45","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":2520,"wires":[[],[]]},{"id":"ff222ae3.9587f8","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2460,"wires":[["37655822.830e88"]]},{"id":"989f85bc.c939e8","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2520,"wires":[["b98d608f.876e5"]]},{"id":"5b907c79.003134","type":"function","z":"6ca9b00a.29aaf8","name":"DAY_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.DAY_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":2460,"wires":[["ff222ae3.9587f8","989f85bc.c939e8"]]},{"id":"bf81cef9.5d2b8","type":"function","z":"6ca9b00a.29aaf8","name":"TOTAL_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.TOTAL_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":2580,"wires":[["e9e18b58.90cfa8","63f1cd4d.5a9874"]]},{"id":"a9eee69c.545d88","type":"function","z":"6ca9b00a.29aaf8","name":"YEAR_ENERGY","func":"msg.payload = parseFloat(msg.payload.Body.Data.YEAR_ENERGY.Value);\nreturn msg;","outputs":1,"noerr":0,"x":715,"y":2220,"wires":[["a10b0056.29b9d","57e8b5f7.8edb6c"]]},{"id":"69939100.8fd37","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 46MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"46","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":2580,"wires":[[],[]]},{"id":"2c4f61d9.389fce","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 47MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"47","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":2640,"wires":[[],[]]},{"id":"e9e18b58.90cfa8","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2580,"wires":[["69939100.8fd37"]]},{"id":"63f1cd4d.5a9874","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2640,"wires":[["2c4f61d9.389fce"]]},{"id":"867ea619.56cb88","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 40MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"40","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":2220,"wires":[[],[]]},{"id":"d9081d1.31a03e","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 41MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"41","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":2280,"wires":[[],[]]},{"id":"a10b0056.29b9d","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2220,"wires":[["867ea619.56cb88"]]},{"id":"57e8b5f7.8edb6c","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2280,"wires":[["d9081d1.31a03e"]]},{"id":"13df29cb.65eee6","type":"function","z":"6ca9b00a.29aaf8","name":"PAC","func":"msg.payload = parseFloat(msg.payload.Body.Data.PAC.Value);\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":2340,"wires":[["f2cb3211.8a8bf","209181de.148b2e"]]},{"id":"66f08a8f.675a44","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte alta 42MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"42","quantity":"1","server":"ab73987b.afbef8","x":1260,"y":2340,"wires":[[],[]]},{"id":"3cc05aa9.fc8746","type":"modbus-write","z":"6ca9b00a.29aaf8","name":"parte baixa 43MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"43","quantity":"1","server":"ab73987b.afbef8","x":1270,"y":2400,"wires":[[],[]]},{"id":"f2cb3211.8a8bf","type":"function","z":"6ca9b00a.29aaf8","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1000,"y":2340,"wires":[["66f08a8f.675a44"]]},{"id":"209181de.148b2e","type":"function","z":"6ca9b00a.29aaf8","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1010,"y":2400,"wires":[["3cc05aa9.fc8746"]]},{"id":"f94acc54.7ccb48","type":"mqtt in","z":"61486151.57501","name":"","topic":"AREAEXTERNA/JT315","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":210,"y":140,"wires":[["891d8ff6.08367","6b761695.acea88","3e01fcaa.07623c","3754df8a.0c6e4","b5a7dc39.f5488"]]},{"id":"26d531d7.74164e","type":"modbus-write","z":"61486151.57501","name":"parte alta 132MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"132","quantity":"1","server":"ab73987b.afbef8","x":1500,"y":460,"wires":[[],[]]},{"id":"57f0966e.565f3","type":"modbus-write","z":"61486151.57501","name":"parte baixa 133MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"133","quantity":"1","server":"ab73987b.afbef8","x":1510,"y":520,"wires":[[],[]]},{"id":"36ba8947.2c9946","type":"function","z":"61486151.57501","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":460,"wires":[["26d531d7.74164e"]]},{"id":"193cf608.01d4d2","type":"function","z":"61486151.57501","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1330,"y":520,"wires":[["57f0966e.565f3"]]},{"id":"eaaad040.4df0a8","type":"function","z":"61486151.57501","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":407,"wires":[["be6f8687.a399e8"]]},{"id":"d46068c5.a16d38","type":"function","z":"61486151.57501","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":700,"wires":[["1b1af9a3.11b0fe"]]},{"id":"b976e68.da3bd18","type":"function","z":"61486151.57501","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":981,"wires":[["1d8dd4e5.041073"]]},{"id":"d490f43a.3f119","type":"function","z":"61486151.57501","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1240,"wires":[["8bead7f5.b8f1f"]]},{"id":"fcf2e2eb.56c6d8","type":"modbus-write","z":"61486151.57501","name":"parte alta 130MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"130","quantity":"1","server":"ab73987b.afbef8","x":1480,"y":220,"wires":[[],[]]},{"id":"9811f3a.8cb6f1","type":"modbus-write","z":"61486151.57501","name":"parte baixa 131MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"131","quantity":"1","server":"ab73987b.afbef8","x":1490,"y":280,"wires":[[],[]]},{"id":"849dca52.7e8228","type":"function","z":"61486151.57501","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1300,"y":220,"wires":[["fcf2e2eb.56c6d8"]]},{"id":"d7888604.aea528","type":"function","z":"61486151.57501","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":280,"wires":[["9811f3a.8cb6f1"]]},{"id":"79e2a318.28f34c","type":"function","z":"61486151.57501","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":140,"wires":[["3bb132b0.4ebdd6"]]},{"id":"a8b2b6d0.4d26b8","type":"modbus-write","z":"61486151.57501","name":"parte alta 134MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"134","quantity":"1","server":"ab73987b.afbef8","x":1490,"y":713,"wires":[[],[]]},{"id":"b3137dcc.e282f","type":"modbus-write","z":"61486151.57501","name":"parte baixa 135MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"135","quantity":"1","server":"ab73987b.afbef8","x":1500,"y":773,"wires":[[],[]]},{"id":"22e37f95.e238b8","type":"function","z":"61486151.57501","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1310,"y":713,"wires":[["a8b2b6d0.4d26b8"]]},{"id":"49f799bd.13b228","type":"function","z":"61486151.57501","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1320,"y":773,"wires":[["b3137dcc.e282f"]]},{"id":"eddc9361.333998","type":"modbus-write","z":"61486151.57501","name":"parte alta 136MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"136","quantity":"1","server":"ab73987b.afbef8","x":1501,"y":1001,"wires":[[],[]]},{"id":"83c1ad0c.98e27","type":"modbus-write","z":"61486151.57501","name":"parte baixa 137MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"137","quantity":"1","server":"ab73987b.afbef8","x":1511,"y":1061,"wires":[[],[]]},{"id":"e576b359.0f3df","type":"function","z":"61486151.57501","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1001,"wires":[["eddc9361.333998"]]},{"id":"dd92b1b7.9c9078","type":"function","z":"61486151.57501","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1331,"y":1061,"wires":[["83c1ad0c.98e27"]]},{"id":"a92779d.5b03988","type":"modbus-write","z":"61486151.57501","name":"parte alta 138MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"138","quantity":"1","server":"ab73987b.afbef8","x":1501,"y":1260,"wires":[[],[]]},{"id":"17ece787.8e9a58","type":"modbus-write","z":"61486151.57501","name":"parte baixa 139MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"139","quantity":"1","server":"ab73987b.afbef8","x":1511,"y":1320,"wires":[[],[]]},{"id":"dc8705df.beff1","type":"function","z":"61486151.57501","name":"parte alta","func":"msg.payload = msg.payload >> 16 ;\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1260,"wires":[["a92779d.5b03988"]]},{"id":"857d729.a48191","type":"function","z":"61486151.57501","name":"parte baixa","func":"msg.payload = msg.payload & 0xFFFF ;\nreturn msg;","outputs":1,"noerr":0,"x":1321,"y":1320,"wires":[["17ece787.8e9a58"]]},{"id":"3bb132b0.4ebdd6","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":140,"wires":[["c3d427b6.b80fb8"]]},{"id":"a76af68a.c6be08","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":180,"wires":[["c3d427b6.b80fb8"]]},{"id":"c3d427b6.b80fb8","type":"join","z":"61486151.57501","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1050,"y":240,"wires":[["54e740ab.a8d59"]]},{"id":"54e740ab.a8d59","type":"change","z":"61486151.57501","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1120,"y":280,"wires":[["849dca52.7e8228","d7888604.aea528"]]},{"id":"9e7c1420.34177","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":220,"wires":[["c3d427b6.b80fb8"]]},{"id":"be6f8687.a399e8","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":407,"wires":[["90f4e443.660cc"]]},{"id":"90bb49e5.bc0ea8","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":447,"wires":[["90f4e443.660cc"]]},{"id":"90f4e443.660cc","type":"join","z":"61486151.57501","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1070,"y":480,"wires":[["2d6492f0.c7c9ce"]]},{"id":"2d6492f0.c7c9ce","type":"change","z":"61486151.57501","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1140,"y":520,"wires":[["36ba8947.2c9946","193cf608.01d4d2"]]},{"id":"c002e5ba.8d9a18","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":487,"wires":[["90f4e443.660cc"]]},{"id":"1b1af9a3.11b0fe","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":700,"wires":[["3a6ed751.96196"]]},{"id":"46bba283.7b7004","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":740,"wires":[["3a6ed751.96196"]]},{"id":"3a6ed751.96196","type":"join","z":"61486151.57501","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1060,"y":733,"wires":[["34d21c00.e5623c"]]},{"id":"34d21c00.e5623c","type":"change","z":"61486151.57501","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1130,"y":773,"wires":[["22e37f95.e238b8","49f799bd.13b228"]]},{"id":"51f43bbd.c3875c","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":780,"wires":[["3a6ed751.96196"]]},{"id":"1d8dd4e5.041073","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":981,"wires":[["bc4e9b8.fd974e8"]]},{"id":"ba16d783.706b38","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1021,"wires":[["bc4e9b8.fd974e8"]]},{"id":"bc4e9b8.fd974e8","type":"join","z":"61486151.57501","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1071,"y":1021,"wires":[["93bfc0b3.18eb7"]]},{"id":"93bfc0b3.18eb7","type":"change","z":"61486151.57501","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1141,"y":1061,"wires":[["e576b359.0f3df","dd92b1b7.9c9078"]]},{"id":"7625bf2b.01659","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1061,"wires":[["bc4e9b8.fd974e8"]]},{"id":"8bead7f5.b8f1f","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1240,"wires":[["e66e9129.5814d8"]]},{"id":"6ed4f501.6475c4","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1280,"wires":[["e66e9129.5814d8"]]},{"id":"e66e9129.5814d8","type":"join","z":"61486151.57501","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"6","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1071,"y":1280,"wires":[["f6affeb7.b655a"]]},{"id":"f6affeb7.b655a","type":"change","z":"61486151.57501","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1141,"y":1320,"wires":[["dc8705df.beff1","857d729.a48191"]]},{"id":"7bd72986.6579","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1320,"wires":[["e66e9129.5814d8"]]},{"id":"2e9fa835.3cd18","type":"mqtt in","z":"61486151.57501","name":"","topic":"AREAEXTERNA/JT316","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":210,"y":180,"wires":[["24138e9c.3f68aa","1017122c.36f0fe","5b7c2054.122ec","415f6d5c.513344","5128b95f.8f53e8"]]},{"id":"efa3da33.4bd118","type":"function","z":"61486151.57501","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":447,"wires":[["90bb49e5.bc0ea8"]]},{"id":"e3244783.f9c818","type":"function","z":"61486151.57501","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":740,"wires":[["46bba283.7b7004"]]},{"id":"e97f54c.2211ea8","type":"function","z":"61486151.57501","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1021,"wires":[["ba16d783.706b38"]]},{"id":"67dc69e8.513b68","type":"function","z":"61486151.57501","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1280,"wires":[["6ed4f501.6475c4"]]},{"id":"bdf9a042.a6835","type":"function","z":"61486151.57501","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":180,"wires":[["a76af68a.c6be08"]]},{"id":"61a3997a.93a168","type":"mqtt in","z":"61486151.57501","name":"","topic":"AREAEXTERNA/JT317","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":210,"y":220,"wires":[["a757e47f.e8a2a","f912a103.1c22e","3c6426b.800c0da","c883fa19.5d614","b836bca7.b1a3"]]},{"id":"c3b9570b.5d0f7","type":"function","z":"61486151.57501","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":487,"wires":[["c002e5ba.8d9a18"]]},{"id":"2c227e7e.c6343a","type":"function","z":"61486151.57501","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":780,"wires":[["51f43bbd.c3875c"]]},{"id":"edae0a04.a6c868","type":"function","z":"61486151.57501","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1061,"wires":[["7625bf2b.01659"]]},{"id":"82b5149d.9eb91","type":"function","z":"61486151.57501","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1320,"wires":[["7bd72986.6579"]]},{"id":"8f1d2149.82c51","type":"function","z":"61486151.57501","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":220,"wires":[["9e7c1420.34177"]]},{"id":"de9ec2b4.17b2","type":"mqtt in","z":"61486151.57501","name":"","topic":"OFICINA/JT318","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":180,"y":260,"wires":[["eff9ea8b.cbfa88","c5a2ea43.6c01b8","553efb39.216bac","4cff3c75.8bb57c","b65f0d43.069068"]]},{"id":"ed6b9f52.96e21","type":"mqtt in","z":"61486151.57501","name":"","topic":"OFICINA/JT319","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":180,"y":300,"wires":[["9840b55.2fd8848","4bac7b45.8c25dc","877d93f9.0f0ca8","deb97d79.91ab7","2d0dfe8e.0595f2"]]},{"id":"753a402e.86bec8","type":"mqtt in","z":"61486151.57501","name":"","topic":"OFICINA/JT320","qos":"0","datatype":"json","broker":"37d95d23.d58c2a","x":180,"y":340,"wires":[["df676b07.059d58","e80d2df3.c2c7f","c83f6364.ed4318","d4a73cda.a4ff5","59aef972.110238"]]},{"id":"2f40e4d3.dbe17c","type":"function","z":"61486151.57501","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":260,"wires":[["6bb1083e.e988a8"]]},{"id":"c8f8cf17.57bc7","type":"function","z":"61486151.57501","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":340,"wires":[["6d407c94.f843b4"]]},{"id":"4031c6e1.63eb1","type":"function","z":"61486151.57501","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":300,"wires":[["bbdd072f.acd438"]]},{"id":"6bb1083e.e988a8","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":260,"wires":[["c3d427b6.b80fb8"]]},{"id":"bbdd072f.acd438","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":300,"wires":[["c3d427b6.b80fb8"]]},{"id":"6d407c94.f843b4","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":340,"wires":[["c3d427b6.b80fb8"]]},{"id":"5b2e28ee.a7d178","type":"function","z":"61486151.57501","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":525,"wires":[["6378fb3d.89ba9c"]]},{"id":"6378fb3d.89ba9c","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":857,"y":525,"wires":[["90f4e443.660cc"]]},{"id":"7c72158a.60f7cc","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":857,"y":565,"wires":[["90f4e443.660cc"]]},{"id":"752649a8.97f9e8","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":857,"y":605,"wires":[["90f4e443.660cc"]]},{"id":"3bec29ec.7cbb9e","type":"function","z":"61486151.57501","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":565,"wires":[["7c72158a.60f7cc"]]},{"id":"6ac8c952.9e8ff","type":"function","z":"61486151.57501","name":"Pot_Dia","func":"msg.payload = parseFloat(msg.payload.Pot_Dia)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":667,"y":605,"wires":[["752649a8.97f9e8"]]},{"id":"5232b2b0.454fa4","type":"function","z":"61486151.57501","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":815,"wires":[["9177d2ff.c46de8"]]},{"id":"9177d2ff.c46de8","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":815,"wires":[["3a6ed751.96196"]]},{"id":"c76e6746.5c19f","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":855,"wires":[["3a6ed751.96196"]]},{"id":"b5130ee1.ac4998","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":895,"wires":[["3a6ed751.96196"]]},{"id":"5326a8e2.5854a","type":"function","z":"61486151.57501","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":855,"wires":[["c76e6746.5c19f"]]},{"id":"102039a2.0d16be","type":"function","z":"61486151.57501","name":"Pot_Mes","func":"msg.payload = parseFloat(msg.payload.Pot_Mes)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":895,"wires":[["b5130ee1.ac4998"]]},{"id":"2b4b5f70.0af3b","type":"function","z":"61486151.57501","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1098,"wires":[["aafd325d.b0af58"]]},{"id":"aafd325d.b0af58","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"4","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1098,"wires":[["bc4e9b8.fd974e8"]]},{"id":"46c860c9.f2f668","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"5","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1138,"wires":[["bc4e9b8.fd974e8"]]},{"id":"eb47be92.4e1c38","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"6","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":850,"y":1178,"wires":[["bc4e9b8.fd974e8"]]},{"id":"93bcd36.07013b","type":"function","z":"61486151.57501","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1138,"wires":[["46c860c9.f2f668"]]},{"id":"e51f6c47.5d8d6","type":"function","z":"61486151.57501","name":"Pot_Ano","func":"msg.payload = parseFloat(msg.payload.Pot_Ano)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":660,"y":1178,"wires":[["eb47be92.4e1c38"]]},{"id":"56c648c0.0c7bb8","type":"function","z":"61486151.57501","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":662,"y":1365,"wires":[["c750f22.7a7419"]]},{"id":"c750f22.7a7419","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":852,"y":1365,"wires":[["e66e9129.5814d8"]]},{"id":"15fb33d5.904554","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":852,"y":1405,"wires":[["e66e9129.5814d8"]]},{"id":"77bcd578.5ae94c","type":"change","z":"61486151.57501","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":852,"y":1445,"wires":[["e66e9129.5814d8"]]},{"id":"6837757d.c2e5dc","type":"function","z":"61486151.57501","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":662,"y":1405,"wires":[["15fb33d5.904554"]]},{"id":"33010857.3ec5c8","type":"function","z":"61486151.57501","name":"Pot_Total","func":"msg.payload = parseFloat(msg.payload.Pot_Total)*1000;\nreturn msg;","outputs":1,"noerr":0,"x":662,"y":1445,"wires":[["77bcd578.5ae94c"]]},{"id":"891d8ff6.08367","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":140,"wires":[["79e2a318.28f34c"]]},{"id":"24138e9c.3f68aa","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":180,"wires":[["bdf9a042.a6835"]]},{"id":"a757e47f.e8a2a","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":220,"wires":[["8f1d2149.82c51"]]},{"id":"eff9ea8b.cbfa88","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":260,"wires":[["2f40e4d3.dbe17c"]]},{"id":"9840b55.2fd8848","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":300,"wires":[["4031c6e1.63eb1"]]},{"id":"df676b07.059d58","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":340,"wires":[["c8f8cf17.57bc7"]]},{"id":"6b761695.acea88","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":407,"wires":[["eaaad040.4df0a8"]]},{"id":"1017122c.36f0fe","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":447,"wires":[["efa3da33.4bd118"]]},{"id":"f912a103.1c22e","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":487,"wires":[["c3b9570b.5d0f7"]]},{"id":"c5a2ea43.6c01b8","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":527,"wires":[["5b2e28ee.a7d178"]]},{"id":"4bac7b45.8c25dc","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":567,"wires":[["3bec29ec.7cbb9e"]]},{"id":"e80d2df3.c2c7f","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":607,"wires":[["6ac8c952.9e8ff"]]},{"id":"3e01fcaa.07623c","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":700,"wires":[["d46068c5.a16d38"]]},{"id":"5b7c2054.122ec","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":740,"wires":[["e3244783.f9c818"]]},{"id":"3c6426b.800c0da","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":780,"wires":[["2c227e7e.c6343a"]]},{"id":"553efb39.216bac","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":820,"wires":[["5232b2b0.454fa4"]]},{"id":"877d93f9.0f0ca8","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":860,"wires":[["5326a8e2.5854a"]]},{"id":"c83f6364.ed4318","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":900,"wires":[["102039a2.0d16be"]]},{"id":"3754df8a.0c6e4","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":980,"wires":[["b976e68.da3bd18"]]},{"id":"415f6d5c.513344","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1020,"wires":[["e97f54c.2211ea8"]]},{"id":"c883fa19.5d614","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1060,"wires":[["edae0a04.a6c868"]]},{"id":"4cff3c75.8bb57c","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1100,"wires":[["2b4b5f70.0af3b"]]},{"id":"deb97d79.91ab7","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1140,"wires":[["93bcd36.07013b"]]},{"id":"d4a73cda.a4ff5","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1180,"wires":[["e51f6c47.5d8d6"]]},{"id":"b5a7dc39.f5488","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1240,"wires":[["d490f43a.3f119"]]},{"id":"5128b95f.8f53e8","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1280,"wires":[["67dc69e8.513b68"]]},{"id":"b836bca7.b1a3","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1320,"wires":[["82b5149d.9eb91"]]},{"id":"b65f0d43.069068","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1360,"wires":[["56c648c0.0c7bb8"]]},{"id":"2d0dfe8e.0595f2","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1400,"wires":[["6837757d.c2e5dc"]]},{"id":"59aef972.110238","type":"delay","z":"61486151.57501","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"5","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":490,"y":1440,"wires":[["33010857.3ec5c8"]]},{"id":"42ac6eda.b775c","type":"http request","z":"a951fdb0.6a03","name":"10.80.0.88 ID 1","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.88/solar_api/v1/GetSensorRealtimeData.cgi?Scope=Device&DeviceId=1&DataCollection=NowSensorData","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":600,"wires":[["f1e5a586.108dc8"]]},{"id":"63198822.fda608","type":"inject","z":"a951fdb0.6a03","name":"","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":90,"y":800,"wires":[["42ac6eda.b775c","5c057ef7.50a12","af5499f9.5b5e08","b1255014.9b5e3","ec175fe6.c3c4a"]]},{"id":"6d9ad047.a6d25","type":"function","z":"a951fdb0.6a03","name":"INSOLATION","func":"msg.payload = msg.payload.Body.Data.insolacao.Value;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":600,"wires":[["58a5b752.c29798"]]},{"id":"58a5b752.c29798","type":"modbus-write","z":"a951fdb0.6a03","name":"parte alta 350MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"350","quantity":"1","server":"ab73987b.afbef8","x":1090,"y":600,"wires":[[],[]]},{"id":"5c057ef7.50a12","type":"http request","z":"a951fdb0.6a03","name":"10.80.0.88 ID 2","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.88/solar_api/v1/GetSensorRealtimeData.cgi?Scope=Device&DeviceId=2&DataCollection=NowSensorData","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":700,"wires":[["5e6d9300.c45ebc"]]},{"id":"af5499f9.5b5e08","type":"http request","z":"a951fdb0.6a03","name":"10.80.0.88 ID 3","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.88/solar_api/v1/GetSensorRealtimeData.cgi?Scope=Device&DeviceId=3&DataCollection=NowSensorData","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":800,"wires":[["12c78db8.541132"]]},{"id":"b1255014.9b5e3","type":"http request","z":"a951fdb0.6a03","name":"10.80.0.88 ID 4","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.88/solar_api/v1/GetSensorRealtimeData.cgi?Scope=Device&DeviceId=4&DataCollection=NowSensorData","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":900,"wires":[["a4fc1033.4c399"]]},{"id":"ec175fe6.c3c4a","type":"http request","z":"a951fdb0.6a03","name":"10.80.0.84 ID 2","method":"GET","ret":"txt","paytoqs":false,"url":"http://10.80.0.84/solar_api/v1/GetSensorRealtimeData.cgi?Scope=Device&DeviceId=2&DataCollection=NowSensorData","tls":"","persist":false,"proxy":"","authType":"","x":300,"y":1000,"wires":[["d571a1c1.0dd32"]]},{"id":"f1e5a586.108dc8","type":"change","z":"a951fdb0.6a03","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"2\" :","fromt":"str","to":"\"insolacao\" :","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":600,"wires":[["2e15a8e3.4a0c8"]]},{"id":"2e15a8e3.4a0c8","type":"json","z":"a951fdb0.6a03","name":"","property":"payload","action":"","pretty":true,"x":710,"y":600,"wires":[["6d9ad047.a6d25"]]},{"id":"84ebc5b.4c94d38","type":"function","z":"a951fdb0.6a03","name":"INSOLATION","func":"msg.payload = msg.payload.Body.Data.insolacao.Value;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":700,"wires":[["2f8b0294.bc9b36"]]},{"id":"2f8b0294.bc9b36","type":"modbus-write","z":"a951fdb0.6a03","name":"parte alta 351MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"351","quantity":"1","server":"ab73987b.afbef8","x":1090,"y":700,"wires":[[],[]]},{"id":"5e6d9300.c45ebc","type":"change","z":"a951fdb0.6a03","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"2\" :","fromt":"str","to":"\"insolacao\" :","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":700,"wires":[["7b378334.ce0d8c"]]},{"id":"7b378334.ce0d8c","type":"json","z":"a951fdb0.6a03","name":"","property":"payload","action":"","pretty":true,"x":710,"y":700,"wires":[["84ebc5b.4c94d38"]]},{"id":"9e2cae28.66d2f","type":"function","z":"a951fdb0.6a03","name":"INSOLATION","func":"msg.payload = msg.payload.Body.Data.insolacao.Value;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":800,"wires":[["cbd2c83b.be23f"]]},{"id":"cbd2c83b.be23f","type":"modbus-write","z":"a951fdb0.6a03","name":"parte alta 352MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"352","quantity":"1","server":"ab73987b.afbef8","x":1090,"y":800,"wires":[[],[]]},{"id":"12c78db8.541132","type":"change","z":"a951fdb0.6a03","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"2\" :","fromt":"str","to":"\"insolacao\" :","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":800,"wires":[["28dfca62.9cb2fe"]]},{"id":"28dfca62.9cb2fe","type":"json","z":"a951fdb0.6a03","name":"","property":"payload","action":"","pretty":true,"x":710,"y":800,"wires":[["9e2cae28.66d2f"]]},{"id":"81621cb.2df6d6","type":"function","z":"a951fdb0.6a03","name":"INSOLATION","func":"msg.payload = msg.payload.Body.Data.insolacao.Value;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":900,"wires":[["afb5e1cf.f5b07"]]},{"id":"afb5e1cf.f5b07","type":"modbus-write","z":"a951fdb0.6a03","name":"parte alta 353MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"353","quantity":"1","server":"ab73987b.afbef8","x":1090,"y":900,"wires":[[],[]]},{"id":"a4fc1033.4c399","type":"change","z":"a951fdb0.6a03","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"2\" :","fromt":"str","to":"\"insolacao\" :","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":900,"wires":[["d8d6366.3632548"]]},{"id":"d8d6366.3632548","type":"json","z":"a951fdb0.6a03","name":"","property":"payload","action":"","pretty":true,"x":710,"y":900,"wires":[["81621cb.2df6d6"]]},{"id":"46e6f822.5a7e7","type":"function","z":"a951fdb0.6a03","name":"INSOLATION","func":"msg.payload = msg.payload.Body.Data.insolacao.Value;\nreturn msg;","outputs":1,"noerr":0,"x":860,"y":1000,"wires":[["c2442fe.d60175"]]},{"id":"c2442fe.d60175","type":"modbus-write","z":"a951fdb0.6a03","name":"parte alta 354MB","showStatusActivities":false,"showErrors":false,"unitid":"","dataType":"HoldingRegister","adr":"354","quantity":"1","server":"ab73987b.afbef8","x":1090,"y":1000,"wires":[[],[]]},{"id":"d571a1c1.0dd32","type":"change","z":"a951fdb0.6a03","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"\"2\" :","fromt":"str","to":"\"insolacao\" :","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1000,"wires":[["4eb2d483.bbf8c4"]]},{"id":"4eb2d483.bbf8c4","type":"json","z":"a951fdb0.6a03","name":"","property":"payload","action":"","pretty":true,"x":710,"y":1000,"wires":[["46e6f822.5a7e7"]]},{"id":"66898f16.3bcdd","type":"debug","z":"61486151.57501","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1410,"y":120,"wires":[]}]