i2s flows 1881.json
[{"id":"91cd3a02.1e27b8","type":"tab","label":"blocoA","disabled":false,"info":""},{"id":"742426d4.db5398","type":"tab","label":"blocoB1","disabled":false,"info":""},{"id":"dfec6628.52507","type":"tab","label":"blocoB2","disabled":false,"info":""},{"id":"c288d9d2.2e2ef","type":"tab","label":"blocoC","disabled":false,"info":""},{"id":"f8cbf1e0.0e2af","type":"tab","label":"Guarita","disabled":false,"info":""},{"id":"38ce0589.f38fb2","type":"tab","label":"AreaExterna","disabled":false,"info":""},{"id":"4f066463.e70524","type":"tab","label":"OFICINA","disabled":false,"info":""},{"id":"d4cc931d.e833d8","type":"tab","label":"ESTUFA","disabled":false,"info":""},{"id":"a93a8e37.84c1d","type":"mqtt-broker","z":"","name":"10.80.0.80","broker":"10.80.0.80","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c8ddfbb7.aebe38","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#008080","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#008080","edited":true},"page-titlebar-backgroundColor":{"value":"#008080","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#000000","edited":false},"group-textColor":{"value":"#00cccc","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#008080","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Medidores I2S","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"845c3019.08eb7","type":"ui_tab","z":"","name":"Medidores de Consumo de Energia","icon":"dashboard","disabled":false,"hidden":false},{"id":"29def666.07279a","type":"ui_group","z":"","name":"Bloco A","tab":"845c3019.08eb7","order":1,"disp":true,"width":"6","collapse":true},{"id":"f55306c1.62b4d","type":"ui_group","z":"","name":"Bloco B1","tab":"845c3019.08eb7","order":2,"disp":true,"width":"6","collapse":true},{"id":"853ee766.0efd18","type":"ui_group","z":"","name":"Bloco B2","tab":"845c3019.08eb7","order":3,"disp":true,"width":"6","collapse":true},{"id":"8960b541.20f29","type":"ui_group","z":"","name":"Bloco C","tab":"845c3019.08eb7","order":4,"disp":true,"width":"6","collapse":true},{"id":"6b6d092e.a751c8","type":"ui_group","z":"","name":"Guarita","tab":"845c3019.08eb7","order":6,"disp":true,"width":"6","collapse":true},{"id":"66a10e50.05eed8","type":"ui_group","z":"","name":"Área externa","tab":"845c3019.08eb7","order":5,"disp":true,"width":"6","collapse":true},{"id":"43adc6dc.8674c","type":"ui_group","z":"","name":"Oficina","tab":"845c3019.08eb7","order":7,"disp":true,"width":"6","collapse":true},{"id":"ff44fe76.046b","type":"ui_group","z":"","name":"Estufa","tab":"845c3019.08eb7","order":8,"disp":true,"width":"6","collapse":true},{"id":"e38861d.fa5d0a","type":"ui_spacer","name":"spacer","group":"6b6d092e.a751c8","order":4,"width":2,"height":1},{"id":"fa41ea5d.ef2f78","type":"ui_spacer","name":"spacer","group":"6b6d092e.a751c8","order":5,"width":2,"height":1},{"id":"118d09cc.d6b206","type":"ui_spacer","name":"spacer","group":"6b6d092e.a751c8","order":8,"width":2,"height":1},{"id":"54558d7f.dde084","type":"ui_spacer","name":"spacer","group":"6b6d092e.a751c8","order":9,"width":2,"height":1},{"id":"4668c008.1a63d","type":"ui_spacer","name":"spacer","group":"6b6d092e.a751c8","order":12,"width":2,"height":1},{"id":"6453fced.791d34","type":"ui_spacer","name":"spacer","group":"6b6d092e.a751c8","order":13,"width":2,"height":1},{"id":"84adf66.0243e88","type":"mqtt in","z":"91cd3a02.1e27b8","name":"","topic":"BLOCOA/JT301","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":128.5,"y":55,"wires":[["a70a24ae.5ee368","426f9c4f.c321dc","41621076.fd681"]]},{"id":"29c52790.e22ad8","type":"mqtt in","z":"91cd3a02.1e27b8","name":"","topic":"BLOCOA/JT302","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":134,"y":209,"wires":[["56eb8ab3.8d1a5c","4e9df0f0.706f78","5eeadb96.917bfc"]]},{"id":"5e0351b9.4c6d2","type":"mqtt in","z":"91cd3a02.1e27b8","name":"","topic":"BLOCOA/JT303","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":137,"y":362,"wires":[["97e50d2b.4ce118","3e80e969.e20fde","8e97202c.92c37"]]},{"id":"555033ae.9e90cc","type":"function","z":"91cd3a02.1e27b8","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":50,"wires":[["44d82923.bb0f98","5e5e4206.570fa4"]]},{"id":"65fb9d57.5dc60c","type":"function","z":"91cd3a02.1e27b8","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":484.75,"y":105.75,"wires":[["1ca679cf.c2e04e"]]},{"id":"e91a7141.ad92b","type":"function","z":"91cd3a02.1e27b8","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":489.75,"y":153.75,"wires":[["1cec7120.70ae47"]]},{"id":"ff3851e2.96061","type":"function","z":"91cd3a02.1e27b8","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":488.75,"y":202.75,"wires":[["5d7daa96.9ab554","f9b59ee1.5c0fa"]]},{"id":"74b2367d.44954","type":"function","z":"91cd3a02.1e27b8","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":256.5,"wires":[["6cd4f44e.159ea4"]]},{"id":"64bf738b.e549b4","type":"function","z":"91cd3a02.1e27b8","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":485.25,"y":308.5,"wires":[["70fbe0a0.2aaa58"]]},{"id":"3e094321.7071ec","type":"function","z":"91cd3a02.1e27b8","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":486.75,"y":356.75,"wires":[["be81034f.f9b938","9ac0694e.0f955"]]},{"id":"9d5d1e57.813c28","type":"function","z":"91cd3a02.1e27b8","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":489.25,"y":409.5,"wires":[["d4b58c18.2d3f48"]]},{"id":"edc09713.5848d","type":"function","z":"91cd3a02.1e27b8","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":461.5,"wires":[["8b56cbfe.a81398"]]},{"id":"54b24f7.7b67ab","type":"join","z":"91cd3a02.1e27b8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1067.25,"y":173,"wires":[["b0c45ef6.1b1bf"]]},{"id":"5e5e4206.570fa4","type":"change","z":"91cd3a02.1e27b8","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":852.25,"y":51.25,"wires":[["54b24f7.7b67ab"]]},{"id":"f9b59ee1.5c0fa","type":"change","z":"91cd3a02.1e27b8","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":875.75,"y":188.75,"wires":[["54b24f7.7b67ab"]]},{"id":"9ac0694e.0f955","type":"change","z":"91cd3a02.1e27b8","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":855.75,"y":282.75,"wires":[["54b24f7.7b67ab"]]},{"id":"b0c45ef6.1b1bf","type":"change","z":"91cd3a02.1e27b8","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":380,"wires":[["ff2a8802.aa5c9"]]},{"id":"ff2a8802.aa5c9","type":"function","z":"91cd3a02.1e27b8","name":"Potência Total","func":"msg.topic = \"potência total\"\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":902,"y":546,"wires":[["8b9e0b6e.0a5a88"]]},{"id":"d4b43e95.0ab8a","type":"mqtt in","z":"c288d9d2.2e2ef","name":"","topic":"BLOCOC/JT310","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":100.88333129882812,"y":104,"wires":[["29169a38.587526","f0d15f6e.69b78","acab3f3d.a8864"]]},{"id":"d9a9fca9.fa871","type":"mqtt in","z":"c288d9d2.2e2ef","name":"","topic":"BLOCOC/JT311","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":106.38333129882812,"y":253,"wires":[["81bb6193.4d432","35a7bfa1.bd173","fc846967.28eec8"]]},{"id":"4950a7e1.29687","type":"mqtt in","z":"c288d9d2.2e2ef","name":"","topic":"BLOCOC/JT312","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":109.38333129882812,"y":404,"wires":[["93f114bc.33f9e8","bd131bc.04e4968","540f6c8e.8af6e4"]]},{"id":"5d233659.280c28","type":"function","z":"c288d9d2.2e2ef","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":490.6333312988281,"y":91,"wires":[["ace3b8c0.a56d28","975577b1.ac75e8"]]},{"id":"96b61470.aeb18","type":"function","z":"c288d9d2.2e2ef","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":487.1333312988281,"y":146.75,"wires":[["644fe653.a5c4"]]},{"id":"6a8d8bbd.e12b24","type":"function","z":"c288d9d2.2e2ef","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":492.1333312988281,"y":194.75,"wires":[["9cc50784.28614"]]},{"id":"6b403987.5c0208","type":"function","z":"c288d9d2.2e2ef","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":491.1333312988281,"y":243.75,"wires":[["a1876452.2e1dd","8bf4fa43.fd707"]]},{"id":"3d76376f.be6058","type":"function","z":"c288d9d2.2e2ef","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":490.6333312988281,"y":297.5,"wires":[["95f0775c.c27c7"]]},{"id":"8f9afc1d.8b437","type":"function","z":"c288d9d2.2e2ef","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":487.6333312988281,"y":349.5,"wires":[["cb7e167.17a7b68"]]},{"id":"9c32bbe6.b4b19","type":"function","z":"c288d9d2.2e2ef","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":489.1333312988281,"y":397.75,"wires":[["539dfdc5.8bc83c","9dd5315.05eb8d"]]},{"id":"fb5ebbfd.853988","type":"function","z":"c288d9d2.2e2ef","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":491.6333312988281,"y":450.5,"wires":[["f75a69da.d8cf78"]]},{"id":"63d6fd5c.9d5204","type":"function","z":"c288d9d2.2e2ef","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":490.6333312988281,"y":502.5,"wires":[["bcedd51e.f0a728"]]},{"id":"69d29733.d3eb3","type":"join","z":"c288d9d2.2e2ef","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1069.6333312988281,"y":214,"wires":[["ccd2f805.1cbd1"]]},{"id":"975577b1.ac75e8","type":"change","z":"c288d9d2.2e2ef","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":854.6333312988281,"y":92.25,"wires":[["69d29733.d3eb3"]]},{"id":"8bf4fa43.fd707","type":"change","z":"c288d9d2.2e2ef","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":878.1333312988281,"y":229.75,"wires":[["69d29733.d3eb3"]]},{"id":"9dd5315.05eb8d","type":"change","z":"c288d9d2.2e2ef","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":858.1333312988281,"y":323.75,"wires":[["69d29733.d3eb3"]]},{"id":"ccd2f805.1cbd1","type":"change","z":"c288d9d2.2e2ef","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":898.6333312988281,"y":464.25,"wires":[["2fb55ea2.86b53a"]]},{"id":"2fb55ea2.86b53a","type":"function","z":"c288d9d2.2e2ef","name":"Potência Total","func":"msg.topic = \"potência total\"\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":904.3833312988281,"y":587,"wires":[["5c0f65bf.020994"]]},{"id":"e9253390.3fda6","type":"mqtt in","z":"742426d4.db5398","name":"","topic":"BLOCOB/JT304","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":107.88333129882812,"y":88,"wires":[["f1e4db17.98976","c0669d44.5ea6e","53109da6.6fc45c"]]},{"id":"3bf6846c.b8d5dc","type":"mqtt in","z":"742426d4.db5398","name":"","topic":"BLOCOB/JT305","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":109.38333129882812,"y":232,"wires":[["c63a6ee7.9da608","2017e28f.ce5f1e","e8e92a99.cb391"]]},{"id":"df3226d.19f63d8","type":"mqtt in","z":"742426d4.db5398","name":"","topic":"BLOCOB/JT306","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":116.38333129882812,"y":387,"wires":[["d986dd78.3bc868","7173101.c857e7","e16e3954.dbb4b8"]]},{"id":"6f683606.d92408","type":"function","z":"742426d4.db5398","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":80,"wires":[["a21aa0b2.343358","3095558.52e532a"]]},{"id":"df27d407.365f2","type":"function","z":"742426d4.db5398","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":457.5,"y":132.75,"wires":[["45c6769b.77bdf"]]},{"id":"6cfe4f50.0a183","type":"function","z":"742426d4.db5398","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":461.5,"y":183.75,"wires":[["9a828615.16e7"]]},{"id":"911a71b0.fc5e1","type":"function","z":"742426d4.db5398","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":460.5,"y":232.75,"wires":[["fdb67ee8.fbe0a8","5e7f0713.79b7"]]},{"id":"7c24e5c1.f2e08c","type":"function","z":"742426d4.db5398","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":286.5,"wires":[["86741bae.1d4988"]]},{"id":"24cfd8bf.5add3","type":"function","z":"742426d4.db5398","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":457,"y":338.5,"wires":[["9a30fcb5.7d9fc8"]]},{"id":"87aa863c.80ae18","type":"function","z":"742426d4.db5398","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":458.5,"y":386.75,"wires":[["2f6b27c.920b958","23b89a97.db9696"]]},{"id":"10bd5e8.6c22822","type":"function","z":"742426d4.db5398","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":461,"y":439.5,"wires":[["9b48d011.dba278"]]},{"id":"58e0f655.dc4f98","type":"function","z":"742426d4.db5398","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":491.5,"wires":[["4968c0dd.36e06"]]},{"id":"5c1eb1c8.220268","type":"join","z":"742426d4.db5398","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1039,"y":203,"wires":[["9becca68.88ad5"]]},{"id":"3095558.52e532a","type":"change","z":"742426d4.db5398","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":824,"y":81.25,"wires":[["5c1eb1c8.220268"]]},{"id":"5e7f0713.79b7","type":"change","z":"742426d4.db5398","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":847.5,"y":218.75,"wires":[["5c1eb1c8.220268"]]},{"id":"23b89a97.db9696","type":"change","z":"742426d4.db5398","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":827.5,"y":312.75,"wires":[["5c1eb1c8.220268"]]},{"id":"9becca68.88ad5","type":"change","z":"742426d4.db5398","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":868,"y":453.25,"wires":[["97a96a1b.7dcb68"]]},{"id":"97a96a1b.7dcb68","type":"function","z":"742426d4.db5398","name":"Potência Total","func":"msg.topic = \"potência total\"\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":873.75,"y":576,"wires":[["76a16f7f.6df62"]]},{"id":"71d18793.d9edf8","type":"mqtt in","z":"f8cbf1e0.0e2af","name":"","topic":"BLOCOGUARITA/JT313","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":140.5,"y":69,"wires":[["d6d50534.a65698","927080d9.63444","62a2a293.659594"]]},{"id":"fa6e699f.b3aec8","type":"mqtt in","z":"f8cbf1e0.0e2af","name":"","topic":"BLOCOGUARITA/JT314","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":143,"y":205,"wires":[["24a2b515.0aa2ea","fbb80cc9.5a8a38","6369cf1d.de854"]]},{"id":"4c1bc8e7.228608","type":"function","z":"f8cbf1e0.0e2af","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":548.25,"y":50,"wires":[["f71b2d07.7c41b8","dbebf344.873418"]]},{"id":"f90dc866.6d10c","type":"function","z":"f8cbf1e0.0e2af","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":544.75,"y":105.75,"wires":[["75bc6755.8d2918"]]},{"id":"41d05625.7c825","type":"function","z":"f8cbf1e0.0e2af","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":549.75,"y":153.75,"wires":[["c1121248.717a2"]]},{"id":"1b02b7e1.65d5e8","type":"function","z":"f8cbf1e0.0e2af","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":548.75,"y":202.75,"wires":[["308f05ab.3d64c2","6282ca46.cbf00c"]]},{"id":"ec14072e.a66f28","type":"function","z":"f8cbf1e0.0e2af","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":548.25,"y":256.5,"wires":[["bd096031.cfbed"]]},{"id":"9e7430ac.663de","type":"function","z":"f8cbf1e0.0e2af","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":545.25,"y":308.5,"wires":[["a7fffa43.8155d8"]]},{"id":"5e20b264.d54ac4","type":"join","z":"f8cbf1e0.0e2af","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1127.25,"y":173,"wires":[["6d5c1d68.8b8bbc"]]},{"id":"dbebf344.873418","type":"change","z":"f8cbf1e0.0e2af","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":912.25,"y":51.25,"wires":[["5e20b264.d54ac4"]]},{"id":"6282ca46.cbf00c","type":"change","z":"f8cbf1e0.0e2af","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":935.75,"y":188.75,"wires":[["5e20b264.d54ac4"]]},{"id":"6d5c1d68.8b8bbc","type":"change","z":"f8cbf1e0.0e2af","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":956.25,"y":423.25,"wires":[["ed0c5993.c631f"]]},{"id":"ed0c5993.c631f","type":"function","z":"f8cbf1e0.0e2af","name":"Potência Total","func":"msg.topic = \"potência total\"\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":962,"y":546,"wires":[["b5c44e35.96d298"]]},{"id":"b714b7bf.648098","type":"mqtt in","z":"38ce0589.f38fb2","name":"","topic":"AREAEXTERNA/JT315","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":130.88333129882812,"y":104,"wires":[["e17933a4.b54a2","6046727.4810b0c","7ca5a9d8.e49278"]]},{"id":"7fd02908.48e18","type":"mqtt in","z":"38ce0589.f38fb2","name":"","topic":"AREAEXTERNA/JT316","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":136.38333129882812,"y":262,"wires":[["e08756e3.193c8","aeeec928.233698","fc982cee.ca528"]]},{"id":"ea394c71.37b8b8","type":"mqtt in","z":"38ce0589.f38fb2","name":"","topic":"AREAEXTERNA/JT317","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":139.38333129882812,"y":407,"wires":[["be2b9302.b36c58","4a8ac53e.6a9704","afd457b.48bcc28"]]},{"id":"4d3225c1.47dbd4","type":"function","z":"38ce0589.f38fb2","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":690.6333312988281,"y":91,"wires":[["819da732.fcfbf","903a3525.2b1fe8"]]},{"id":"df5f1db9.53f548","type":"function","z":"38ce0589.f38fb2","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":687.1333312988281,"y":146.75,"wires":[["aabb7a68.4da458"]]},{"id":"74b2bd83.932d8c","type":"function","z":"38ce0589.f38fb2","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":692.1333312988281,"y":194.75,"wires":[["ee7499d0.4c409"]]},{"id":"b16e45ed.fff0f","type":"function","z":"38ce0589.f38fb2","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":691.1333312988281,"y":243.75,"wires":[["8ca710af.c8e5b8","aa3beedd.adeaf"]]},{"id":"fd38c941.de8538","type":"function","z":"38ce0589.f38fb2","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":690.6333312988281,"y":297.5,"wires":[["cb154205.e1e0d8"]]},{"id":"55948143.75bf08","type":"function","z":"38ce0589.f38fb2","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":687.6333312988281,"y":349.5,"wires":[["636b0205.2b155c"]]},{"id":"fb24d63b.e65fe8","type":"function","z":"38ce0589.f38fb2","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":689.1333312988281,"y":397.75,"wires":[["549ed87b.8e2f7","e6b88923.d10118"]]},{"id":"fc2a660a.5999a8","type":"function","z":"38ce0589.f38fb2","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":691.6333312988281,"y":450.5,"wires":[["a4fd68a0.4681a8"]]},{"id":"e2716041.a291a","type":"function","z":"38ce0589.f38fb2","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":690.6333312988281,"y":502.5,"wires":[["6c06ff6c.0b1908"]]},{"id":"dd30fde3.fc7658","type":"join","z":"38ce0589.f38fb2","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1269.6333312988281,"y":214,"wires":[["1b6b3210.aaf356"]]},{"id":"903a3525.2b1fe8","type":"change","z":"38ce0589.f38fb2","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1054.6333312988281,"y":92.25,"wires":[["dd30fde3.fc7658"]]},{"id":"aa3beedd.adeaf","type":"change","z":"38ce0589.f38fb2","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1078.1333312988281,"y":229.75,"wires":[["dd30fde3.fc7658"]]},{"id":"e6b88923.d10118","type":"change","z":"38ce0589.f38fb2","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1058.1333312988281,"y":323.75,"wires":[["dd30fde3.fc7658"]]},{"id":"1b6b3210.aaf356","type":"change","z":"38ce0589.f38fb2","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1098.6333312988281,"y":464.25,"wires":[["7d4bc08d.4c8148"]]},{"id":"7d4bc08d.4c8148","type":"function","z":"38ce0589.f38fb2","name":"Potência Total","func":"msg.topic = \"potência total\"\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1104.3833312988281,"y":587,"wires":[["41ab5ec7.9eeb"]]},{"id":"82c35cd5.5751a","type":"mqtt in","z":"4f066463.e70524","name":"","topic":"OFICINA/JT318","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":107.88333129882812,"y":102,"wires":[["5d805ac3.594f5c","8c4e6b6a.940d8","d2c2b6cc.c3e068"]]},{"id":"68f1338.9fd6d4c","type":"mqtt in","z":"4f066463.e70524","name":"","topic":"OFICINA/JT319","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":100,"y":240,"wires":[["e3b3798.78fb388","b0b91029.fc5d6","af04c542.7755f"]]},{"id":"1917c99d.ff2986","type":"mqtt in","z":"4f066463.e70524","name":"","topic":"OFICINA/JT320","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":100,"y":380,"wires":[["47f2393c.37aae8","384a694d.1eb416","d4caaf77.052e2"]]},{"id":"9e972c87.de7cd","type":"function","z":"4f066463.e70524","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":80,"wires":[["710292fa.d18d14","1244c301.376d6d"]]},{"id":"bfca0650.f1e728","type":"function","z":"4f066463.e70524","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":596.5,"y":135.75,"wires":[["a8c6998a.8c702"]]},{"id":"5b6ffe16.457e08","type":"function","z":"4f066463.e70524","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":180,"wires":[["73e7ca16.d6fc54"]]},{"id":"c3bc0978.b5f75","type":"function","z":"4f066463.e70524","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":600.5,"y":232.75,"wires":[["f04f513a.76e598","136b3436.e7676c"]]},{"id":"5fe4b9d6.9563b8","type":"function","z":"4f066463.e70524","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":286.5,"wires":[["5a7bacdf.5e5dec"]]},{"id":"6071fad4.66bd84","type":"function","z":"4f066463.e70524","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":597,"y":338.5,"wires":[["40b330b5.175f68"]]},{"id":"13ecc46a.d8af14","type":"function","z":"4f066463.e70524","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":598.5,"y":386.75,"wires":[["ea998c8d.a36108","83c6e93d.4c2b88"]]},{"id":"2b3bad4c.d2092a","type":"function","z":"4f066463.e70524","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":601,"y":439.5,"wires":[["865f5bad.2288c"]]},{"id":"6cb1c866.f537f","type":"function","z":"4f066463.e70524","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":600,"y":491.5,"wires":[["6ff88ea7.f17648"]]},{"id":"6854a3c3.950534","type":"join","z":"4f066463.e70524","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1179,"y":203,"wires":[["26831e5d.c83b8a"]]},{"id":"1244c301.376d6d","type":"change","z":"4f066463.e70524","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":964,"y":81.25,"wires":[["6854a3c3.950534"]]},{"id":"136b3436.e7676c","type":"change","z":"4f066463.e70524","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":987.5,"y":218.75,"wires":[["6854a3c3.950534"]]},{"id":"83c6e93d.4c2b88","type":"change","z":"4f066463.e70524","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":967.5,"y":312.75,"wires":[["6854a3c3.950534"]]},{"id":"26831e5d.c83b8a","type":"change","z":"4f066463.e70524","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1008,"y":453.25,"wires":[["1b40335.6e814cd"]]},{"id":"1b40335.6e814cd","type":"function","z":"4f066463.e70524","name":"Potência Total","func":"msg.topic = \"potência total\"\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":1013.75,"y":576,"wires":[["52b98917.0a562"]]},{"id":"bec5a9b8.aa928","type":"mqtt in","z":"dfec6628.52507","name":"","topic":"BLOCOB/JT307","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":118.5,"y":61,"wires":[["6eee6efb.103a18","ede734b.60175c8","94bc1447.8b7a18"]]},{"id":"ba104c2c.dbdca8","type":"mqtt in","z":"dfec6628.52507","name":"","topic":"BLOCOB/JT308","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":124,"y":210,"wires":[["2ecc726f.881e6e","2fccc8dd.412bd8","1b9883f1.a88e3c"]]},{"id":"11ecda4b.07cc76","type":"mqtt in","z":"dfec6628.52507","name":"","topic":"BLOCOB/JT309","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":127,"y":367,"wires":[["225ac300.5c9946","d9f2671a.5f3658","6e72fe6e.8ab08"]]},{"id":"f39eeaa5.67f65","type":"function","z":"dfec6628.52507","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":50,"wires":[["815a4b2e.541db","36f01bd2.92bf1c"]]},{"id":"99fb7522.10b6e8","type":"function","z":"dfec6628.52507","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":484.75,"y":105.75,"wires":[["ca71d86b.1b30d"]]},{"id":"8b72dfaa.ca6248","type":"function","z":"dfec6628.52507","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":489.75,"y":153.75,"wires":[["17d4fb.54e2f306"]]},{"id":"81d2822e.64ff6","type":"function","z":"dfec6628.52507","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":488.75,"y":202.75,"wires":[["63164276.b0f41c","eb2a5ab8.df1468"]]},{"id":"21b9c929.d09916","type":"function","z":"dfec6628.52507","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":256.5,"wires":[["d5841936.504128"]]},{"id":"c9a1d587.26dac8","type":"function","z":"dfec6628.52507","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":485.25,"y":308.5,"wires":[["46a66d58.c0df2c"]]},{"id":"6c6d783.2ba0208","type":"function","z":"dfec6628.52507","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":486.75,"y":356.75,"wires":[["365a374e.aa2ee","7c94006f.8860c"]]},{"id":"7c8f0a4e.4b1104","type":"function","z":"dfec6628.52507","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":489.25,"y":409.5,"wires":[["c6f1a353.297f18"]]},{"id":"b65b2cfa.fca028","type":"function","z":"dfec6628.52507","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":461.5,"wires":[["42e4d002.2008"]]},{"id":"52e7ae1.e9ddf5","type":"join","z":"dfec6628.52507","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1067.25,"y":173,"wires":[["c380bb8.af8d548"]]},{"id":"36f01bd2.92bf1c","type":"change","z":"dfec6628.52507","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":852.25,"y":51.25,"wires":[["52e7ae1.e9ddf5"]]},{"id":"eb2a5ab8.df1468","type":"change","z":"dfec6628.52507","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":875.75,"y":188.75,"wires":[["52e7ae1.e9ddf5"]]},{"id":"7c94006f.8860c","type":"change","z":"dfec6628.52507","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":855.75,"y":282.75,"wires":[["52e7ae1.e9ddf5"]]},{"id":"c380bb8.af8d548","type":"change","z":"dfec6628.52507","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":896.25,"y":423.25,"wires":[["56fc13b7.5dacf4"]]},{"id":"56fc13b7.5dacf4","type":"function","z":"dfec6628.52507","name":"Potência Total","func":"msg.topic = \"potência total\"\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":902,"y":546,"wires":[["7ca46aa.43f2d94"]]},{"id":"9464ed94.47401","type":"mqtt in","z":"d4cc931d.e833d8","name":"","topic":"ESTUFA/JT321","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":115.5,"y":33,"wires":[["b1119994.7ba4f8","4b637f61.43bc28","f6a9d10f.5061d8"]]},{"id":"a71fee3a.97942","type":"mqtt in","z":"d4cc931d.e833d8","name":"","topic":"ESTUFA/JT322","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":121,"y":182,"wires":[["d97cb5c6.70a55","692703eb.a9293c","72939072.054178"]]},{"id":"fbf592dd.cf4bf","type":"mqtt in","z":"d4cc931d.e833d8","name":"","topic":"ESTUFA/JT323","qos":"0","datatype":"json","broker":"a93a8e37.84c1d","x":124,"y":339,"wires":[["fa67cde3.a6865","5e223893.47d708","700d67e3.d1276"]]},{"id":"8209a723.165758","type":"function","z":"d4cc931d.e833d8","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":30,"wires":[["71f86cd5.d7bcac","38a23f1d.bacc8"]]},{"id":"28be6133.7adb46","type":"function","z":"d4cc931d.e833d8","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":484.75,"y":85.75,"wires":[["d2a64e32.476bb8"]]},{"id":"c07b2633.07408","type":"function","z":"d4cc931d.e833d8","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":489.75,"y":133.75,"wires":[["3fb2b533.7065f2"]]},{"id":"79948e3e.c17dc8","type":"function","z":"d4cc931d.e833d8","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":488.75,"y":182.75,"wires":[["59a5c564.e1627c","614a8487.e49bbc"]]},{"id":"97369801.c489a","type":"function","z":"d4cc931d.e833d8","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":236.5,"wires":[["c4cf7933.1daab8"]]},{"id":"bbfba3e1.9b244","type":"function","z":"d4cc931d.e833d8","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":485.25,"y":288.5,"wires":[["301425cc.250512"]]},{"id":"24c5a791.39a378","type":"function","z":"d4cc931d.e833d8","name":"Pot_Inst","func":"msg.payload = parseFloat(msg.payload.Pot_Inst);\nreturn msg;","outputs":1,"noerr":0,"x":486.75,"y":336.75,"wires":[["3c7a6be2.6c1de4","98a610f8.87aed8"]]},{"id":"79415332.b57944","type":"function","z":"d4cc931d.e833d8","name":"Corrente","func":"msg.payload = parseFloat(msg.payload.Corrente);\nreturn msg;","outputs":1,"noerr":0,"x":489.25,"y":389.5,"wires":[["e41ea55.e281dd8"]]},{"id":"9a8db5d5.b85b7","type":"function","z":"d4cc931d.e833d8","name":"Tensao","func":"msg.payload = parseFloat(msg.payload.Tensao);\nreturn msg;","outputs":1,"noerr":0,"x":488.25,"y":441.5,"wires":[["b8c85fba.a96338"]]},{"id":"bcb4404a.7810c8","type":"join","z":"d4cc931d.e833d8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"parts","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"3","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1074.25,"y":145,"wires":[["eb6a439a.2884f"]]},{"id":"38a23f1d.bacc8","type":"change","z":"d4cc931d.e833d8","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":852.25,"y":31.25,"wires":[["bcb4404a.7810c8"]]},{"id":"614a8487.e49bbc","type":"change","z":"d4cc931d.e833d8","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"2","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":875.75,"y":168.75,"wires":[["bcb4404a.7810c8"]]},{"id":"98a610f8.87aed8","type":"change","z":"d4cc931d.e833d8","name":"","rules":[{"t":"set","p":"parts","pt":"msg","to":"3","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":855.75,"y":262.75,"wires":[["bcb4404a.7810c8"]]},{"id":"eb6a439a.2884f","type":"change","z":"d4cc931d.e833d8","name":"$sum(payload)","rules":[{"t":"set","p":"payload","pt":"msg","to":"$sum(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":896.25,"y":403.25,"wires":[["9db1443f.9b3428"]]},{"id":"9db1443f.9b3428","type":"function","z":"d4cc931d.e833d8","name":"Potência Total","func":"msg.topic = \"potência total\"\nmsg.payload = parseFloat(msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":842,"y":526,"wires":[["96afd672.d69228"]]},{"id":"1cec7120.70ae47","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":8,"width":2,"height":2,"gtype":"gage","title":"Tensão R","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":686.5,"y":164,"wires":[]},{"id":"1ca679cf.c2e04e","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":5,"width":2,"height":2,"gtype":"gage","title":"Corrente R","label":"A","format":"{{value}}","min":"0","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":693,"y":121,"wires":[]},{"id":"70fbe0a0.2aaa58","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":9,"width":2,"height":2,"gtype":"gage","title":"Tensão S","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":693,"y":314,"wires":[]},{"id":"6cd4f44e.159ea4","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":6,"width":2,"height":2,"gtype":"gage","title":"Corrente S","label":"A","format":"{{value}}","min":"0","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":703.5,"y":264,"wires":[]},{"id":"8b56cbfe.a81398","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":10,"width":2,"height":2,"gtype":"gage","title":"Tensão T","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":697,"y":467,"wires":[]},{"id":"d4b58c18.2d3f48","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":7,"width":2,"height":2,"gtype":"gage","title":"Corrente T","label":"A","format":"{{value}}","min":"0","max":"90","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":705.5,"y":413,"wires":[]},{"id":"44d82923.bb0f98","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":2,"width":2,"height":2,"gtype":"gage","title":"Potência R","label":"kW","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.75,"y":73.75,"wires":[]},{"id":"5d7daa96.9ab554","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":3,"width":2,"height":2,"gtype":"gage","title":"Potência S","label":"kW","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.75,"y":215.75,"wires":[]},{"id":"be81034f.f9b938","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":4,"width":2,"height":2,"gtype":"gage","title":"Potência T","label":"kW","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.75,"y":367.75,"wires":[]},{"id":"8b9e0b6e.0a5a88","type":"ui_gauge","z":"91cd3a02.1e27b8","name":"","group":"29def666.07279a","order":1,"width":"0","height":"0","gtype":"gage","title":"Potência total","label":"kW","format":"{{value|number:2}}","min":"0","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1150,"y":300,"wires":[]},{"id":"9cc50784.28614","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":8,"width":2,"height":2,"gtype":"gage","title":"Tensão R","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":688.8833312988281,"y":205,"wires":[]},{"id":"644fe653.a5c4","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":5,"width":2,"height":2,"gtype":"gage","title":"Corrente R","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":695.3833312988281,"y":162,"wires":[]},{"id":"cb7e167.17a7b68","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":9,"width":2,"height":2,"gtype":"gage","title":"Tensão S","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":695.3833312988281,"y":355,"wires":[]},{"id":"95f0775c.c27c7","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":6,"width":2,"height":2,"gtype":"gage","title":"Corrente S","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":705.8833312988281,"y":305,"wires":[]},{"id":"bcedd51e.f0a728","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":10,"width":2,"height":2,"gtype":"gage","title":"Tensão T","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":699.3833312988281,"y":508,"wires":[]},{"id":"f75a69da.d8cf78","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":7,"width":2,"height":2,"gtype":"gage","title":"Corrente T","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":707.8833312988281,"y":454,"wires":[]},{"id":"ace3b8c0.a56d28","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":2,"width":2,"height":2,"gtype":"gage","title":"Potência R","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.1333312988281,"y":114.75,"wires":[]},{"id":"a1876452.2e1dd","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":3,"width":2,"height":2,"gtype":"gage","title":"Potência S","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.1333312988281,"y":256.75,"wires":[]},{"id":"539dfdc5.8bc83c","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":4,"width":2,"height":2,"gtype":"gage","title":"Potência T","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":704.1333312988281,"y":408.75,"wires":[]},{"id":"5c0f65bf.020994","type":"ui_gauge","z":"c288d9d2.2e2ef","name":"","group":"8960b541.20f29","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência total","label":"kW","format":"{{value|number:2}}","min":"0","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100,"y":360,"wires":[]},{"id":"9a828615.16e7","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":8,"width":2,"height":2,"gtype":"gage","title":"Tensão R","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":658.25,"y":194,"wires":[]},{"id":"45c6769b.77bdf","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":5,"width":2,"height":2,"gtype":"gage","title":"Corrente R","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":664.75,"y":151,"wires":[]},{"id":"9a30fcb5.7d9fc8","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":9,"width":2,"height":2,"gtype":"gage","title":"Tensão S","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":664.75,"y":344,"wires":[]},{"id":"86741bae.1d4988","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":6,"width":2,"height":2,"gtype":"gage","title":"Corrente S","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":675.25,"y":294,"wires":[]},{"id":"4968c0dd.36e06","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":10,"width":2,"height":2,"gtype":"gage","title":"Tensão T","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":668.75,"y":497,"wires":[]},{"id":"9b48d011.dba278","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":7,"width":2,"height":2,"gtype":"gage","title":"Corrente T","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":677.25,"y":443,"wires":[]},{"id":"a21aa0b2.343358","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":2,"width":2,"height":2,"gtype":"gage","title":"Potência R","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670.5,"y":103.75,"wires":[]},{"id":"fdb67ee8.fbe0a8","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":3,"width":2,"height":2,"gtype":"gage","title":"Potência S","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":670.5,"y":245.75,"wires":[]},{"id":"2f6b27c.920b958","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":4,"width":2,"height":2,"gtype":"gage","title":"Potência T","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":673.5,"y":397.75,"wires":[]},{"id":"76a16f7f.6df62","type":"ui_gauge","z":"742426d4.db5398","name":"","group":"f55306c1.62b4d","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência total","label":"kW","format":"{{value|number:2}}","min":"0","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1100.5,"y":345.75,"wires":[]},{"id":"c1121248.717a2","type":"ui_gauge","z":"f8cbf1e0.0e2af","name":"","group":"6b6d092e.a751c8","order":10,"width":2,"height":2,"gtype":"gage","title":"Tensão R","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":746.5,"y":164,"wires":[]},{"id":"75bc6755.8d2918","type":"ui_gauge","z":"f8cbf1e0.0e2af","name":"","group":"6b6d092e.a751c8","order":6,"width":2,"height":2,"gtype":"gage","title":"Corrente R","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":753,"y":121,"wires":[]},{"id":"a7fffa43.8155d8","type":"ui_gauge","z":"f8cbf1e0.0e2af","name":"","group":"6b6d092e.a751c8","order":11,"width":2,"height":2,"gtype":"gage","title":"Tensão S","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":753,"y":314,"wires":[]},{"id":"bd096031.cfbed","type":"ui_gauge","z":"f8cbf1e0.0e2af","name":"","group":"6b6d092e.a751c8","order":7,"width":2,"height":2,"gtype":"gage","title":"Corrente S","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":763.5,"y":264,"wires":[]},{"id":"f71b2d07.7c41b8","type":"ui_gauge","z":"f8cbf1e0.0e2af","name":"","group":"6b6d092e.a751c8","order":2,"width":2,"height":2,"gtype":"gage","title":"Potência R","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":758.75,"y":73.75,"wires":[]},{"id":"308f05ab.3d64c2","type":"ui_gauge","z":"f8cbf1e0.0e2af","name":"","group":"6b6d092e.a751c8","order":3,"width":2,"height":2,"gtype":"gage","title":"Potência S","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":758.75,"y":215.75,"wires":[]},{"id":"b5c44e35.96d298","type":"ui_gauge","z":"f8cbf1e0.0e2af","name":"","group":"6b6d092e.a751c8","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência total","label":"kW","format":"{{value|number:2}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1188.75,"y":315.75,"wires":[]},{"id":"ee7499d0.4c409","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":8,"width":2,"height":2,"gtype":"gage","title":"Tensão R","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":888.8833312988281,"y":205,"wires":[]},{"id":"aabb7a68.4da458","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":5,"width":2,"height":2,"gtype":"gage","title":"Corrente R","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":895.3833312988281,"y":162,"wires":[]},{"id":"636b0205.2b155c","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":9,"width":2,"height":2,"gtype":"gage","title":"Tensão S","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":895.3833312988281,"y":355,"wires":[]},{"id":"cb154205.e1e0d8","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":6,"width":2,"height":2,"gtype":"gage","title":"Corrente S","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":905.8833312988281,"y":305,"wires":[]},{"id":"6c06ff6c.0b1908","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":10,"width":2,"height":2,"gtype":"gage","title":"Tensão T","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":899.3833312988281,"y":508,"wires":[]},{"id":"a4fd68a0.4681a8","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":7,"width":2,"height":2,"gtype":"gage","title":"Corrente T","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":907.8833312988281,"y":454,"wires":[]},{"id":"819da732.fcfbf","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":2,"width":2,"height":2,"gtype":"gage","title":"Potência R","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":901.1333312988281,"y":114.75,"wires":[]},{"id":"8ca710af.c8e5b8","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":3,"width":2,"height":2,"gtype":"gage","title":"Potência S","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":901.1333312988281,"y":256.75,"wires":[]},{"id":"549ed87b.8e2f7","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":4,"width":2,"height":2,"gtype":"gage","title":"Potência T","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":904.1333312988281,"y":408.75,"wires":[]},{"id":"41ab5ec7.9eeb","type":"ui_gauge","z":"38ce0589.f38fb2","name":"","group":"66a10e50.05eed8","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência total","label":"kW","format":"{{value|number:2}}","min":"0","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1331.1333312988281,"y":356.75,"wires":[]},{"id":"73e7ca16.d6fc54","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":8,"width":2,"height":2,"gtype":"gage","title":"Tensão R","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":798.25,"y":194,"wires":[]},{"id":"a8c6998a.8c702","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":5,"width":2,"height":2,"gtype":"gage","title":"Corrente R","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":804.75,"y":151,"wires":[]},{"id":"40b330b5.175f68","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":9,"width":2,"height":2,"gtype":"gage","title":"Tensão S","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":804.75,"y":344,"wires":[]},{"id":"5a7bacdf.5e5dec","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":6,"width":2,"height":2,"gtype":"gage","title":"Corrente S","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":815.25,"y":294,"wires":[]},{"id":"6ff88ea7.f17648","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":10,"width":2,"height":2,"gtype":"gage","title":"Tensão T","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":808.75,"y":497,"wires":[]},{"id":"865f5bad.2288c","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":7,"width":2,"height":2,"gtype":"gage","title":"Corrente T","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":817.25,"y":443,"wires":[]},{"id":"710292fa.d18d14","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":2,"width":2,"height":2,"gtype":"gage","title":"Potência R","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810.5,"y":103.75,"wires":[]},{"id":"f04f513a.76e598","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":3,"width":2,"height":2,"gtype":"gage","title":"Potência S","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":810.5,"y":245.75,"wires":[]},{"id":"ea998c8d.a36108","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":4,"width":2,"height":2,"gtype":"gage","title":"Potência T","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":813.5,"y":397.75,"wires":[]},{"id":"52b98917.0a562","type":"ui_gauge","z":"4f066463.e70524","name":"","group":"43adc6dc.8674c","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência total","label":"kW","format":"{{value|number:2}}","min":"0","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1240.5,"y":345.75,"wires":[]},{"id":"17d4fb.54e2f306","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":8,"width":2,"height":2,"gtype":"gage","title":"Tensão R","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":686.5,"y":164,"wires":[]},{"id":"ca71d86b.1b30d","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":5,"width":2,"height":2,"gtype":"gage","title":"Corrente R","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":693,"y":121,"wires":[]},{"id":"46a66d58.c0df2c","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":9,"width":2,"height":2,"gtype":"gage","title":"Tensão S","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":693,"y":314,"wires":[]},{"id":"d5841936.504128","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":6,"width":2,"height":2,"gtype":"gage","title":"Corrente S","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":703.5,"y":264,"wires":[]},{"id":"42e4d002.2008","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":10,"width":2,"height":2,"gtype":"gage","title":"Tensão T","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":697,"y":467,"wires":[]},{"id":"c6f1a353.297f18","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":7,"width":2,"height":2,"gtype":"gage","title":"Corrente T","label":"A","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":705.5,"y":413,"wires":[]},{"id":"815a4b2e.541db","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":2,"width":2,"height":2,"gtype":"gage","title":"Potência R","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.75,"y":73.75,"wires":[]},{"id":"63164276.b0f41c","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":3,"width":2,"height":2,"gtype":"gage","title":"Potência S","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.75,"y":215.75,"wires":[]},{"id":"365a374e.aa2ee","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":4,"width":2,"height":2,"gtype":"gage","title":"Potência T","label":"kW","format":"{{value}}","min":"0","max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.75,"y":367.75,"wires":[]},{"id":"7ca46aa.43f2d94","type":"ui_gauge","z":"dfec6628.52507","name":"","group":"853ee766.0efd18","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência total","label":"kW","format":"{{value|number:2}}","min":"0","max":"15","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1128.75,"y":315.75,"wires":[]},{"id":"3fb2b533.7065f2","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":8,"width":2,"height":2,"gtype":"gage","title":"Tensão R","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":686.5,"y":144,"wires":[]},{"id":"d2a64e32.476bb8","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":5,"width":2,"height":2,"gtype":"gage","title":"Corrente R","label":"A","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":693,"y":101,"wires":[]},{"id":"301425cc.250512","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":9,"width":2,"height":2,"gtype":"gage","title":"Tensão S","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":693,"y":294,"wires":[]},{"id":"c4cf7933.1daab8","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":6,"width":2,"height":2,"gtype":"gage","title":"Corrente S","label":"A","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":703.5,"y":244,"wires":[]},{"id":"b8c85fba.a96338","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":10,"width":2,"height":2,"gtype":"gage","title":"Tensão T","label":"Vca","format":"{{value}}","min":"100","max":"140","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":697,"y":447,"wires":[]},{"id":"e41ea55.e281dd8","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":7,"width":2,"height":2,"gtype":"gage","title":"Corrente T","label":"A","format":"{{value}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":705.5,"y":393,"wires":[]},{"id":"71f86cd5.d7bcac","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":2,"width":2,"height":2,"gtype":"gage","title":"Potência R","label":"kW","format":"{{value}}","min":"0","max":"30","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.75,"y":53.75,"wires":[]},{"id":"59a5c564.e1627c","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":3,"width":2,"height":2,"gtype":"gage","title":"Potência S","label":"kW","format":"{{value}}","min":"0","max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":698.75,"y":195.75,"wires":[]},{"id":"3c7a6be2.6c1de4","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":4,"width":2,"height":2,"gtype":"gage","title":"Potência T","label":"kW","format":"{{value}}","min":"0","max":"3","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":701.75,"y":347.75,"wires":[]},{"id":"96afd672.d69228","type":"ui_gauge","z":"d4cc931d.e833d8","name":"","group":"ff44fe76.046b","order":1,"width":0,"height":0,"gtype":"gage","title":"Potência total","label":"kW","format":"{{value|number:2}}","min":"0","max":"10","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":1128.75,"y":295.75,"wires":[]},{"id":"f1e4db17.98976","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":80,"wires":[["6f683606.d92408"]]},{"id":"c0669d44.5ea6e","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":311,"y":132,"wires":[["df27d407.365f2"]]},{"id":"53109da6.6fc45c","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":312,"y":183,"wires":[["6cfe4f50.0a183"]]},{"id":"c63a6ee7.9da608","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":307,"y":235,"wires":[["911a71b0.fc5e1"]]},{"id":"2017e28f.ce5f1e","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":308,"y":287,"wires":[["7c24e5c1.f2e08c"]]},{"id":"e8e92a99.cb391","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":309,"y":338,"wires":[["24cfd8bf.5add3"]]},{"id":"d986dd78.3bc868","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":308,"y":387,"wires":[["87aa863c.80ae18"]]},{"id":"7173101.c857e7","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":309,"y":439,"wires":[["10bd5e8.6c22822"]]},{"id":"e16e3954.dbb4b8","type":"delay","z":"742426d4.db5398","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":310,"y":490,"wires":[["58e0f655.dc4f98"]]},{"id":"a70a24ae.5ee368","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":53,"wires":[["555033ae.9e90cc"]]},{"id":"426f9c4f.c321dc","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":331,"y":105,"wires":[["65fb9d57.5dc60c"]]},{"id":"41621076.fd681","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":332,"y":156,"wires":[["e91a7141.ad92b"]]},{"id":"56eb8ab3.8d1a5c","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":327,"y":208,"wires":[["ff3851e2.96061"]]},{"id":"4e9df0f0.706f78","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":328,"y":260,"wires":[["74b2367d.44954"]]},{"id":"5eeadb96.917bfc","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":329,"y":311,"wires":[["64bf738b.e549b4"]]},{"id":"97e50d2b.4ce118","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":328,"y":360,"wires":[["3e094321.7071ec"]]},{"id":"3e80e969.e20fde","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":329,"y":412,"wires":[["9d5d1e57.813c28"]]},{"id":"8e97202c.92c37","type":"delay","z":"91cd3a02.1e27b8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":463,"wires":[["edc09713.5848d"]]},{"id":"94bc1447.8b7a18","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":315,"y":50,"wires":[["f39eeaa5.67f65"]]},{"id":"ede734b.60175c8","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":316,"y":102,"wires":[["99fb7522.10b6e8"]]},{"id":"6eee6efb.103a18","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":317,"y":153,"wires":[["8b72dfaa.ca6248"]]},{"id":"1b9883f1.a88e3c","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":312,"y":205,"wires":[["81d2822e.64ff6"]]},{"id":"2fccc8dd.412bd8","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":313,"y":257,"wires":[["21b9c929.d09916"]]},{"id":"2ecc726f.881e6e","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":314,"y":308,"wires":[["c9a1d587.26dac8"]]},{"id":"6e72fe6e.8ab08","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":313,"y":357,"wires":[["6c6d783.2ba0208"]]},{"id":"d9f2671a.5f3658","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":314,"y":409,"wires":[["7c8f0a4e.4b1104"]]},{"id":"225ac300.5c9946","type":"delay","z":"dfec6628.52507","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":315,"y":460,"wires":[["b65b2cfa.fca028"]]},{"id":"29169a38.587526","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":316,"y":94,"wires":[["5d233659.280c28"]]},{"id":"f0d15f6e.69b78","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":317,"y":146,"wires":[["96b61470.aeb18"]]},{"id":"acab3f3d.a8864","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":318,"y":197,"wires":[["6a8d8bbd.e12b24"]]},{"id":"81bb6193.4d432","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":313,"y":249,"wires":[["6b403987.5c0208"]]},{"id":"35a7bfa1.bd173","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":314,"y":301,"wires":[["3d76376f.be6058"]]},{"id":"fc846967.28eec8","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":315,"y":352,"wires":[["8f9afc1d.8b437"]]},{"id":"93f114bc.33f9e8","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":314,"y":401,"wires":[["9c32bbe6.b4b19"]]},{"id":"bd131bc.04e4968","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":315,"y":453,"wires":[["fb5ebbfd.853988"]]},{"id":"540f6c8e.8af6e4","type":"delay","z":"c288d9d2.2e2ef","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":316,"y":504,"wires":[["63d6fd5c.9d5204"]]},{"id":"d6d50534.a65698","type":"delay","z":"f8cbf1e0.0e2af","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":377,"y":54,"wires":[["4c1bc8e7.228608"]]},{"id":"927080d9.63444","type":"delay","z":"f8cbf1e0.0e2af","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":378,"y":106,"wires":[["f90dc866.6d10c"]]},{"id":"62a2a293.659594","type":"delay","z":"f8cbf1e0.0e2af","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":379,"y":157,"wires":[["41d05625.7c825"]]},{"id":"24a2b515.0aa2ea","type":"delay","z":"f8cbf1e0.0e2af","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":374,"y":209,"wires":[["1b02b7e1.65d5e8"]]},{"id":"fbb80cc9.5a8a38","type":"delay","z":"f8cbf1e0.0e2af","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":375,"y":261,"wires":[["ec14072e.a66f28"]]},{"id":"6369cf1d.de854","type":"delay","z":"f8cbf1e0.0e2af","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":376,"y":312,"wires":[["9e7430ac.663de"]]},{"id":"e17933a4.b54a2","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":96,"wires":[["4d3225c1.47dbd4"]]},{"id":"6046727.4810b0c","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":511,"y":148,"wires":[["df5f1db9.53f548"]]},{"id":"7ca5a9d8.e49278","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":512,"y":199,"wires":[["74b2bd83.932d8c"]]},{"id":"e08756e3.193c8","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":507,"y":251,"wires":[["b16e45ed.fff0f"]]},{"id":"aeeec928.233698","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":508,"y":303,"wires":[["fd38c941.de8538"]]},{"id":"fc982cee.ca528","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":509,"y":354,"wires":[["55948143.75bf08"]]},{"id":"be2b9302.b36c58","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":508,"y":403,"wires":[["fb24d63b.e65fe8"]]},{"id":"4a8ac53e.6a9704","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":509,"y":455,"wires":[["fc2a660a.5999a8"]]},{"id":"afd457b.48bcc28","type":"delay","z":"38ce0589.f38fb2","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":510,"y":506,"wires":[["e2716041.a291a"]]},{"id":"5d805ac3.594f5c","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":80,"wires":[["9e972c87.de7cd"]]},{"id":"8c4e6b6a.940d8","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":431,"y":132,"wires":[["bfca0650.f1e728"]]},{"id":"d2c2b6cc.c3e068","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":432,"y":183,"wires":[["5b6ffe16.457e08"]]},{"id":"e3b3798.78fb388","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":427,"y":235,"wires":[["c3bc0978.b5f75"]]},{"id":"b0b91029.fc5d6","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":428,"y":287,"wires":[["5fe4b9d6.9563b8"]]},{"id":"af04c542.7755f","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":429,"y":338,"wires":[["6071fad4.66bd84"]]},{"id":"47f2393c.37aae8","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":428,"y":387,"wires":[["13ecc46a.d8af14"]]},{"id":"384a694d.1eb416","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":429,"y":439,"wires":[["2b3bad4c.d2092a"]]},{"id":"d4caaf77.052e2","type":"delay","z":"4f066463.e70524","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":430,"y":490,"wires":[["6cb1c866.f537f"]]},{"id":"b1119994.7ba4f8","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":29,"wires":[["8209a723.165758"]]},{"id":"4b637f61.43bc28","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":331,"y":81,"wires":[["28be6133.7adb46"]]},{"id":"f6a9d10f.5061d8","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":332,"y":132,"wires":[["c07b2633.07408"]]},{"id":"d97cb5c6.70a55","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":327,"y":184,"wires":[["79948e3e.c17dc8"]]},{"id":"692703eb.a9293c","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":328,"y":236,"wires":[["97369801.c489a"]]},{"id":"72939072.054178","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":329,"y":287,"wires":[["bbfba3e1.9b244"]]},{"id":"fa67cde3.a6865","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":328,"y":336,"wires":[["24c5a791.39a378"]]},{"id":"5e223893.47d708","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":329,"y":388,"wires":[["79415332.b57944"]]},{"id":"700d67e3.d1276","type":"delay","z":"d4cc931d.e833d8","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"5","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":330,"y":439,"wires":[["9a8db5d5.b85b7"]]},{"id":"41c6e8cc.f700c8","type":"debug","z":"38ce0589.f38fb2","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":570,"y":660,"wires":[]}]